<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@ViewData["Title"] - Indo European</title>
    <meta name="description" content="@ViewData["Description"]">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="~/assets/images/favicon.png">
    <!-- CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/assets/css/vendor/bootstrap.min.css">
    <link rel="stylesheet" href="~/assets/css/vendor/icomoon.css">
    <link rel="stylesheet" href="~/assets/css/vendor/remixicon.css">
    <link rel="stylesheet" href="~/assets/css/vendor/magnifypopup.min.css">
    <link rel="stylesheet" href="~/assets/css/vendor/odometer.min.css">
    <link rel="stylesheet" href="~/assets/css/vendor/lightbox.min.css">
    <link rel="stylesheet" href="~/assets/css/vendor/animation.min.css">
    @* <link rel="stylesheet" href="~/assets/css/vendor/jquery-ui.min.css"> *@
    <link rel="stylesheet" href="~/assets/css/vendor/swiper-bundle.min.css">
    <link rel="stylesheet" href="~/assets/css/vendor/tipped.min.css">
    <link rel="stylesheet" href="~/assets/css/international-telephone-input.css">
    
    <!-- Site Stylesheet -->
    <link rel="stylesheet" href="/assets/css/app-main.css">

    <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
    <link rel="canonical" href="@Context.Request.Scheme://@Context.Request.Host@Context.Request.Path" />
    <link rel="stylesheet" href="https://unpkg.com/sal.js/dist/sal.css" />

    @* CSP Header *@
    @* <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self'; object-src 'none'; base-uri 'self';"> *@

</head>

<body class="sticky-header">

    <!--=====================================-->
    <!--=        Header Area Start          =-->
    <!--=====================================-->

    <header class="edu-header header-style-1 header-fullwidth">
        <div class="header-top-bar edu-sticky">
            <div class="container-fluid">
                <div class="row">

                    <div class="header-top">
                        <div class="col-md-5">
                            @* <div class="header-top-left">
                                <div class="header-notify">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <span><marquee direction="left" width="100%">   European Higher Education Fair 2024 |  German Higher Education Fair 2024 | Study in Canada, Australia, UK, USA, Ireland,                                                   Newzealand  </marquee></span>
                                        </div>
                                        <div class="col-sm-6">
                                            <a class="animate-charcter" href="#"> &nbsp; Upcoming Events</a>
                                        </div>
                                    </div>
                                </div>
                            </div> *@
                        </div>
                        <div class="col-md-7">
                            <div class="header-top-right">
                                <ul class="header-info">

                                    <li><a href="http://payment.indoeuropean.in/payment-link.aspx"> <i class="fa fa-money"></i> Pay Online</a></li>
                                    <li><a href="tel:+91-9650133355"><i class="icon-phone"></i>+91-9650133355</a></li>

                                    <li class="social-icon">
                                        <a href="https://www.facebook.com/Indoeuropean.in" target="blank"><i class="fa fa-facebook"></i></a>
                                        <a href="https://www.instagram.com/indo_european" target="blank"><i class="icon-instagram"></i></a>
                                        <a href="https://twitter.com/indo_european" target="blank"><i class="icon-twitter"></i></a>
                                        <a href="https://www.linkedin.com/company/indo-european-study-abroad-consultants/" target="blank"><i class="icon-linkedin2"></i></a>
                                        <a href="https://www.youtube.com/IEESIndoEuropean" target="_blank"><i class="icon-youtube"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="edu-sticky-placeholder"></div>
        <div class="header-mainmenu">
            <div class="container-fluid">
                <div class="row">
                <div class="header-navbar">
                    <div class="header-brand">
                      
                            <div class="col-md-3">
                                <div class="logo">
                                    <a asp-controller="home" asp-action="index">
                                        <img class="logo-light" src="~/assets/images/logo/logo-dark.webp" alt="Corporate Logo" loading="lazy" height="200" width="400">
                                    </a>
                                </div>
                            </div>

                       <div class="col-md-7">
                            <div class="header-category">
                                <nav class="mainmenu-nav">
                                    <ul class="mainmenu">
                                        <li class="has-droupdown">
                                            <a asp-controller="home" asp-action="index"> Study Destinations </a>
                                            <ul class="submenu">
                                                    <li><a asp-controller="destinations" asp-action="europe" style="font-size: 16px; font-weight: 500;"><img src="~/assets/images/flag/europe.jpg" alt="Explore Europe" title="Explore Europe" loading="lazy" height="13" width="26"/> &nbsp; Europe </a></li>
                                                    <li><a asp-controller="destinations" asp-action="australia" style="font-size: 16px; font-weight: 500;"><img src="~/assets/images/flag/australia.jpg" alt="Explore Australia" title="Explore Australia" loading="lazy" height="13" width="26" /> &nbsp; Australia </a></li>
                                                    <li><a asp-controller="destinations" asp-action="canada" style="font-size: 16px; font-weight: 500;"><img src="~/assets/images/flag/canada.jpg" alt="Explore Canada" title="Explore Canada" loading="lazy" height="13" width="26" /> &nbsp; Canada </a></li>
                                                    <li><a asp-controller="destinations" asp-action="new_zealand" style="font-size: 16px; font-weight: 500;"><img src="~/assets/images/flag/nz.jpg" alt="Explore New Zealand" title="Explore New Zealand" loading="lazy" height="13" width="26" /> &nbsp; New Zealand </a></li>
                                                    <li><a asp-controller="destinations" asp-action="singapore" style="font-size: 16px; font-weight: 500;"><img src="~/assets/images/flag/singapore.jpg" alt="Explore Singapore" title="Explore Singapore" loading="lazy" height="13" width="26" /> &nbsp; Singapore </a></li>
                                                    <li><a asp-controller="destinations" asp-action="uk" style="font-size: 16px; font-weight: 500;"><img src="~/assets/images/flag/uk.jpg" alt="Study Uk" title="Study Uk" loading="lazy" height="13" width="26" /> &nbsp; UK </a></li>
                                                    <li><a asp-controller="destinations" asp-action="usa" style="font-size: 16px; font-weight: 500;"><img src="~/assets/images/flag/usa.jpg" alt="Explore USA" title="Explore USA" loading="lazy" height="13" width="26" /> &nbsp; USA </a></li>
                                                    <li><a asp-controller="destinations" asp-action="ireland" style="font-size: 16px; font-weight: 500;"><img src="~/assets/images/flag/ireland.jpg" alt="Explore Ireland" loading="lazy" height="13" width="26"> &nbsp; Ireland </a></li>
                                            </ul>
                                        </li>
                                        <li><a asp-controller="home" asp-action="our_services">Our Services</a></li>
                                        <li><a asp-controller="home" asp-action="collaborate">Collaborate </a></li>
                                        <li><a asp-controller="home" asp-action="coaching">Coaching </a></li>
                                        <li><a asp-controller="home" asp-action="about">About Us</a></li>
                                        <li><a asp-controller="home" asp-action="contact">Contact Us </a></li>

                                    </ul>
                                </nav>
                        </div>
                    </div>

                            <div class="col-md-2">

                                    <div class="header-right">
                                            <ul class="header-action">
                                        <li class="header-btn">
                                            <a style="width: 100px" asp-controller="home" asp-action="enquiry" class="edu-btn btn-medium">Enquiry</a>
                                        </li>
                                                <li class="header-btn">
                                                    <a href="https://zoom.us/j/91022278457#success" class="edu-btn btn-medium" target="blank"> Attend Free Counselling <i class="icon-4"></i></a>
                                                </li>
                                                <li class="mobile-menu-bar">
                                                    <button class="hamberger-button">
                                                        <i class="icon-54"></i>
                                                    </button>
                                                </li>
                                            </ul>
                                    </div>
                                </div>
                          </div>
                </div>
            </div>
        </div>
       </div>
        <div class="popup-mobile-menu">
            <div class="inner">
                <div class="header-top">
                    <div class="logo">
                            <a asp-controller="home" asp-action="index">
                            <img class="logo-light" src="~/assets/images/logo/logo-dark.webp" alt="Indoeuropean-Logo" title="IndoEuropean-Logo" loading="lazy" height="75" width="150" />
                            </a>
                    </div>
                    <div class="close-menu">
                            <button class="close-button">
                                <i class="icon-73"></i>
                            </button>
                    </div>
                </div>
                    <ul class="mainmenu">
                        <li class="has-droupdown">
                            <a asp-controller="home" asp-action="index"> Study Destinations </a>
                            <ul class="submenu">
                            <li><a asp-controller="destinations" asp-action="europe" style="font-size: 16px; font-weight: 500;"><img src="~/assets/images/flag/europe.jpg" alt="study-in-europe" title="Study in Europe" loading="lazy" height="13" width="26" /> &nbsp; Europe </a></li>
                            <li><a asp-controller="destinations" asp-action="australia" style="font-size: 16px; font-weight: 500;"><img src="~/assets/images/flag/australia.jpg" alt="study-in-australia" title="Study in Australia" loading="lazy" height="13" width="26" /> &nbsp; Australia </a></li>
                            <li><a asp-controller="destinations" asp-action="canada" style="font-size: 16px; font-weight: 500;"><img src="~/assets/images/flag/canada.jpg" alt="study-in-Canada" title="Study in Canada" loading="lazy" height="13" width="26" /> &nbsp; Canada </a></li>
                            <li><a asp-controller="destinations" asp-action="new_zealand" style="font-size: 16px; font-weight: 500;"><img src="~/assets/images/flag/nz.jpg" alt="study-in-newzealand" title="Study in New Zealand" loading="lazy" height="13" width="26" /> &nbsp; New Zealand </a></li>
                            <li><a asp-controller="destinations" asp-action="singapore" style="font-size: 16px; font-weight: 500;"><img src="~/assets/images/flag/singapore.jpg" alt="study-in-singapore" title="Study in Singapore" loading="lazy" height="13" width="26" /> &nbsp; Singapore </a></li>
                            <li><a asp-controller="destinations" asp-action="uk" style="font-size: 16px; font-weight: 500;"><img src="~/assets/images/flag/uk.jpg" alt="study-in-uk" title="Study in Uk" loading="lazy" height="13" width="26" /> &nbsp; UK </a></li>
                            <li><a asp-controller="destinations" asp-action="usa" style="font-size: 16px; font-weight: 500;"><img src="~/assets/images/flag/usa.jpg" alt="study-in-usa" title="Study in USA" loading="lazy" height="13" width="26" /> &nbsp; USA </a></li>
                            <li><a asp-controller="destinations" asp-action="ireland" style="font-size: 16px; font-weight: 500;"><img src="~/assets/images/flag/ireland.jpg" alt="Study-in-Ireland" title="Study-in-Ireland" loading="lazy" height="13" width="26"> &nbsp; Ireland </a></li>
                            </ul>
                        </li>
                        <li><a asp-controller="home" asp-action="our_services">Services</a></li>
                        <li><a asp-controller="home" asp-action="collaborate">Collaborate </a></li>
                        <li><a asp-controller="home" asp-action="coaching">Coaching</a></li>
                        <li><a asp-controller="home" asp-action="about">About </a></li>
                        <li><a asp-controller="home" asp-action="contact">Contact  </a></li>
                    </ul>
            </div>
        </div>
       <!-- Start Search Popup  -->
        <div class="edu-search-popup">
            <div class="content-wrap">
                <div class="site-logo">
                    <img class="logo-light" src="~/assets/images/logo/logo-dark.webp" alt="Indoeuropean Logo" title="Indoeuropean Logo" loading="lazy" height="200" width="400"/>
                </div>
                <div class="close-button">
                    <button class="close-trigger"><i class="icon-73"></i></button>
                </div>
                <div class="inner">
                    <form class="search-form" action="#">
                        <input type="text" class="edublink-search-popup-field" placeholder="Search Here...">
                        <button class="submit-button"><i class="icon-2"></i></button>
                    </form>
                </div>
            </div>
        </div>
        <!-- End Search Popup  -->
    </header>




    <!-- Main Content -->
    @RenderBody()

    <!-- Footer -->
    <!--=====================================-->
    <!--=        Footer Area Start       	=-->
    <!--=====================================-->


    <!-- Start Footer Area  -->
    <footer class="edu-footer footer-lighten bg-image footer-style-1 mt-5">
        <div class="footer-top">
            <div class="container">
                <div class="row g-5">
                    <hr>
                    <div class="col-lg-12 col-md-12">
                        <div class="inner">
                            <div class="row gy-5">
                                 <div class="col-md-6 col-lg-3">
                                    <h4 class="widget-title">Useful Links</h4>
                                    <div class="widget-information">
                                        <ul class="information-list">
                                            <li><a asp-controller="home" asp-action="index"><i class="fa fa-star"></i> &nbsp; Home </a></li>
                                            <li><a asp-controller="home" asp-action="our_services"><i class="fa fa-star"></i> &nbsp; Our Services</a></li>
                                            <li><a asp-controller="home" asp-action="collaborate"><i class="fa fa-star"></i> &nbsp; Collaborate </a></li>
                                            <li><a asp-controller="home" asp-action="coaching"><i class="fa fa-star"></i> &nbsp; Coaching </a></li>
                                            <li><a asp-controller="home" asp-action="about"><i class="fa fa-star"></i> &nbsp; About Us</a></li>
                                            <li><a asp-controller="home" asp-action="contact"><i class="fa fa-star"></i> &nbsp; Contact Us </a></li>
                                            <li><a asp-controller="home" asp-action="coaching_centres"><i class="fa fa-star"></i> &nbsp; Coaching Centres </a></li>
                                            <li><a asp-controller="home" asp-action="termsandconditions" target="_blank"><i class="fa fa-star"></i> &nbsp; Terms & Conditions </a></li>
                                        </ul>
                                    </div>
                                </div>

                                <div class="col-md-6 col-lg-3">
                                    <h4 class="widget-title">Study Destinations</h4>
                                    <div class="widget-information">
                                        <ul class="information-list">
                                            <li><a asp-controller="destinations" asp-action="europe"><i class="fa fa-star"></i> &nbsp; Study in Europe </a></li>
                                            <li><a asp-controller="destinations" asp-action="australia"><i class="fa fa-star"></i> &nbsp; Study in  Australia </a></li>
                                            <li><a asp-controller="destinations" asp-action="canada"><i class="fa fa-star"></i> &nbsp; Study in Canada </a></li>
                                            <li><a asp-controller="destinations" asp-action="new_zealand"><i class="fa fa-star"></i> &nbsp; Study in New Zealand </a></li>
                                            <li><a asp-controller="destinations" asp-action="singapore"><i class="fa fa-star"></i> &nbsp; Study in  Singapore </a></li>
                                            <li><a asp-controller="destinations" asp-action="uk"><i class="fa fa-star"></i> &nbsp; Study in UK </a></li>
                                            <li><a asp-controller="destinations" asp-action="usa"><i class="fa fa-star"></i> &nbsp; Study in USA </a></li>
                                            <li><a asp-controller="destinations" asp-action="ireland"><i class="fa fa-star"></i> &nbsp; Study in Ireland </a></li>
                                        </ul>
                                    </div>
                                </div>

                                <div class="col-md-6 col-lg-3">
                                    <h4 class="widget-title">Partnership with Us </h4>
                                    <div class="widget-information">
                                        <ul class="information-list">
                                            <li><a asp-controller="partners" asp-action="associate_agents"><i class="fa fa-star"></i> &nbsp; Associate Agents </a></li>
                                            <li><a asp-controller="partners" asp-action="partner_franchise"><i class="fa fa-star"></i> &nbsp; Partner Franchisee</a></li>
                                            <li><a asp-controller="partners" asp-action="indian_universities"><i class="fa fa-star"></i> &nbsp; Indian Universities </a></li>
                                            <li><a asp-controller="partners" asp-action="other_businesses"><i class="fa fa-star"></i> &nbsp; Other Businesses</a></li>
                                            <li><a asp-controller="partners" asp-action="overseas_institute"><i class="fa fa-star"></i> &nbsp; Overseas Institutes </a></li>
                                        </ul>
                                    </div>
                                </div>

                                <div class="col-md-6 col-lg-3">
                                    <h4 class="widget-title">Quick Links</h4>
                                    <div class="widget-information">
                                        <ul class="information-list">
                                            <li><a href="https://crm.indoeuropean.in/" target="_blank"><i class="fa fa-star"></i> &nbsp; CRM </a></li>
                                            @* <li><a href="http://search.indoeuropean.in/Home/Menu" target="_blank"><i class="fa fa-star"></i> &nbsp; Course Finder</a></li> *@
                                            <li><a asp-controller="home" asp-action="coaching"><i class="fa fa-star" target="_blank"></i> &nbsp; IELTS Classes  </a></li>
                                            <li><a href="http://payment.indoeuropean.in/payment-link.aspx" target="_blank"><i class="fa fa-star"></i> &nbsp; Pay Online </a></li>
                                            <li><a href="https://zoom.us/j/91022278457#success" target="_blank"><i class="fa fa-star"></i> &nbsp; Free Counselling</a></li>
                                            <li><a href="tel:9650133355"><i class="fa fa-star"></i> &nbsp; Call Our Experts </a></li>
                                            <li><a asp-controller="home" asp-action="testimonials"><i class="fa fa-star"></i> &nbsp; Testimonials </a></li>
                                            <li><a asp-controller="blogs" asp-action="index"><i class="fa fa-star"></i> &nbsp; Blogs </a></li>
                                            <li><a href="/sitemap.xml"><i class="fa fa-star"></i> &nbsp; Sitemap </a></li>
                                        </ul>
                                    </div>
                                </div>
                              
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="copyright-area">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="inner text-center ">
                            <p class="text-white">Copyright 2025 <a asp-controller="home" asp-action="index" target="_blank">Indo European Study Abroad Consultant. </a>  All Rights Reserved</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- End Footer Area  -->

    <div class="rn-progress-parent">
        <svg class="rn-back-circle svg-inner" width="100%" height="100%" viewBox="-1 -1 102 102">
            <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" />
        </svg>
    </div>

    <div class="modal fade" id="exampleModalShort" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header" style="padding: 0.5rem 1rem;">
                    <h5 class="modal-title" id="exampleModalShortLabel">Enquiry</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="contact-form" style="margin-top:0px!important">
                        <h4 style="font-size: 14px; margin-bottom: 2px;">Complete the Form and Unlock Exciting Opportunities!</h4>
                        <p style="    font-size: 12px;
    line-height: 1;
    padding-bottom: 0px;">Fill this form to unlock a world of opportunities. Let us make your aspirations come true!</p>
                        <form class="rnt-contact-form rwt-dynamic-form" method="POST" action="#">

                            <div class="row row--10">
                                <div class="form-group col-lg-6 pb-10">
                                    <input type="text" name="contact-name" placeholder="Your Name">
                                </div>
                                <div class="form-group col-lg-6 pb-10">
                                    <input type="email" name="contact-email" id="contact-email" placeholder="Your Email">
                                </div>
                                <div class="form-group col-12 pb-10">
                                    <div class="select-box">
                                        <div class="selected-option">
                                            <div>
                                                <span class="iconify" data-icon="flag:in-4x3"></span>

                                            </div>
                                            <input type="tel" name="tel" placeholder="+91">
                                        </div>
                                        <div class="options">
                                            <input type="text" class="search-box" placeholder="Search Country Name">
                                            <ol>
                                            </ol>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group col-12 pb-10">
                                    <select name="Qualification" id="Qualification">
                                        <option value="Pursuing 12th">Highest Qualification</option>
                                        <option value="Intermediate">Intermediate</option>
                                        <option value="Bachelors">Bachelors</option>
                                        <option value="Masters">Masters</option>
                                        <option value="PHD">PHD</option>
                                        <option value="Diploma">Diploma </option>

                                    </select>
                                </div>

                                <div class="form-group col-12 pb-10">
                                    <select name="Programm" required="">
                                        <option value="Program Interested">Program Interested</option>
                                        <option value="Bachelors">Bachelors</option>
                                        <option value="Masters">Masters</option>
                                        <option value="Diploma">Diploma </option>
                                        <option value="PHD">PHD</option>

                                        <option value="PG Diploma">PG Diploma</option>

                                    </select>
                                </div>


                                <div class="form-group col-12 pb-10">
                                    <select name="Programm" required="">
                                        <option value="Best Time to Call">Best Time to Call</option>
                                        <option value="09am-10am">09am - 10am</option>
                                        <option value="10am-11am">10am - 11am</option>
                                        <option value="11am-12pm">11am - 12pm</option>
                                        <option value="12pm-01pm">12pm - 01pm</option>
                                        <option value="01pm-02pm">01pm - 02pm</option>
                                        <option value="02pm-03pm">02pm - 03pm</option>
                                        <option value="03pm-04pm">03pm - 04pm</option>
                                        <option value="04pm-05pm">04pm - 05pm</option>
                                        <option value="05pm-06pm">05pm - 06pm</option>
                                        <option value="06pm-07pm">06pm - 07pm</option>
                                    </select>
                                </div>


                                <div class="form-group col-12 pb-10">
                                    <input type="text" name="contact-name" placeholder="City">
                                </div>


                                <div class="form-group col-12 text-center pb-10">
                                    <button class="rn-btn edu-btn submit-btn" name="submit" type="submit">Submit Now <i class="icon-4"></i></button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>


    <div class="modal fade" id="regular_modal" tabindex="-1" role="dialog" aria-labelledby="regular_modal">
        <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
            <div class="modal-content" style="border-radius: 10px; background:#eee;">
                <div class="modal-header" style="padding:0.5rem 1rem;">
                    <h5 class="modal-title">Follow Us</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <ul style="list-style:none; padding:0px; margin:0px;">
                        <li class="social" style="background:#25c15f;"><a href="https://www.whatsapp.com/channel/0029VaAFrbNLSmbYvAupmm2F" style="color:#fff;" target="_blank"> <i class="fa fa-whatsapp"></i> &nbsp; Follow on Whatsapp   </a></li>
                        <li class="social" style="background:#ff0000;"><a href="https://www.youtube.com/IEESIndoEuropean" style="color:#fff;" target="_blank"> <i class="fa fa-youtube"></i> &nbsp; Watch on Youtube   </a></li>
                        <li class="social" style="background:#0866ff;"><a href="https://www.facebook.com/Indoeuropean.in/" style="color:#fff;" target="_blank"> <i class="icon-facebook"></i> &nbsp; Like us on Facebook   </a></li>
                        <li class="social" style="background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);"><a href="https://www.instagram.com/indo_european/" style="color:#fff;" target="_blank"> <i class="fa fa-instagram"></i> &nbsp; Follow on Instagram   </a></li>
                        <li class="social" style="background:#0077b5;"><a href="https://www.linkedin.com/company/indo-european-study-abroad-consultants" style="color:#fff;" target="_blank"> <i class="fa fa-linkedin"></i> &nbsp; Join Us on Linkedin   </a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" />
    <a href="https://www.whatsapp.com/channel/0029VaAFrbNLSmbYvAupmm2F" class="float" target="_blank">
        <i class="fa fa-whatsapp my-float"></i>
    </a>


    <div class="call-float">
        <div class="trigger">
            <a href="tel:+91 9650133355" class="text-white"><i class="fa fa-phone" aria-hidden="true"></i></a>
        </div>

    </div>


   <!-- <nav class="float-btn">
       
        <input type="checkbox" href="#" class="float-open" name="float-open" id="float-open" />
       
        <label class="float-open-button" for="float-open" style="padding-left: 0px;
    padding-top: 9px;
    font-size: 20px;
    color: #fff;">
            <i class="fa fa-paper-plane"></i>
        </label>

        <a href="tel:+91-9650133355" class="float-item"> <i class="fa fa-phone"></i> </a>
        <a href="" class="float-item" target="blank"> <i class="fa fa-whatsapp"></i> </a>
        <a href="#" class="float-item" data-toggle="modal" data-target="#exampleModalShort"> <i class="fa fa-envelope"></i> </a>
        <a href="#" class="float-item" data-toggle="modal" data-target="#regular_modal"> <i class="fa fa-retweet"></i> </a>
        <a href="/home/contact" class="float-item" target="blank"> <i class="fa fa-map-marker"></i> </a>
    </nav>

     -->
  
    @*  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smhyrVj+0Ewe1tf57I4LzTZkWeTGOGKxQv3trJuz9y8ra27zI3mR50dR1q5k7q4x" crossorigin="anonymous"></script>
    <script src="/~assets/js/intlTelInput.js"></script> *@

    <!-- ✅ jQuery (required first) -->
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

    <!-- ✅ Bootstrap Core JS (via CDN) -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"
            integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
            crossorigin="anonymous"></script>
    

    <!-- ✅ Core Vendor JS (local) -->
    <script src="~/assets/js/vendor/jquery-ui.min.js"></script>
    <script src="~/assets/js/vendor/modernizr.min.js"></script>
    <script src="~/assets/js/vendor/bootstrap.min.js"></script>
    <script src="~/assets/js/vendor/jquery.waypoints.js"></script>
    <script src="~/assets/js/vendor/backtotop.min.js"></script>
    <script src="~/assets/js/vendor/magnifypopup.min.js"></script>
    <script src="~/assets/js/vendor/jquery.countdown.min.js"></script>
    <script src="~/assets/js/vendor/jQuery.rProgressbar.min.js"></script>
    <script src="~/assets/js/vendor/easypie.js"></script>
    <script src="~/assets/js/vendor/odometer.min.js"></script>
    <script src="~/assets/js/vendor/isotop.min.js"></script>
    <script src="~/assets/js/vendor/imageloaded.min.js"></script>
    <script src="~/assets/js/vendor/lightbox.min.js"></script>
    <script src="~/assets/js/vendor/paralax.min.js"></script>
    <script src="~/assets/js/vendor/paralax-scroll.min.js"></script>
    <script src="~/assets/js/vendor/swiper-bundle.min.js"></script>
    <script src="~/assets/js/vendor/svg-inject.min.js"></script>
    <script src="~/assets/js/vendor/vivus.min.js"></script>
    <script src="~/assets/js/vendor/tipped.min.js"></script>
    <script src="~/assets/js/vendor/smooth-scroll.min.js"></script>
    <script src="~/assets/js/vendor/isInViewport.jquery.min.js"></script>
    <script src="~/assets/js/vendor/sal.min.js"></script>
   

    <!-- ✅ Plugins -->
    <script src="~/assets/js/international-telephone-input.js"></script>

    <!-- ✅ App-Specific Scripts -->
    <script src="~/assets/js/app.js"></script>
    <script src="~/assets/js/config.js"></script>
    <script src="~/assets/js/landingpage.js"></script>



    <!-- Modernizer JS -->
    <script type="text/javascript">
        $('#exampleModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget) // Button that triggered the modal
            var recipient = button.data('whatever') // Extract info from data-* attributes
            // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
            // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
            var modal = $(this)
            modal.find('.modal-title').text('New message to ' + recipient)
            modal.find('.modal-body input').val(recipient)
        })

            var acc = document.getElementsByClassName("accordion");
        var i;

        for (i = 0; i < acc.length; i++) {
            acc[i].addEventListener("click", function () {
                this.classList.toggle("active");
                var panel = this.nextElementSibling;
                if (panel.style.display === "block") {
                    panel.style.display = "none";
                } else {
                    panel.style.display = "block";
                }
            });
        }

          function myFunction() {
            var popup = document.getElementById("myPopup");
            popup.classList.toggle("show");
        }

    </script>

</body>



<!-- ❌ Old/unused jQuery (commented out for reference) -->
@* <script src="https://code.jquery.com/jquery-3.3.1.min.js" crossorigin="anonymous"></script>
<script src="https://aja *@

</html>






















