@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@{
    ViewData["Title"] = "Collaborate";
}

<style type="text/css">


    .box-forstudents {
        padding: 10px;
    }

    .bd-line {
        border: 1px solid #eee;
    }

    .box-forstudents img {
        border-radius: 10px;
        box-shadow: 3px 4px 16px #dfdfdf;
    }


        .box-forstudents img:hover {
            border-radius: 10px;
            box-shadow: 3px 4px 16px #dfdfdf;
        }


    .box-forstudents h4 {
        padding: 15px 0px 0px;
    }



    .box-fs {
        padding: 10px 5px;
    }

        .box-fs h4 {
            font-size: 22px;
            font-weight: 600;
            padding-bottom: 5px;
            text-align: center;
        }

        .box-fs p {
            font-size: 16px;
        }



    .heading {
        font-weight: 500;
        margin: 40px 0px;
    }

    .demo-problem, .demo-solution {
        margin: -20px 0px;
    }

        .demo-problem, .demo-solution img {
            width: 25px;
            padding: 0px !important;
            margin: 0px 5px !important;
        }

        .demo-problem, .demo-solution p {
            line-height: 20px;
        }

    .demo-solution--flexbox {
        display: flex;
        align-items: center;
        margin: auto;
        &:hover


    }
    
</style>

<div class=" edu-breadcrumb-area " style=" background:#fff;">
    <div class="container">
        <div class="section-title section-center">
            <h2 class="title">How do we empower Our Partners</h2>
            <span class="shape-line"><i class="icon-19"></i></span>

        </div>
    </div>
</div>

<div class="container">

    <div class="row">
        <div class="col-md-4 ">
            <div class="bd-line">
                <div class="box-forstudents ">
                    <a href="/Partners/associate_agents"> <img src="~/assets/images/for-partners/1.jpg" width="100%"></a>
                </div>
                <div class="box-fs content">
                    <h4> <a href="/Partners/associate_agents"> Associate Agents (B2B) </a></h4>
                </div>
            </div>

        </div>


        <div class="col-md-4">
            <div class="bd-line">
                <div class="box-forstudents">
                    <a href="/Partners/Partner_Franchise"> <img src="~/assets/images/for-partners/2.jpg" width="100%"> </a>
                </div>
                <div class="box-fs content">
                    <h4> <a href="/Partners/Partner_Franchise">  Partner Franchisee </a></h4>
                </div>


            </div>

        </div>

        <div class="col-md-4 ">
            <div class="bd-line">
                <div class="box-forstudents ">
                    <a href="/Partners/indian_universities"> <img src="~/assets/images/for-partners/3.jpg" width="100%"> </a>
                </div>
                <div class="box-fs content">
                    <h4> <a href="/Partners/indian_universities">Indian Universities </a></h4>
                </div>
            </div>

        </div>
    </div>



    <div class="row">
        <div class="col-md-4 ">
            <div class="bd-line">
                <div class="box-forstudents ">
                    <a href="/Partners/coaching_centres">   <img src="~/assets/images/for-partners/4.jpg" width="100%"> </a>
                </div>
                <div class="box-fs content">

                    <h4> <a href="/Partners/coaching_centres"> Coaching Centres</a></h4>

                </div>
            </div>

        </div>

        <div class="col-md-4 ">
            <div class="bd-line">
                <div class="box-forstudents ">
                    <a href="/Partners/other_businesses">  <img src="~/assets/images/for-partners/5.jpg" width="100%"> </a>
                </div>
                <div class="box-fs content">

                    <h4> <a href="/Partners/other_businesses"> Other Businesses </a></h4>
                </div>
            </div>

        </div>

        <div class="col-md-4 ">
            <div class="bd-line">
                <div class="box-forstudents ">
                    <a href="/Partners/overseas_institute">   <img src="~/assets/images/for-partners/6.jpg" width="100%"> </a>
                </div>
                <div class="box-fs content">

                    <h4> <a href="/Partners/overseas_institute">  Overseas Institutes </a></h4>


                </div>


            </div>

        </div>

    </div><br>


</div>
