
.why-choose-area-2 {
    position: relative;
    z-index: 2;
    overflow: hidden;
    background-color: var(--color-white);
}

    .why-choose-area-2:before {
        content: "";
        height: 100%;
        width: 100%;
        background-color: var(--color-lighten04);
        -webkit-clip-path: polygon(0 0, 100% 0%, 100% 84%, 0% 100%);
        clip-path: polygon(0 0, 100% 0%, 100% 84%, 0% 100%);
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        z-index: -1;
    }

@media only screen and (max-width: 991px) {
    .why-choose-area-2 .shape-group {
        display: none;
    }
}

.why-choose-area-2 .shape-group li {
    position: absolute;
    z-index: -1;
}

    .why-choose-area-2 .shape-group li.shape-1 {
        top: -310px;
        left: -50px;
    }

        .why-choose-area-2 .shape-group li.shape-1 span {
            display: block;
            height: 476px;
            width: 476px;
            border: 1px solid var(--color-border);
            border-radius: 50%;
        }

    .why-choose-area-2 .shape-group li.shape-2 {
        top: 80px;
        left: 100px;
    }

    .why-choose-area-2 .shape-group li.shape-3 {
        top: 100px;
        right: -20px;
    }

        .why-choose-area-2 .shape-group li.shape-3 span {
            display: block;
            height: 476px;
            width: 476px;
            border: 1px solid var(--color-border);
            border-radius: 50%;
        }

    .why-choose-area-2 .shape-group li.shape-4 {
        top: 50px;
        right: 10px;
    }

    .why-choose-area-2 .shape-group li.shape-5 {
        bottom: -50px;
        right: -50px;
    }

        .why-choose-area-2 .shape-group li.shape-5 span {
            display: block;
            height: 100px;
            width: 100px;
            border: 16px solid #f8b81f;
            border-radius: 50%;
        }

.why-choose-box.features-box {
    box-shadow: 0 10px 30px 0 rgb(0 0 0 / 20%);
    padding: 10px;
    border-radius: 5px;
}

    .why-choose-box.features-box .content .title {
        margin-bottom: 5px;
    }

.edu-cta-banner-area-6 {
    background: var(--gradient-primary);
    width: 100%;
    overflow: visible !important;
    background: #fc81269c;
    background: linear-gradient(90deg, rgb(255 255 255 / 1%) -25%, rgb(7 0 45) 45%);
}

    .edu-cta-banner-area-6 .thumbnail img {
        height: 567px;
        margin-top: 25px;
        margin-left: 60px;
    }

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .edu-cta-banner-area-6 .thumbnail img {
        margin-top: -30px;
    }
}

@media only screen and (max-width: 991px) {
    .edu-cta-banner-area-6 .thumbnail img {
        display: none;
    }
}

.edu-cta-banner-area-6 .edu-cta-banner .shape-group li.shape-01 {
    top: 100px !important;
    left: -8px !important;
}

.edu-cta-banner-area-6 .edu-cta-banner .shape-group li.shape-02 {
    top: 161px !important;
    left: -64px !important;
    bottom: inherit !important;
}

.edu-cta-banner-area-6 .edu-cta-banner .shape-group li.shape-03 {
    left: 28% !important;
    bottom: 100px !important;
    z-index: -1 !important;
    right: inherit !important;
    top: inherit !important;
}

.edu-cta-banner-area-6 .edu-cta-banner .shape-group li.shape-04 {
    top: inherit !important;
    right: inherit !important;
    bottom: 29% !important;
    left: 29% !important;
    z-index: 1;
}

.edu-cta-banner-area-6 .edu-cta-banner .shape-group li.shape-05 {
    top: 110px !important;
    right: -251px !important;
}


.hero-style-10 {
    min-height: 650px;
    position: relative;
    top: 90px;
    overflow: hidden;
    background: linear-gradient(90deg, rgb(255 255 255 / 1%) -25%, rgb(7 0 45) 45%);
}

@media only screen and (max-width: 1199px) {
    .hero-style-10 {
        min-height: 700px;
    }
}

@media only screen and (max-width: 991px) {
    .hero-style-10 {
        min-height: 650px;
        position: relative;
        top: 45px;
        overflow: hidden;
        background: linear-gradient(90deg, rgb(21 9 88) 0%, rgb(45 35 102) 45%, rgba(0, 212, 255, 1) 100%);
    }


    .edu-header .header-mainmenu {
        background-color: var(--color-white);
        box-shadow: 0 6px 15px 0 rgba(0, 0, 0, 0.05);
        position: fixed;
        top: 0px !important;
    }

    .features-grid-wrap {
        margin-top: 45px;
    }

    .features-area-2 {
        margin-top: 0;
    }
}

.hero-style-10 .banner-thumbnail {
    margin-right: 0px;
    margin-bottom: -170px;
}

@media only screen and (max-width: 1199px) {
    .hero-style-10 .banner-thumbnail {
        margin-left: 0;
        margin-right: -70px;
    }
}

@media only screen and (max-width: 991px) {
    .hero-style-10 .banner-thumbnail {
        margin-bottom: -20px;
        margin-right: 0;
    }
}

@media only screen and (max-width: 575px) {

    .hero-banner .contact-form {
        margin-top: 75px;
    }
}

.features-area-9 {
    background: #ffffff00;
}

    .features-area-9 .features-wrapper {
        position: relative;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
    }

        .features-area-9 .features-wrapper .feature-wrap {
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -webkit-align-items: center;
            -ms-flex-align: center;
            align-items: center;
            -webkit-animation: scroll 20s linear infinite;
            animation: scroll 20s linear infinite;
            -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
        }

            .features-area-9 .features-wrapper .feature-wrap .features-track {
                display: -webkit-box;
                display: -webkit-flex;
                display: -ms-flexbox;
                display: flex;
                margin-left: 0;
                padding-top: 32px;
                padding-bottom: 0px;
                -webkit-box-align: center;
                -webkit-align-items: center;
                -ms-flex-align: center;
                align-items: center;
                -webkit-box-flex: 0;
                -webkit-flex: 0 0 auto;
                -ms-flex: 0 0 auto;
                flex: 0 0 auto;
            }

                .features-area-9 .features-wrapper .feature-wrap .features-track .features-icon {
                    margin-left: 10px;
                    margin-right: 10px;
                    box-shadow: 2px 2px 2px #00000024;
                    border-radius: 2px;
                    width: 130px;
                }

.edu-header {
    z-index: 99;
}

    .edu-header .header-mainmenu {
        background-color: var(--color-white);
        box-shadow: 0 6px 15px 0 rgba(0, 0, 0, 0.05);
        position: fixed;
        top: 35px;
    }

@media only screen and (max-width: 1199px) {
    .edu-header .header-mainmenu {
        padding-top: 0;
        padding-bottom: 0;
    }
}


.edu-header .header-top-bar.edu-sticky {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}


.edu-header .header-navbar {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

@media only screen and (max-width: 1199px) {
    .edu-header .header-navbar {
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }
}

.edu-header .header-brand {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: contents;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

    .edu-header .header-brand img.logo-light {
        display: inline-block;
    }

    .edu-header .header-brand .logo {
        width: 100%;
        max-width: 250px;
        height: -moz-fit-content;
    }

@media only screen and (max-width: 575px) {
    .edu-header .header-brand .logo {
        margin-right: 15px;
        width: 180px;
    }

    a.edu-btn.btn-medium {
        padding: 0 10px;
    }
}

.edu-header .header-brand .logo a {
    display: block;
}

@media only screen and (max-width: 1350px) {
    .edu-header .header-category {
        margin: 0 40px;
        display: none;
    }
}

.edu-header .header-category .mainmenu li.has-droupdown > a {
    padding: 0 30px;
}

    .edu-header .header-category .mainmenu li.has-droupdown > a:after {
        display: none;
    }

.edu-header.header-fullwidth .header-mainmenu,
.edu-header.header-fullwidth .header-top-bar {
    padding-left: 62px;
    padding-right: 62px;
    width: 100%;
}

@media only screen and (max-width: 1699px) {
    .edu-header.header-fullwidth .header-mainmenu,
    .edu-header.header-fullwidth .header-top-bar {
        padding-left: 22px;
        padding-right: 22px;
    }
}

@media only screen and (max-width: 767px) {
    .edu-header.header-fullwidth .header-mainmenu,
    .edu-header.header-fullwidth .header-top-bar {
        padding-left: 0;
        padding-right: 0;
    }
}

.header-style-1 {
    position: relative;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .header-style-1 .header-top .header-info {
        margin: 0 -20px;
    }

    .edu-header .header-category {
        display: none;
    }
}

@media only screen and (max-width: 767px) {
    .header-style-1 .header-top .header-info {
        margin: 0 -10px;
    }

    .edu-header .header-category {
        display: none;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .header-style-1 .header-top .header-info li {
        padding: 14px 15px 12px;
        font-size: 13px;
    }
}

@media only screen and (max-width: 767px) {
    .header-style-1 .header-top .header-info li {
        padding: 10px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .header-style-1 .header-top .header-info li:after {
        height: 50%;
    }

    .edu-header .header-category {
        display: none;
    }
}

@media only screen and (max-width: 767px) {
    .header-style-1 .header-top .header-info li:after {
        display: none;
    }
}

@media only screen and (max-width: 1350px) {
    .header-style-1 .header-top .header-info li:nth-last-child(2):after {
        display: none;
    }
}

@media only screen and (max-width: 479px) {

    .edu-header .header-brand .logo {
        margin-right: 15px;
        width: 100px;
    }

    a.edu-btn.btn-medium {
        padding: 0 6px;
        font-size: 10px;
    }

    .edu-header .header-category {
        display: none;
    }
}
