

@{
    ViewData["Title"] = "Europe";
    ViewData["Description"] = "Explore top study destinations in Europe! Discover affordable education, world-class universities, and career opportunities across multiple countries.";
}

<style type="text/css">
    .about-content .features-list li {
        font-size: 18px;    
    }

        .about-content .features-list li:before {
            content: "\e913";
            font-family: 'icomoon';
            color: #150958;
            font-size: 19px;
            position: absolute;
            left: 0;
            top: -3px;
        }
</style>

<div class="edu-breadcrumb-area breadcrumb-style-6" style="background:#f0f6fd; padding: 50px 0px 100px;">
    <div class="container">
        <div class="breadcrumb-inner">

            <div class="page-title">
                <h1 style="text-align: center; color: #150958; text-shadow: 2px 2px 2px #afabab; font-size: 50px;">Explore Europe’s Top Study Destinations!</h1>

                <h3 style="text-align: center; color: #000; font-size: 22px;">Unlock Your Potential : Study in Europe!</h3>
            </div><br>
            <div class="col-lg-12 fimg">
                <img src="~/assets/images/banner/1.webp" width="100%" style=" border-radius: 80px;box-shadow: 2px 5px 6px #afafaf" class="front" alt="indoeuropean-banner" title="europe-page" loading="lazy" />
            </div>

        </div>
    </div>

</div>


<div class="gap-bottom-equal edu-about-area about-style-9" style="background:#ffd9dc; padding: 60px 10px;">
    <div class="container edublink-animated-shape">
        <div class="row g-5 align-items-center">
            <div class="col-lg-6">
                <div class="about-image-gallery">
                    <img class="main-img-1" src="~/assets/images/europe/1.png" alt="europe Image" loading="lazy">
                    <div class="author-box">
                        <img src="~/assets/images/europe/2.webp" alt="study abroad in europe" loading="lazy">
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="about-content">
                    <div class="section-title section-left sal-animate" data-sal-delay="150" data-sal="slide-up" data-sal-duration="800">

                        <h2 class="title">Austria</h2>
                        <span class="shape-line"><i class="icon-19"></i></span>

                    </div>
                    <ul class="features-list sal-animate" data-sal-delay="150" data-sal="slide-up" data-sal-duration="800">
                        <li style="text-align:justify"> <b>High-Quality Education :</b> Renowned for its high academic standards and a wide range of courses offered in English.</li>
                        <li style="text-align:justify"><b>Cultural Richness :</b> Rich in culture and history, with vibrant arts, music, and festival scenes.</li>
                        <li style="text-align:justify"><b>Location :</b> Central location in Europe makes travel and exploration easy and affordable.</li>
                    </ul>

                </div>
            </div>
        </div>
        <ul class="shape-group">
            <li class="shape-4 scene sal-animate" data-sal-delay="500" data-sal="fade" data-sal-duration="200" style="transform: translate3d(0px, 0px, 0px) rotate(0.0001deg); transform-style: preserve-3d; backface-visibility: hidden; pointer-events: none;">
                <img data-depth="-2" src="~/assets/images/others/shape-33.png" alt="indo-shape-icon" style="transform: translate3d(-4.1px, 16px, 0px); transform-style: preserve-3d; backface-visibility: hidden; position: relative; display: block; left: 0px; top: 0px;" loading="lazy">
            </li>
        </ul>
    </div>
</div>



<div class="gap-bottom-equal edu-about-area about-style-9" style="background:#fffbe6; padding: 60px 10px;">
    <div class="container edublink-animated-shape">
        <div class="row g-5 align-items-center">

            <div class="col-lg-6">
                <div class="about-content">
                    <div class="section-title section-left sal-animate" data-sal-delay="150" data-sal="slide-up" data-sal-duration="800">

                        <h2 class="title">Belgium</h2>
                        <span class="shape-line"><i class="icon-19"></i></span>

                    </div>
                    <ul class="features-list sal-animate" data-sal-delay="150" data-sal="slide-up" data-sal-duration="800">
                        <li style="text-align:justify"> <b>Multilingual Environment :</b> Many programs offered in English, French, and Dutch, providing a multilingual learning environment.</li>
                        <li style="text-align:justify"><b>Strong Research Focus :</b> Known for high-quality research programs and innovative teaching methods.</li>
                        <li style="text-align:justify"><b>International Hub :</b> Home to many international organizations, including EU institutions, offering excellent networking opportunities.</li>
                    </ul>

                </div>
            </div>

            <div class="col-lg-6">
                <div class="about-image-gallery">
                    <img class="main-img-1" src="~/assets/images/europe/3.png" alt="explore europe" loading="lazy">
                    <div class="author-box">
                        <img src="~/assets/images/europe/4.webp" alt="study abroad in europe" loading="lazy">
                    </div>

                </div>
            </div>
        </div>

    </div>
</div>




<div class="gap-bottom-equal edu-about-area about-style-9" style="background:#e6e6ff; padding: 60px 10px;">
    <div class="container edublink-animated-shape">
        <div class="row g-5 align-items-center">
            <div class="col-lg-6">
                <div class="about-image-gallery">
                    <img class="main-img-1" src="~/assets/images/europe/6.png" alt="study in croatia" loading="lazy">
                    <div class="author-box">
                        <img src="~/assets/images/europe/5.webp" alt="Croatia" loading="lazy">
                    </div>

                </div>
            </div>
            <div class="col-lg-6">
                <div class="about-content">
                    <div class="section-title section-left sal-animate" data-sal-delay="150" data-sal="slide-up" data-sal-duration="800">

                        <h2 class="title">Croatia</h2>
                        <span class="shape-line"><i class="icon-19"></i></span>

                    </div>
                    <ul class="features-list sal-animate" data-sal-delay="150" data-sal="slide-up" data-sal-duration="800">
                        <li style="text-align:justify"> <b>Affordable Living :</b> Lower cost of living compared to many Western European countries</li>
                        <li style="text-align:justify"><b>Quality Education :</b> Good standard of higher education with a focus on practical skills and knowledge.</li>
                        <li style="text-align:justify"><b>Beautiful Scenery :</b> Stunning coastal areas and national parks provide a balanced lifestyle between study and relaxation.</li>
                    </ul>

                </div>
            </div>
        </div>
        <ul class="shape-group">
            <li class="shape-4 scene sal-animate" data-sal-delay="500" data-sal="fade" data-sal-duration="200" style="transform: translate3d(0px, 0px, 0px) rotate(0.0001deg); transform-style: preserve-3d; backface-visibility: hidden; pointer-events: none;">
                <img data-depth="-2" src="~/assets/images/others/shape-33.png" loading="lazy" alt="shape" style="transform: translate3d(-4.1px, 16px, 0px); transform-style: preserve-3d; backface-visibility: hidden; position: relative; display: block; left: 0px; top: 0px;" />
            </li>
        </ul>
    </div>
</div>


<div class="gap-bottom-equal edu-about-area about-style-9" style="background:#f9ead8; padding: 60px 10px;">
    <div class="container edublink-animated-shape">
        <div class="row g-5 align-items-center">

            <div class="col-lg-6">
                <div class="about-content">
                    <div class="section-title section-left sal-animate" data-sal-delay="150" data-sal="slide-up" data-sal-duration="800">

                        <h2 class="title">Cyprus</h2>
                        <span class="shape-line"><i class="icon-19"></i></span>

                    </div>
                    <ul class="features-list sal-animate" data-sal-delay="150" data-sal="slide-up" data-sal-duration="800">
                        <li style="text-align:justify"> <b>English Programs :</b> Many universities offer programs in English, easing the transition for international students.</li>
                        <li style="text-align:justify"><b>Warm Climate :</b> Pleasant Mediterranean climate with beautiful beaches and outdoor activities.</li>
                        <li style="text-align:justify"><b>Diverse Community :</b> A multicultural environment with a significant international student population.</li>
                    </ul>

                </div>
            </div>

            <div class="col-lg-6">
                <div class="about-image-gallery">
                    <img class="main-img-1" src="~/assets/images/europe/7.png" alt="Study in Cyprus" loading="lazy">
                    <div class="author-box">
                        <img src="~/assets/images/europe/8.webp" alt="Cyprus" loading="lazy">
                    </div>

                </div>
            </div>
        </div>

    </div>
</div>


<div class="gap-bottom-equal edu-about-area about-style-9" style="background:#ffc7c3; padding: 60px 10px;">
    <div class="container edublink-animated-shape">
        <div class="row g-5 align-items-center">
            <div class="col-lg-6">
                <div class="about-image-gallery">
                    <img class="main-img-1" src="~/assets/images/europe/11.png" alt="Explore Czech Republic" loading="lazy">
                    <div class="author-box">
                        <img src="~/assets/images/europe/9.webp" alt="Study abroad Czech Republic" loading="lazy">
                    </div>

                </div>
            </div>
            <div class="col-lg-6">
                <div class="about-content">
                    <div class="section-title section-left sal-animate" data-sal-delay="150" data-sal="slide-up" data-sal-duration="800">

                        <h2 class="title">Czech Republic</h2>
                        <span class="shape-line"><i class="icon-19"></i></span>

                    </div>
                    <ul class="features-list sal-animate" data-sal-delay="150" data-sal="slide-up" data-sal-duration="800">
                        <li style="text-align:justify"> <b>Historic Universities :</b> Home to some of the oldest and most prestigious universities in Europe</li>
                        <li style="text-align:justify"><b>Affordable Tuition Fees :</b> Lower tuition fees and living costs compared to Western Europe.</li>
                        <li style="text-align:justify"><b>Central Location :</b> Convenient location for travel across Europe, with a rich cultural and historical heritage.</li>
                    </ul>

                </div>
            </div>
        </div>
        <ul class="shape-group">
            <li class="shape-4 scene sal-animate" data-sal-delay="500" data-sal="fade" data-sal-duration="200" style="transform: translate3d(0px, 0px, 0px) rotate(0.0001deg); transform-style: preserve-3d; backface-visibility: hidden; pointer-events: none;">
                <img data-depth="-2" src="~/assets/images/others/shape-33.png" alt="feature-icon" loading="lazy" style="transform: translate3d(-4.1px, 16px, 0px); transform-style: preserve-3d; backface-visibility: hidden; position: relative; display: block; left: 0px; top: 0px;">
            </li>
        </ul>
    </div>
</div>


<div class="gap-bottom-equal edu-about-area about-style-9" style="background:#ffb9bb; padding: 60px 10px;">
    <div class="container edublink-animated-shape">
        <div class="row g-5 align-items-center">

            <div class="col-lg-6">
                <div class="about-content">
                    <div class="section-title section-left sal-animate" data-sal-delay="150" data-sal="slide-up" data-sal-duration="800">

                        <h2 class="title">Denmark</h2>
                        <span class="shape-line"><i class="icon-19"></i></span>

                    </div>
                    <ul class="features-list sal-animate" data-sal-delay="150" data-sal="slide-up" data-sal-duration="800">
                        <li style="text-align:justify"> <b>Innovative Teaching Methods :</b> Emphasis on student-centered learning and critical thinking.</li>
                        <li style="text-align:justify"><b>Green Lifestyle :</b> Strong focus on sustainability and environmental consciousness.</li>
                        <li style="text-align:justify"><b>Work Opportunities :</b> Opportunities for part-time work and internships, often with English-speaking companies.</li>
                    </ul>

                </div>
            </div>

            <div class="col-lg-6">
                <div class="about-image-gallery">
                    <img class="main-img-1" src="~/assets/images/europe/d1.png" alt="Denmark" loading="lazy" />
                    <div class="author-box">
                        <img src="~/assets/images/europe/d2.webp" alt="Study in Denmark" loading="lazy" />
                    </div>

                </div>
            </div>
        </div>

    </div>
</div>


<div class="gap-bottom-equal edu-about-area about-style-9" style="background:#0083ed; padding: 60px 10px;">
    <div class="container edublink-animated-shape">
        <div class="row g-5 align-items-center">
            <div class="col-lg-6">
                <div class="about-image-gallery">
                    <img class="main-img-1" src="~/assets/images/europe/e1.png" alt="Study in Estonia" loading="lazy"/>
                    <div class="author-box">
                        <img src="~/assets/images/europe/e2.webp" alt="Estonia" loading="lazy" />
                    </div>

                </div>
            </div>
            <div class="col-lg-6">
                <div class="about-content">
                    <div class="section-title section-left sal-animate" data-sal-delay="150" data-sal="slide-up" data-sal-duration="800">

                        <h2 class="title">Estonia</h2>
                        <span class="shape-line"><i class="icon-19"></i></span>

                    </div>
                    <ul class="features-list sal-animate" data-sal-delay="150" data-sal="slide-up" data-sal-duration="800">
                        <li style="text-align:justify"> <b>Digital Society :</b> Advanced in technology and digitalization, offering many IT and tech-related programs.</li>
                        <li style="text-align:justify"><b>English-Taught Programs :</b> Wide range of programs available in English</li>
                        <li style="text-align:justify"><b>Entrepreneurial Environment :</b> Supportive environment for startups and innovation, with numerous incubators and accelerators.</li>
                    </ul>

                </div>
            </div>
        </div>

    </div>
</div>


<div class="gap-bottom-equal edu-about-area about-style-9" style="background:#b4cbff; padding: 60px 10px;">
    <div class="container edublink-animated-shape">
        <div class="row g-5 align-items-center">

            <div class="col-lg-6">
                <div class="about-content">
                    <div class="section-title section-left sal-animate" data-sal-delay="150" data-sal="slide-up" data-sal-duration="800">

                        <h2 class="title">Finland</h2>
                        <span class="shape-line"><i class="icon-19"></i></span>

                    </div>
                    <ul class="features-list sal-animate" data-sal-delay="150" data-sal="slide-up" data-sal-duration="800">
                        <li style="text-align:justify"> <b>World-Class Education :</b> Known for its top-ranking education system and innovative teaching approaches.</li>
                        <li style="text-align:justify"><b>Safe and Clean :</b> High quality of life, with clean, safe, and well-organized cities.</li>
                        <li style="text-align:justify"><b>Research Opportunities :</b> Strong emphasis on research and development, especially in technology and engineering.</li>
                    </ul>

                </div>
            </div>

            <div class="col-lg-6">
                <div class="about-image-gallery">
                    <img class="main-img-1" src="~/assets/images/europe/f1.png" alt="study in finland" loading="lazy" />
                    <div class="author-box">
                        <img src="~/assets/images/europe/f2.webp" alt="explore finland" loading="lazy" />
                    </div>

                </div>
            </div>
        </div>

    </div>
</div>


<div class="gap-bottom-equal edu-about-area about-style-9" style="background:#ffa6b0; padding: 60px 10px;">
    <div class="container edublink-animated-shape">
        <div class="row g-5 align-items-center">
            <div class="col-lg-6">
                <div class="about-image-gallery">
                    <img class="main-img-1" src="~/assets/images/europe/fr2.png" alt="Study in France" loading="lazy" />
                    <div class="author-box">
                        <img src="~/assets/images/europe/fr1.webp" alt="Explore France" loading="lazy" />
                    </div>

                </div>
            </div>
            <div class="col-lg-6">
                <div class="about-content">
                    <div class="section-title section-left sal-animate" data-sal-delay="150" data-sal="slide-up" data-sal-duration="800">

                        <h2 class="title">France</h2>
                        <span class="shape-line"><i class="icon-19"></i></span>

                    </div>
                    <ul class="features-list sal-animate" data-sal-delay="150" data-sal="slide-up" data-sal-duration="800">
                        <li style="text-align:justify"> <b>Cultural Experience :</b> Rich cultural heritage, art, fashion, and cuisine.</li>
                        <li style="text-align:justify"><b>Wide Range of Programs :</b> Diverse range of programs offered in English, especially at postgraduate levels.</li>
                        <li style="text-align:justify"><b>Global Networks :</b> Opportunities to build global networks through numerous international partnerships and exchange programs.</li>
                    </ul>

                </div>
            </div>
        </div>

    </div>
</div>


<div class="gap-bottom-equal edu-about-area about-style-9" style="background:#ffe15a; padding: 60px 10px;">
    <div class="container edublink-animated-shape">
        <div class="row g-5 align-items-center">

            <div class="col-lg-6">
                <div class="about-content">
                    <div class="section-title section-left sal-animate" data-sal-delay="150" data-sal="slide-up" data-sal-duration="800">

                        <h2 class="title">Germany</h2>
                        <span class="shape-line"><i class="icon-19"></i></span>

                    </div>
                    <ul class="features-list sal-animate" data-sal-delay="150" data-sal="slide-up" data-sal-duration="800">
                        <li style="text-align:justify"> <b>No or Low Tuition Fees :</b> Many public universities charge little to no tuition fees.</li>
                        <li style="text-align:justify"><b>Strong Industry Links :</b> Close ties between universities and industries, offering great internship and job opportunities.</li>
                        <li style="text-align:justify"><b>High Quality of Life :</b> Excellent infrastructure, healthcare, and vibrant cultural scene.</li>
                    </ul>

                </div>
            </div>

            <div class="col-lg-6">
                <div class="about-image-gallery">
                    <img class="main-img-1" src="~/assets/images/europe/g1.png" alt="Study in Germany" loading="lazy" />
                    <div class="author-box">
                        <img src="~/assets/images/europe/g2.webp" alt="Explore Germany" loading="lazy"/>
                    </div>

                </div>
            </div>
        </div>

    </div>
</div>


<div class="gap-bottom-equal edu-about-area about-style-9" style="background:#85c2ff; padding: 60px 10px;">
    <div class="container edublink-animated-shape">
        <div class="row g-5 align-items-center">
            <div class="col-lg-6">
                <div class="about-image-gallery">
                    <img class="main-img-1" src="~/assets/images/europe/gr1.png" alt="Study in Greece" loading="lazy" />
                    <div class="author-box">
                        <img src="~/assets/images/europe/gr2.webp" alt="Explore Greece" loading="lazy" />
                    </div>

                </div>
            </div>
            <div class="col-lg-6">
                <div class="about-content">
                    <div class="section-title section-left sal-animate" data-sal-delay="150" data-sal="slide-up" data-sal-duration="800">

                        <h2 class="title">Greece</h2>
                        <span class="shape-line"><i class="icon-19"></i></span>

                    </div>
                    <ul class="features-list sal-animate" data-sal-delay="150" data-sal="slide-up" data-sal-duration="800">
                        <li style="text-align:justify"> <b>Historical Significance :</b> Study in a country with rich history and contributions to Western civilization.</li>
                        <li style="text-align:justify"><b>Affordable Living Costs :</b> Lower living costs compared to many other European countries.</li>
                        <li style="text-align:justify"><b>Beautiful Environment :</b> Stunning landscapes and islands offering a pleasant living environment.</li>
                    </ul>

                </div>
            </div>
        </div>

    </div>
</div>


<div class="gap-bottom-equal edu-about-area about-style-9" style="background:#bee7c7; padding: 60px 10px;">
    <div class="container edublink-animated-shape">
        <div class="row g-5 align-items-center">

            <div class="col-lg-6">
                <div class="about-content">
                    <div class="section-title section-left sal-animate" data-sal-delay="150" data-sal="slide-up" data-sal-duration="800">

                        <h2 class="title">Hungary</h2>
                        <span class="shape-line"><i class="icon-19"></i></span>

                    </div>
                    <ul class="features-list sal-animate" data-sal-delay="150" data-sal="slide-up" data-sal-duration="800">
                        <li style="text-align:justify"> <b>Affordable Education :</b> Reasonably priced tuition fees and living costs.</li>
                        <li style="text-align:justify"><b>Quality Education :</b> High standard of education with degrees recognized worldwide.</li>
                        <li style="text-align:justify"><b>Cultural Richness :</b> A vibrant cultural life with a mix of Eastern and Western European influences.</li>
                    </ul>

                </div>
            </div>

            <div class="col-lg-6">
                <div class="about-image-gallery">
                    <img class="main-img-1" src="~/assets/images/europe/h2.png" alt="Study in Hungary" loading="lazy" />
                    <div class="author-box">
                        <img src="~/assets/images/europe/h1.webp" alt="About Hungary" loading="lazy" />
                    </div>

                </div>
            </div>
        </div>

    </div>
</div>



@* <div class="gap-bottom-equal edu-about-area about-style-9" style="background:#ffccac; padding: 60px 10px;">
    <div class="container edublink-animated-shape">
        <div class="row g-5 align-items-center">
            <div class="col-lg-6">
                <div class="about-image-gallery">
                    <img class="main-img-1" src="~/assets/images/europe/i1.png" alt="About Image">
                    <div class="author-box">
                        <img src="~/assets/images/europe/i2.png" alt="About Images">
                    </div>

                </div>
            </div>
            <div class="col-lg-6">
                <div class="about-content">
                    <div class="section-title section-left sal-animate" data-sal-delay="150" data-sal="slide-up" data-sal-duration="800">

                        <h2 class="title">Ireland</h2>
                        <span class="shape-line"><i class="icon-19"></i></span>

                    </div>
                    <ul class="features-list sal-animate" data-sal-delay="150" data-sal="slide-up" data-sal-duration="800">
                        <li style="text-align:justify"> <b>English-Speaking :</b> English is the primary language of instruction, making it easier for Indian students.</li>
                        <li style="text-align:justify"><b>Global Tech Hub :</b> Home to many global tech companies, providing excellent career opportunities</li>
                        <li style="text-align:justify"><b>Friendly People :</b> Known for its welcoming and friendly atmosphere for international students.</li>
                    </ul>

                </div>
            </div>
        </div>

    </div>
</div> *@


<div class="gap-bottom-equal edu-about-area about-style-9" style="background:#00d365; padding: 60px 10px;">
    <div class="container edublink-animated-shape">
        <div class="row g-5 align-items-center">

            <div class="col-lg-6">
                <div class="about-content">
                    <div class="section-title section-left sal-animate" data-sal-delay="150" data-sal="slide-up" data-sal-duration="800">

                        <h2 class="title">Italy</h2>
                        <span class="shape-line"><i class="icon-19"></i></span>

                    </div>
                    <ul class="features-list sal-animate" data-sal-delay="150" data-sal="slide-up" data-sal-duration="800">
                        <li style="text-align:justify"> <b>Historic Universities :</b> Home to some of the world’s oldest universities with rich traditions.</li>
                        <li style="text-align:justify"><b>Cultural and Artistic Hub :</b> Offers an immersive cultural and artistic experience.</li>
                        <li style="text-align:justify"><b>Delicious Cuisine :</b> Enjoy world-famous Italian cuisine and a rich lifestyle.</li>
                    </ul>

                </div>
            </div>

            <div class="col-lg-6">
                <div class="about-image-gallery">
                    <img class="main-img-1" src="~/assets/images/europe/it2.png" alt="Study in Italy" loading="lazy" />
                    <div class="author-box">
                        <img src="~/assets/images/europe/it1.webp" alt="About Italy" loading="lazy" />
                    </div>

                </div>
            </div>
        </div>

    </div>
</div>



<div class="gap-bottom-equal edu-about-area about-style-9" style="background:#ff8892; padding: 60px 10px;">
    <div class="container edublink-animated-shape">
        <div class="row g-5 align-items-center">
            <div class="col-lg-6">
                <div class="about-image-gallery">
                    <img class="main-img-1" src="~/assets/images/europe/l1.png" alt="Study in Latvia" loading="lazy" />
                    <div class="author-box">
                        <img src="~/assets/images/europe/l2.webp" alt="About Latvia" loading="lazy" />
                    </div>

                </div>
            </div>
            <div class="col-lg-6">
                <div class="about-content">
                    <div class="section-title section-left sal-animate" data-sal-delay="150" data-sal="slide-up" data-sal-duration="800">

                        <h2 class="title">Latvia</h2>
                        <span class="shape-line"><i class="icon-19"></i></span>

                    </div>
                    <ul class="features-list sal-animate" data-sal-delay="150" data-sal="slide-up" data-sal-duration="800">
                        <li style="text-align:justify"> <b>Affordable Education :</b> Low tuition fees and living costs.</li>
                        <li style="text-align:justify"><b>English-Taught Programs :</b> Increasing number of programs available in English.</li>
                        <li style="text-align:justify"><b>Dynamic Environment :</b> A vibrant and growing economy with opportunities in various fields.</li>
                    </ul>

                </div>
            </div>
        </div>

    </div>
</div>



<div class="gap-bottom-equal edu-about-area about-style-9" style="background:#5ccf9b; padding: 60px 10px;">
    <div class="container edublink-animated-shape">
        <div class="row g-5 align-items-center">

            <div class="col-lg-6">
                <div class="about-content">
                    <div class="section-title section-left sal-animate" data-sal-delay="150" data-sal="slide-up" data-sal-duration="800">

                        <h2 class="title">Lithuania</h2>
                        <span class="shape-line"><i class="icon-19"></i></span>

                    </div>
                    <ul class="features-list sal-animate" data-sal-delay="150" data-sal="slide-up" data-sal-duration="800">
                        <li style="text-align:justify"> <b>Affordable Living :</b> Low cost of living and tuition fees.</li>
                        <li style="text-align:justify"><b>Modern Facilities :</b> Well-equipped universities with modern facilities.</li>
                        <li style="text-align:justify"><b>Strategic Location :</b> Gateway to the Baltic region with rich cultural and historical experiences.</li>
                    </ul>

                </div>
            </div>

            <div class="col-lg-6">
                <div class="about-image-gallery">
                    <img class="main-img-1" src="~/assets/images/europe/lt1.png" alt="Study in Lithuania" loading="lazy" />
                    <div class="author-box">
                        <img src="~/assets/images/europe/lt2.webp" alt="About Lithuania" loading="lazy" />
                    </div>

                </div>
            </div>
        </div>

    </div>
</div>



<div class="gap-bottom-equal edu-about-area about-style-9" style="background:#37c9ff; padding: 60px 10px;">
    <div class="container edublink-animated-shape">
        <div class="row g-5 align-items-center">
            <div class="col-lg-6">
                <div class="about-image-gallery">
                    <img class="main-img-1" src="~/assets/images/europe/lx2.png" alt="Study in Luxembourg" loading="lazy" />
                    <div class="author-box">
                        <img src="~/assets/images/europe/lx1.webp" alt="About Luxembourg" loading="lazy" />
                    </div>

                </div>
            </div>
            <div class="col-lg-6">
                <div class="about-content">
                    <div class="section-title section-left sal-animate" data-sal-delay="150" data-sal="slide-up" data-sal-duration="800">

                        <h2 class="title">Luxembourg</h2>
                        <span class="shape-line"><i class="icon-19"></i></span>

                    </div>
                    <ul class="features-list sal-animate" data-sal-delay="150" data-sal="slide-up" data-sal-duration="800">
                        <li style="text-align:justify"> <b>Multilingual Programs :</b> Programs offered in multiple languages, including English, French, and German.</li>
                        <li style="text-align:justify"><b>Strong Economy :</b> One of the wealthiest countries with high standards of living and safety.</li>
                        <li style="text-align:justify"><b>Cultural Diversity :</b> Diverse and multicultural environment, fostering global connections.</li>
                    </ul>

                </div>
            </div>
        </div>

    </div>
</div>


<div class="gap-bottom-equal edu-about-area about-style-9" style="background:#ffc9d0; padding: 60px 10px;">
    <div class="container edublink-animated-shape">
        <div class="row g-5 align-items-center">

            <div class="col-lg-6">
                <div class="about-content">
                    <div class="section-title section-left sal-animate" data-sal-delay="150" data-sal="slide-up" data-sal-duration="800">

                        <h2 class="title">Malta</h2>
                        <span class="shape-line"><i class="icon-19"></i></span>

                    </div>
                    <ul class="features-list sal-animate" data-sal-delay="150" data-sal="slide-up" data-sal-duration="800">
                        <li style="text-align:justify"> <b>English Proficiency :</b> English is one of the official languages, making it easy for Indian students.</li>
                        <li style="text-align:justify"><b>Warm Climate :</b> Mediterranean climate with beautiful coastal areas.</li>
                        <li style="text-align:justify"><b>Strategic Location :</b> Gateway to the Baltic region with rich cultural and historical experiences.</li>
                    </ul>

                </div>
            </div>

            <div class="col-lg-6">
                <div class="about-image-gallery">
                    <img class="main-img-1" src="~/assets/images/europe/m1.png" alt="Study in Malta" loading="lazy" />
                    <div class="author-box">
                        <img src="~/assets/images/europe/m2.webp" alt="About Malta" loading="lazy" />
                    </div>

                </div>
            </div>
        </div>

    </div>
</div>


<div class="gap-bottom-equal edu-about-area about-style-9" style="background:#e4e4ff; padding: 60px 10px;">
    <div class="container edublink-animated-shape">
        <div class="row g-5 align-items-center">
            <div class="col-lg-6">
                <div class="about-image-gallery">
                    <img class="main-img-1" src="~/assets/images/europe/11.png" alt="Study in Netherlands" loading="lazy" />
                    <div class="author-box">
                        <img src="~/assets/images/europe/9.webp" alt="About Netherlands" loading="lazy" />
                    </div>

                </div>
            </div>
            <div class="col-lg-6">
                <div class="about-content">
                    <div class="section-title section-left sal-animate" data-sal-delay="150" data-sal="slide-up" data-sal-duration="800">

                        <h2 class="title">Netherlands</h2>
                        <span class="shape-line"><i class="icon-19"></i></span>

                    </div>
                    <ul class="features-list sal-animate" data-sal-delay="150" data-sal="slide-up" data-sal-duration="800">
                        <li style="text-align:justify"> <b>Innovative Education System :</b> Known for its innovative and high-quality education system.</li>
                        <li style="text-align:justify"><b>English-Taught Courses :</b> Wide range of courses available in English.</li>
                        <li style="text-align:justify"><b>Open and Inclusive Society :</b> Welcoming and tolerant society, encouraging international students.</li>
                    </ul>

                </div>
            </div>
        </div>

    </div>
</div>


<div class="gap-bottom-equal edu-about-area about-style-9" style="background:#ffd8df; padding: 60px 10px;">
    <div class="container edublink-animated-shape">
        <div class="row g-5 align-items-center">

            <div class="col-lg-6">
                <div class="about-content">
                    <div class="section-title section-left sal-animate" data-sal-delay="150" data-sal="slide-up" data-sal-duration="800">

                        <h2 class="title">Poland</h2>
                        <span class="shape-line"><i class="icon-19"></i></span>

                    </div>
                    <ul class="features-list sal-animate" data-sal-delay="150" data-sal="slide-up" data-sal-duration="800">
                        <li style="text-align:justify"> <b>Affordable Tuition Fees :</b> Competitive tuition fees and cost of living.</li>
                        <li style="text-align:justify"><b>Rich Academic Tradition :</b> Strong academic traditions with many historic universities.</li>
                        <li style="text-align:justify"><b>Dynamic Economy :</b> Growing economy with numerous job opportunities, especially in IT and engineering.</li>
                    </ul>

                </div>
            </div>

            <div class="col-lg-6">
                <div class="about-image-gallery">
                    <img class="main-img-1" src="~/assets/images/europe/p1.png" alt="Study in Poland" loading="lazy" />
                    <div class="author-box">
                        <img src="~/assets/images/europe/p2.webp" alt="About Poland" loading="lazy" />
                    </div>

                </div>
            </div>
        </div>

    </div>
</div>



<div class="gap-bottom-equal edu-about-area about-style-9" style="background:#ffa6a6; padding: 60px 10px;">
    <div class="container edublink-animated-shape">
        <div class="row g-5 align-items-center">
            <div class="col-lg-6">
                <div class="about-image-gallery">
                    <img class="main-img-1" src="~/assets/images/europe/pl2.png" alt="Study in Portugal" loading="lazy" />
                    <div class="author-box">
                        <img src="~/assets/images/europe/pl1.webp" alt="About Portugal" loading="lazy" />
                    </div>

                </div>
            </div>
            <div class="col-lg-6">
                <div class="about-content">
                    <div class="section-title section-left sal-animate" data-sal-delay="150" data-sal="slide-up" data-sal-duration="800">

                        <h2 class="title">Portugal</h2>
                        <span class="shape-line"><i class="icon-19"></i></span>

                    </div>
                    <ul class="features-list sal-animate" data-sal-delay="150" data-sal="slide-up" data-sal-duration="800">
                        <li style="text-align:justify"> <b>Affordable Living Costs :</b> Lower cost of living compared to other Western European countries.</li>
                        <li style="text-align:justify"><b>Rich Culture and History :</b> Offers a rich cultural and historical experience.</li>
                        <li style="text-align:justify"><b>Warm Climate :</b> Pleasant climate with beautiful landscapes and beaches.</li>
                    </ul>

                </div>
            </div>
        </div>

    </div>
</div>



<div class="gap-bottom-equal edu-about-area about-style-9" style="background:#d3e2ff; padding: 60px 10px;">
    <div class="container edublink-animated-shape">
        <div class="row g-5 align-items-center">

            <div class="col-lg-6">
                <div class="about-content">
                    <div class="section-title section-left sal-animate" data-sal-delay="150" data-sal="slide-up" data-sal-duration="800">

                        <h2 class="title">Romania</h2>
                        <span class="shape-line"><i class="icon-19"></i></span>

                    </div>
                    <ul class="features-list sal-animate" data-sal-delay="150" data-sal="slide-up" data-sal-duration="800">
                        <li style="text-align:justify"> <b>Affordable Education :</b> Low tuition fees and living costs.</li>
                        <li style="text-align:justify"><b>Diverse Programs :</b> Wide range of study programs available in English.</li>
                        <li style="text-align:justify"><b>Cultural Heritage :</b> Rich cultural and historical heritage, providing a unique study experience.</li>
                    </ul>

                </div>
            </div>

            <div class="col-lg-6">
                <div class="about-image-gallery">
                    <img class="main-img-1" src="~/assets/images/europe/r1.png" alt="Study in Romania" loading="lazy" />
                    <div class="author-box">
                        <img src="~/assets/images/europe/r2.webp" alt="About Romania" loading="lazy" />
                    </div>

                </div>
            </div>
        </div>

    </div>
</div>


<div class="gap-bottom-equal edu-about-area about-style-9" style="background:#66aaff; padding: 60px 10px;">
    <div class="container edublink-animated-shape">
        <div class="row g-5 align-items-center">
            <div class="col-lg-6">
                <div class="about-image-gallery">
                    <img class="main-img-1" src="~/assets/images/europe/sl1.png" alt="Study in Slovakia" loading="lazy" />
                    <div class="author-box">
                        <img src="~/assets/images/europe/sl2.webp" alt="About Slovakia" loading="lazy" />
                    </div>

                </div>
            </div>
            <div class="col-lg-6">
                <div class="about-content">
                    <div class="section-title section-left sal-animate" data-sal-delay="150" data-sal="slide-up" data-sal-duration="800">

                        <h2 class="title">Slovakia</h2>
                        <span class="shape-line"><i class="icon-19"></i></span>

                    </div>
                    <ul class="features-list sal-animate" data-sal-delay="150" data-sal="slide-up" data-sal-duration="800">
                        <li style="text-align:justify"> <b>Affordable Living :</b> Low cost of living and education.</li>
                        <li style="text-align:justify"><b>Quality Education :</b> Good standard of education with recognized degrees.</li>
                        <li style="text-align:justify"><b>Natural Beauty :</b> Stunning natural landscapes and outdoor activities.</li>
                    </ul>

                </div>
            </div>
        </div>

    </div>
</div>



<div class="gap-bottom-equal edu-about-area about-style-9" style="background:#ffb9bb; padding: 60px 10px;">
    <div class="container edublink-animated-shape">
        <div class="row g-5 align-items-center">

            <div class="col-lg-6">
                <div class="about-content">
                    <div class="section-title section-left sal-animate" data-sal-delay="150" data-sal="slide-up" data-sal-duration="800">

                        <h2 class="title">Slovenia</h2>
                        <span class="shape-line"><i class="icon-19"></i></span>

                    </div>
                    <ul class="features-list sal-animate" data-sal-delay="150" data-sal="slide-up" data-sal-duration="800">
                        <li style="text-align:justify"> <b>High Quality of Life :</b> Safe and clean environment with a high quality of life.</li>
                        <li style="text-align:justify"><b>Affordable Education :</b> Competitive tuition fees and living costs.</li>
                        <li style="text-align:justify"><b>Beautiful Scenery :</b> Gorgeous landscapes including mountains, lakes, and coastal areas.</li>
                    </ul>

                </div>
            </div>

            <div class="col-lg-6">
                <div class="about-image-gallery">
                    <img class="main-img-1" src="~/assets/images/europe/sv1.png" alt="Study in Slovenia" loading="lazy" />
                    <div class="author-box">
                        <img src="~/assets/images/europe/sv2.webp" alt="About Slovenia" loading="lazy" />
                    </div>

                </div>
            </div>
        </div>

    </div>
</div>




<div class="gap-bottom-equal edu-about-area about-style-9" style="background:#ffcb01; padding: 60px 10px;">
    <div class="container edublink-animated-shape">
        <div class="row g-5 align-items-center">
            <div class="col-lg-6">
                <div class="about-image-gallery">
                    <img class="main-img-1" src="~/assets/images/europe/sp1.png" alt="Study in Spain" loading="lazy" />
                    <div class="author-box">
                        <img src="~/assets/images/europe/sp2.webp" alt="About Spain" loading="lazy" />
                    </div>

                </div>
            </div>
            <div class="col-lg-6">
                <div class="about-content">
                    <div class="section-title section-left sal-animate" data-sal-delay="150" data-sal="slide-up" data-sal-duration="800">

                        <h2 class="title">Spain</h2>
                        <span class="shape-line"><i class="icon-19"></i></span>

                    </div>
                    <ul class="features-list sal-animate" data-sal-delay="150" data-sal="slide-up" data-sal-duration="800">
                        <li style="text-align:justify"> <b>Rich Cultural Experience :</b> Vibrant culture, festivals, and lifestyle.</li>
                        <li style="text-align:justify"><b>English-Taught Programs :</b> Increasing number of programs offered in English.</li>
                        <li style="text-align:justify"><b>Warm Climate :</b> Pleasant climate with numerous sunny days and beautiful beaches.</li>
                    </ul>

                </div>
            </div>
        </div>

    </div>
</div>



<div class="gap-bottom-equal edu-about-area about-style-9" style="background:#bee7ff; padding: 60px 10px;">
    <div class="container edublink-animated-shape">
        <div class="row g-5 align-items-center">

            <div class="col-lg-6">
                <div class="about-content">
                    <div class="section-title section-left sal-animate" data-sal-delay="150" data-sal="slide-up" data-sal-duration="800">

                        <h2 class="title">Sweden</h2>
                        <span class="shape-line"><i class="icon-19"></i></span>

                    </div>
                    <ul class="features-list sal-animate" data-sal-delay="150" data-sal="slide-up" data-sal-duration="800">
                        <li style="text-align:justify"> <b>World-Class Education :</b> Known for high-quality education and research.</li>
                        <li style="text-align:justify"><b>Innovative Environment :</b> Strong focus on innovation and sustainability.</li>
                        <li style="text-align:justify"><b>English Proficiency :</b> Almost everyone speaks English, making it easy for international students.</li>
                    </ul>

                </div>
            </div>

            <div class="col-lg-6">
                <div class="about-image-gallery">
                    <img class="main-img-1" src="~/assets/images/europe/sw1.png" alt="Study in Sweden" loading="lazy" />
                    <div class="author-box">
                        <img src="~/assets/images/europe/sw2.webp" alt="About Sweden" loading="lazy" />
                    </div>

                </div>
            </div>
        </div>

    </div>
</div>


<div class="gap-bottom-equal edu-about-area about-style-9" style="background:#ffc9c9; padding: 60px 10px;">
    <div class="container edublink-animated-shape">
        <div class="row g-5 align-items-center">
            <div class="col-lg-6">
                <div class="about-image-gallery">
                    <img class="main-img-1" src="~/assets/images/europe/swt2.png" alt="Study in Switzerland" loading="lazy" />
                    <div class="author-box">
                        <img src="~/assets/images/europe/swt1.webp" alt="About Switzerland" loading="lazy" />
                    </div>

                </div>
            </div>
            <div class="col-lg-6">
                <div class="about-content">
                    <div class="section-title section-left sal-animate" data-sal-delay="150" data-sal="slide-up" data-sal-duration="800">

                        <h2 class="title">Switzerland</h2>
                        <span class="shape-line"><i class="icon-19"></i></span>

                    </div>
                    <ul class="features-list sal-animate" data-sal-delay="150" data-sal="slide-up" data-sal-duration="800">
                        <li style="text-align:justify"> <b>High-Quality Education :</b> Renowned for its excellent education system and prestigious universities.</li>
                        <li style="text-align:justify"><b>Beautiful Landscapes :</b> Stunning natural beauty with mountains, lakes, and outdoor activities.</li>
                        <li style="text-align:justify"><b>Multicultural Society :</b> Diverse and inclusive environment with a high standard of living.</li>
                    </ul>

                </div>
            </div>
        </div>

    </div>
</div>






<div class="edu-brand-area brand-area-1" style=" background: linear-gradient(90deg, rgb(251 251 251) 0%, rgb(233 233 233) 45%, rgb(229 229 229) 100%);
    padding: 80px 0px 80px;">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="brand-section-heading">
                    <div class="section-title section-center sal-animate" data-sal-delay="150" data-sal="slide-up" data-sal-duration="800">
                        <span class="pre-title" style="color: #000;">Top Universities</span>
                        <h2 class="title">Our Partner Universities</h2>

                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="features-area-9">
                    <div class="features-wrapper">
                        <div class="feature-wrap">
                            <div class="features-track">
                                <img class="features-icon" src="~/assets/images/university/europe/logo1.png" alt="KTH-VETENSKAP OCH KONST" loading="lazy" />

                                <img class="features-icon" src="~/assets/images/university/europe/logo2.png" alt="KU LEUVEN" loading="lazy" />

                                <img class="features-icon" src="~/assets/images/university/europe/logo3.png" alt="TU/E EINDHOVEN University of Technology" loading="lazy" />

                                <img class="features-icon" src="~/assets/images/university/europe/logo4.png" alt="EU Business School" loading="lazy" />

                                <img class="features-icon" src="~/assets/images/university/europe/logo5.png" alt="INSTITUT POLYTECHNIQUE OE PARIS" loading="lazy" />

                                <img class="features-icon" src="~/assets/images/university/europe/logo6.png" alt="UNIVERSITAT POLITECHNICA DE CATALUNYA BARCELONATECH" loading="lazy" />

                                <img class="features-icon" src="~/assets/images/university/europe/logo7.png" alt="TECHNICO LISBOA" loading="lazy" />

                                <img class="features-icon" src="~/assets/images/university/europe/logo8.png" alt="POLITECHNICO DI TORINO" loading="lazy" />

                                <img class="features-icon" src="~/assets/images/university/europe/logo9.png" alt="Technische Universitat Berlin" loading="lazy" />

                                <img class="features-icon" src="~/assets/images/university/europe/logo10.png" alt="Technische Hochschule Wildau Technical University of Applied Sciences" loading="lazy" />

                                <img class="features-icon" src="~/assets/images/university/europe/logo11.png" alt="FACHHOCHSCHULE BRANDENBURG" loading="lazy" />

                                <img class="features-icon" src="~/assets/images/university/europe/logo12.png" alt="HOCHSCHULE WISMAR - University of Applied Sciences Technology Business and Design" loading="lazy" />

                                <img class="features-icon" src="~/assets/images/university/europe/logo13.png" alt="University of Europe for Applied Sciences" loading="lazy" />

                                <img class="features-icon" src="~/assets/images/university/europe/logo14.png" alt="Arden University" loading="lazy" />



                            </div>

                            <div class="features-track">
                                <img class="features-icon" src="~/assets/images/university/europe/logo1.png" alt="KTH-VETENSKAP OCH KONST" loading="lazy" />

                                <img class="features-icon" src="~/assets/images/university/europe/logo2.png" alt="KU LEUVEN" loading="lazy" />

                                <img class="features-icon" src="~/assets/images/university/europe/logo3.png" alt="TU/E EINDHOVEN University of Technology" loading="lazy" />

                                <img class="features-icon" src="~/assets/images/university/europe/logo4.png" alt="EU Business School" loading="lazy" />

                                <img class="features-icon" src="~/assets/images/university/europe/logo5.png" alt="INSTITUT POLYTECHNIQUE OE PARIS" loading="lazy" />

                                <img class="features-icon" src="~/assets/images/university/europe/logo6.png" alt="UNIVERSITAT POLITECHNICA DE CATALUNYA BARCELONATECH" loading="lazy" />

                                <img class="features-icon" src="~/assets/images/university/europe/logo7.png" alt="TECHNICO LISBOA" loading="lazy" />

                                <img class="features-icon" src="~/assets/images/university/europe/logo8.png" alt="POLITECHNICO DI TORINO" loading="lazy" />

                                <img class="features-icon" src="~/assets/images/university/europe/logo9.png" alt="Technische Universitat Berlin" loading="lazy" />

                                <img class="features-icon" src="~/assets/images/university/europe/logo10.png" alt="Technische Hochschule Wildau Technical University of Applied Sciences" loading="lazy" />

                                <img class="features-icon" src="~/assets/images/university/europe/logo11.png" alt="FACHHOCHSCHULE BRANDENBURG" loading="lazy" />

                                <img class="features-icon" src="~/assets/images/university/europe/logo12.png" alt="HOCHSCHULE WISMAR - University of Applied Sciences Technology Business and Design" loading="lazy" />

                                <img class="features-icon" src="~/assets/images/university/europe/logo13.png" alt="University of Europe for Applied Sciences" loading="lazy" />

                                <img class="features-icon" src="~/assets/images/university/europe/logo14.png" alt="Arden University" loading="lazy" />


                            </div>



                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>




<section class="">
    <div class="container">

        <div class="row row--45">
            <div class="section-title-flex section-title sal-animate" data-sal-delay="150" data-sal="slide-up" data-sal-duration="800">
                <div class="col-lg-12">
                    <h2 class="title" style="margin-bottom: 40px;text-align: center;margin-top: 40px;"> <span class="color-secondary">   Top Courses </span> </h2>
                </div>


            </div>
        </div>
        <div class="row">
            <div class="courses">
                <img class="items-center" src="~/assets/images/franchise/icon/Aerospace-Engineering.svg" alt="Aerospace Engineering" loading="lazy"/>
                <h4>Aerospace Engineering</h4>
            </div>
            <div class="courses">
                <img class="items-center" src="~/assets/images/franchise/icon/Architecture.svg" alt="Architecture" loading="lazy" />
                <h4>Architecture</h4>
            </div>
            <div class="courses">
                <img class="items-center" src="~/assets/images/franchise/icon/Artificial-Intelligence.svg" alt="Artificial Intelligence" loading="lazy" />
                <h4>Artificial Intelligence</h4>
            </div>
            <div class="courses">
                <img class="items-center" src="~/assets/images/franchise/icon/Accounts-and-Finance.svg" alt="Accounts and Finance" loading="lazy" />
                <h4>Accounts and Finance</h4>
            </div>
            <div class="courses">
                <img class="items-center" src="~/assets/images/franchise/icon/Bio-Medical-Engineering.svg" alt="Bio-Medical Engineering" loading="lazy" />
                <h4>Bio-Medical Engineering</h4>
            </div>
            <div class="courses">
                <img class="items-center" src="~/assets/images/franchise/icon/Biotechnology.svg" alt="Bio-technology" loading="lazy" />
                <h4>Bio<br>technology</h4>
            </div>
            <div class="courses">
                <img class="items-center" src="~/assets/images/franchise/icon/Business-Analytics.svg" alt="Business Analytics" loading="lazy" />
                <h4>Business<br> Analytics</h4>
            </div>
            <div class="courses">
                <img class="items-center" src="~/assets/images/franchise/icon/Chemical-engineering.svg" alt="Chemical Engineering" loading="lazy" />
                <h4>Chemical<br> Engineering</h4>
            </div>
            <div class="courses">
                <img class="items-center" src="~/assets/images/franchise/icon/Civil-Engineering.svg" alt="Civil Engineering" loading="lazy" />
                <h4>Civil<br> Engineering</h4>
            </div>


            <div class="courses">
                <img class="items-center" src="~/assets/images/franchise/icon/Computer-Engineering.svg" alt="Computer Engineering" loading="lazy" />
                <h4>Computer Engineering</h4>
            </div>

            <div class="courses">
                <img class="items-center" src="~/assets/images/franchise/icon/Data-Science.svg" alt="Data Science" loading="lazy" />
                <h4>Data<br> Science</h4>
            </div>
            <div class="courses">
                <img class="items-center" src="~/assets/images/franchise/icon/Construction-Management.svg" alt="Constructor Management" loading="lazy" />
                <h4>Construction Management</h4>
            </div>
            <div class="courses">
                <img class="items-center" src="~/assets/images/franchise/icon/Cyber-Security.svg" alt="Cyber Security" loading="lazy" />
                <h4>Cyber<br> Security</h4>
            </div>
            <div class="courses">
                <img class="items-center" src="~/assets/images/franchise/icon/Electrical-Engineering.svg" alt="Electrical Engineering" loading="lazy" />
                <h4>Electrical Engineering</h4>
            </div>



            <div class="courses">
                <img class="items-center" src="~/assets/images/franchise/icon/MBA.svg" alt="MBA" loading="lazy" />
                <h4>MBA</h4>
            </div>
            <div class="courses">
                <img class="items-center" src="~/assets/images/franchise/icon/Mechanical-Engineering.svg" alt="Mechanical Engineering" loading="lazy" />
                <h4>Mechanical Engineering</h4>
            </div>

            <div class="courses">
                <img class="items-center" src="~/assets/images/franchise/icon/Robotics.svg" alt="Robotics" loading="lazy" />
                <h4>Robotics</h4>
            </div>
            <div class="courses">
                <img class="items-center" src="~/assets/images/franchise/icon/LAW.svg" alt="LAW" loading="lazy" />
                <h4>LAW</h4>
            </div>

        </div>


    </div>
</section>


<div class="container edu-section-gap">
    <div class="row row--45">
        <div class="section-title-flex section-title sal-animate" data-sal-delay="150" data-sal="slide-up" data-sal-duration="800">
            <div class="col-lg-12">
                <h2 class="title" style="margin-bottom: 40px;text-align: center;margin-top: 40px;"> <span class="color-secondary">  Student's Experience </span> </h2>
            </div>


        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <iframe height="215" src="https://www.youtube.com/embed/F5JmS74zXKw?si=n4aunw7Gft2A9pLE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen style="border-radius:10px;"></iframe>
        </div>
        <div class="col-md-4">
            <iframe height="215" src="https://www.youtube.com/embed/rckMqCL5ZIM?si=PDFdR1aFegWcI9z6" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen style="border-radius:10px;"></iframe>
        </div>
        <div class="col-md-4">
            <iframe height="215" src="https://www.youtube.com/embed/t-W2-bXhL9c?si=expfWTN8dJW2KCYh" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen style="border-radius:10px;"></iframe>
        </div>
    </div>
</div>

<section class="">

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-12 btn-enquiry">
                <div class="row">
                    <div class="col-sm-10">
                        <div class="contect-sec">
                            <h3 style="margin-top:10px;">Need guidance? Let us help you.</h3>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <a asp-controller="home" asp-action="contact" style="width:100%;">
                            <h4 class="btn-en">
                                contact us
                            </h4>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
