@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<style type="text/css">
    .about-content .features-list li {
        font-size: 17px;
        line-height: 15px;
    }

        .about-content .features-list li:before {
            content: "\e913";
            font-family: 'icomoon';
            color: #150958;
            font-size: 19px;
            position: absolute;
            left: 0;
            top: -3px;
        }

    .about-style-9 .about-content {
        padding-left: 0px;
    }

    td {
        border: 1px solid #d1cfcf;
        padding: 7px 10px;
        color: #000;
    }
</style>

<div class="edu-breadcrumb-area breadcrumb-style-6" style="background:#f0f6fd; padding: 50px 0px 100px;">
    <div class="container">
        <div class="breadcrumb-inner">

            <div class="page-title">
                <h2 style="text-align: center; color: #150958; text-shadow: 2px 2px 2px #afabab; font-size: 50px;"> Explore our Study Destinations!</h2>

                <h4 style="text-align: center; color: #000; font-size: 22px;">Unlock Your Potential : Study in United Kingdom!</h4>
            </div><br>
            <div class="col-lg-12 fimg">
                <img src="~/assets/images/banner/uk-1.png" width="100%" style=" border-radius: 80px;
    box-shadow: 2px 5px 6px #afafaf" class="front">
            </div>

        </div>
    </div>



</div>







<div class="gap-bottom-equal edu-about-area about-style-9" style=" padding: 60px 10px;">
    <div class="container edublink-animated-shape">
        <div class="row g-5 align-items-center">

            <div class="col-lg-7">
                <div class="about-content">
                    <div class="section-title section-left sal-animate" data-sal-delay="150" data-sal="slide-up" data-sal-duration="800">

                        <h2 class="title">United Kingdom</h2>
                        <span class="shape-line"><i class="icon-19"></i></span>

                    </div>
                    <ul class="features-list sal-animate" data-sal-delay="150" data-sal="slide-up" data-sal-duration="800">
                        <li style="line-height:25px; text-align:justify;"><b> 	Elite Education : </b><br> The UK is renowned for its prestigious universities and exceptional education system. Indian students can access a broad range of top-quality programs taught in English, with degrees that are highly valued worldwide and enhance career prospects.</li>

                        <li style="line-height:25px;  text-align:justify;"><b> Rich Cultural Heritage : </b><br> Discover the UK’s diverse cultural landscape, where historic landmarks and contemporary influences merge. Indian students will enjoy the vibrant cultural scene, including renowned arts, music, and numerous festivals that celebrate a rich history.</li>

                        <li style="line-height:25px;  text-align:justify;"><b> Iconic Locations : </b><br> From the bustling cities of London and Edinburgh to scenic countryside and historic sites, the UK offers a wealth of exploration opportunities. Its central location in Europe also makes it easy for Indian students to travel and experience other European destinations.</li>

                    </ul>

                </div>
            </div>

            <div class="col-lg-5">
                <img src="~/assets/images/banner/uk.jpg" style="border-radius: 5px;
    box-shadow: 10px 10px 10px #3a397d54;">
            </div>
        </div>

    </div>
</div>



<section class="">
    <div class="container">

        <div class="row row--45">
            <div class="section-title-flex section-title sal-animate" data-sal-delay="150" data-sal="slide-up" data-sal-duration="800">
                <div class="col-lg-12">
                    <h2 class="title" style="margin-bottom: 40px;text-align: center;margin-top: 40px;"> <span class="color-secondary">   Top Courses </span> </h2>
                </div>


            </div>
        </div>
        <div class="row">
            <div class="courses">
                <img class="items-center" src="/assets/images/franchise/icon/Aerospace-Engineering.svg">
                <h4>Aerospace Engineering</h4>
            </div>
            <div class="courses">
                <img class="items-center" src="/assets/images/franchise/icon/Architecture.svg">
                <h4>Architecture</h4>
            </div>
            <div class="courses">
                <img class="items-center" src="/assets/images/franchise/icon/Artificial-Intelligence.svg">
                <h4>Artificial Intelligence</h4>
            </div>
            <div class="courses">
                <img class="items-center" src="/assets/images/franchise/icon/Accounts-and-Finance.svg">
                <h4>Accounts and Finance</h4>
            </div>
            <div class="courses">
                <img class="items-center" src="/assets/images/franchise/icon/Bio-Medical-Engineering.svg">
                <h4>Bio-Medical Engineering</h4>
            </div>
            <div class="courses">
                <img class="items-center" src="/assets/images/franchise/icon/Biotechnology.svg">
                <h4>Bio<br>technology</h4>
            </div>
            <div class="courses">
                <img class="items-center" src="/assets/images/franchise/icon/Business-Analytics.svg">
                <h4>Business<br> Analytics</h4>
            </div>
            <div class="courses">
                <img class="items-center" src="/assets/images/franchise/icon/Chemical-engineering.svg">
                <h4>Chemical<br> Engineering</h4>
            </div>
            <div class="courses">
                <img class="items-center" src="/assets/images/franchise/icon/Civil-Engineering.svg">
                <h4>Civil<br> Engineering</h4>
            </div>


            <div class="courses">
                <img class="items-center" src="/assets/images/franchise/icon/Computer-Engineering.svg">
                <h4>Computer Engineering</h4>
            </div>

            <div class="courses">
                <img class="items-center" src="/assets/images/franchise/icon/Data-Science.svg">
                <h4>Data<br> Science</h4>
            </div>
            <div class="courses">
                <img class="items-center" src="/assets/images/franchise/icon/Construction-Management.svg">
                <h4>Construction Management</h4>
            </div>
            <div class="courses">
                <img class="items-center" src="/assets/images/franchise/icon/Cyber-Security.svg">
                <h4>Cyber<br> Security</h4>
            </div>
            <div class="courses">
                <img class="items-center" src="/assets/images/franchise/icon/Electrical-Engineering.svg">
                <h4>Electrical Engineering</h4>
            </div>



            <div class="courses">
                <img class="items-center" src="/assets/images/franchise/icon/MBA.svg">
                <h4>MBA</h4>
            </div>
            <div class="courses">
                <img class="items-center" src="/assets/images/franchise/icon/Mechanical-Engineering.svg">
                <h4>Mechanical Engineering</h4>
            </div>

            <div class="courses">
                <img class="items-center" src="/assets/images/franchise/icon/Robotics.svg">
                <h4>Robotics</h4>
            </div>
            <div class="courses">
                <img class="items-center" src="/assets/images/franchise/icon/LAW.svg">
                <h4>LAW</h4>
            </div>

        </div>


    </div>
</section>


<div class="container edu-section-gap">
    <div class="row row--45">
        <div class="section-title-flex section-title sal-animate" data-sal-delay="150" data-sal="slide-up" data-sal-duration="800">
            <div class="col-lg-12">
                <h2 class="title" style="margin-bottom: 40px;text-align: center;margin-top: 40px;"> <span class="color-secondary">  Student's Experience </span> </h2>
            </div>


        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <iframe width="100%" height="215" src="https://www.youtube.com/embed/F5JmS74zXKw?si=n4aunw7Gft2A9pLE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen style="border-radius:10px;"></iframe>
        </div>
        <div class="col-md-4">
            <iframe width="100%" height="215" src="https://www.youtube.com/embed/rckMqCL5ZIM?si=PDFdR1aFegWcI9z6" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen style="border-radius:10px;"></iframe>
        </div>
        <div class="col-md-4">
            <iframe width="100%" height="215" src="https://www.youtube.com/embed/t-W2-bXhL9c?si=expfWTN8dJW2KCYh" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen style="border-radius:10px;"></iframe>
        </div>
    </div>
</div>

<section class="">

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-12 btn-enquiry">
                <div class="row">
                    <div class="col-sm-10">
                        <div class="contect-sec">
                            <h3 style="margin-top:10px;">Need guidance? Let us help you.</h3>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <a href="/home/contact" style="width:100%;">
                            <h4 class="btn-en">
                                contact us
                            </h4>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>