
@{
    ViewData["Title"] = "USA";
}

<style type="text/css">
    .about-content .features-list li {
        font-size: 17px;
        line-height: 15px;
    }

        .about-content .features-list li:before {
            content: "\e913";
            font-family: 'icomoon';
            color: #150958;
            font-size: 19px;
            position: absolute;
            left: 0;
            top: -3px;
        }

    .about-style-9 .about-content {
        padding-left: 0px;
    }

    td {
        border: 1px solid #d1cfcf;
        padding: 7px 10px;
        color: #000;
    }
</style>

<div class="edu-breadcrumb-area breadcrumb-style-6" style="background:#f0f6fd; padding: 50px 0px 100px;">
    <div class="container">
        <div class="breadcrumb-inner">

            <div class="page-title">
                <h1 style="text-align: center; color: #150958; text-shadow: 2px 2px 2px #afabab; font-size: 50px;"> Explore our Study Destinations!</h1>

                <h3 style="text-align: center; color: #000; font-size: 22px;">Unlock Your Potential : Study in USA!</h3>
            </div><br>
            <div class="col-lg-12 fimg">
                <img src="~/assets/images/usa/usa.jpg" width="100%" style=" border-radius: 80px;
    box-shadow: 2px 5px 6px #afafaf" class="front">
            </div>

        </div>
    </div>



</div>







<div class="gap-bottom-equal edu-about-area about-style-9" style="background:#0060ff2e; padding: 60px 10px;">
    <div class="container edublink-animated-shape">
        <div class="row g-5 align-items-center">

            <div class="col-lg-6">
                <div class="about-content">
                    <div class="section-title section-left sal-animate" data-sal-delay="150" data-sal="slide-up" data-sal-duration="800">

                        <h2 class="title">Why USA</h2>
                        <span class="shape-line"><i class="icon-19"></i></span>

                    </div>
                    <ul class="features-list sal-animate" data-sal-delay="150" data-sal="slide-up" data-sal-duration="800">
                        <li style="text-align: justify"> For World-Class and Quality Education</li>
                        <li style="text-align: justify">Globally Accepted Degrees</li>
                        <li style="text-align: justify">Flexible Education System</li>
                        <li style="text-align: justify">Higher ROI on Your Investment</li>
                        <li style="text-align: justify">Excellent Support for International Students</li>
                        <li style="text-align: justify">Flexible Scholarship Programs</li>
                        <li style="text-align: justify">Study and earn simultaneously</li>
                        <li style="text-align: justify">Experience Vibrant Campus Life</li>
                        <li style="text-align: justify">Multicultural Experiences</li>
                        <li style="text-align: justify">Diverse Career Opportunities</li>
                    </ul>

                </div>
            </div>

            <div class="col-lg-6">
                <img src="~/assets/images/usa/1.jpg" style="border-radius: 5px; box-shadow: 2px 2px 2px #6d6d6d;">
            </div>
        </div>

    </div>
</div>



<div class="gap-bottom-equal edu-about-area about-style-9" style="background:#fff; padding: 60px 10px;">
    <div class="container edublink-animated-shape">
        <div class="row g-5 align-items-center">

            <div class="col-lg-12">
                <div class="section-title section-left sal-animate" data-sal-delay="150" data-sal="slide-up" data-sal-duration="800">

                    <h2 class="title">OUR PARTNER UNIVERSITIES ARE</h2>
                    <span class="shape-line"><i class="icon-19"></i></span>

                </div>
            </div>

            <div class="col-lg-6">
                <div class="about-content">
                    <div class="section-title section-left sal-animate" data-sal-delay="150" data-sal="slide-up" data-sal-duration="800">

                        <h4>USA (UG) LIST OF UNIVERSITIES - 2024</h4>
                    </div>

                </div>

                <table>
                    <caption>USA (UG) LIST OF UNIVERSITIES - 2024</caption>
                    <tr>
                        <td><b> UNIVERSITY NAME </b></td>
                        <td><b> LOCATION </b></td>
                        <td><b> STATE </b></td>
                    </tr>

                    <tr>
                        <td> Sacred Heart University </td>
                        <td> Fairfield </td>
                        <td> Connecticut </td>
                    </tr>

                    <tr>
                        <td> Bradley University  </td>
                        <td> Peoria </td>
                        <td> Illinois </td>
                    </tr>

                    <tr>
                        <td> California Lutheran University   </td>
                        <td> Thousand Oaks   </td>
                        <td> California </td>
                    </tr>

                    <tr>
                        <td> California State University East Bay    </td>
                        <td> Hayward   </td>
                        <td> California </td>
                    </tr>

                    <tr>
                        <td> Marquette University </td>
                        <td> Milwaukee   </td>
                        <td> Wisconsin </td>
                    </tr>

                    <tr>
                        <td> Murray State University </td>
                        <td> Murray   </td>
                        <td> Kentucky </td>
                    </tr>

                    <tr>
                        <td> New Jersey Institute of Technology  </td>
                        <td> Newark   </td>
                        <td> New Jersey</td>
                    </tr>

                    <tr>
                        <td> University of New Haven     </td>
                        <td> West Haven    </td>
                        <td> Connecticut </td>
                    </tr>

                    <tr>
                        <td>Kennesaw State University  </td>
                        <td> Kennesaw   </td>
                        <td> Georgia </td>
                    </tr>

                    <tr>
                        <td> Kent State University  </td>
                        <td> Kent </td>
                        <td> Ohio </td>
                    </tr>

                    <tr>
                        <td> University of New Haven     </td>
                        <td> West Haven    </td>
                        <td> Connecticut </td>
                    </tr>

                    <tr>
                        <td> University of Alabama Birmingham   </td>
                        <td> Birmingham  </td>
                        <td> Alabama </td>
                    </tr>

                    <tr>
                        <td> Webster University  </td>
                        <td> Webster Groves  </td>
                        <td> Missouri </td>
                    </tr>

                    <tr>
                        <td> Central Michigan University </td>
                        <td> Mount Pleasant  </td>
                        <td> Michigan </td>
                    </tr>


                </table>
            </div>

            <div class="col-lg-6">
                <div class="about-content">
                    <div class="section-title section-left sal-animate" data-sal-delay="150" data-sal="slide-up" data-sal-duration="800">

                        <h4>USA (PG) LIST OF UNIVERSITIES - 2024</h4>
                    </div>

                </div>

                <table>
                    <caption>USA (PG) LIST OF UNIVERSITIES - 2024</caption>
                    <tr>
                        <td><b> UNIVERSITY NAME </b></td>
                        <td><b> LOCATION  </b></td>
                        <td><b> STATE </b></td>
                    </tr>

                    <tr>
                        <td> Bradley University </td>
                        <td> Peoria </td>
                        <td> Illinois </td>
                    </tr>

                    <tr>
                        <td> California Lutheran University   </td>
                        <td> Thousand Oaks   </td>
                        <td> California </td>
                    </tr>

                    <tr>
                        <td> California State University Long Beach    </td>
                        <td> Long Beach    </td>
                        <td> California </td>
                    </tr>

                    <tr>
                        <td> Murray State University </td>
                        <td> Murray   </td>
                        <td> Kentucky </td>
                    </tr>

                    <tr>
                        <td> Southern Illinois University Carbondale     </td>
                        <td> Carbondale   </td>
                        <td> Illinois </td>
                    </tr>

                    <tr>
                        <td> University of Memphis   </td>
                        <td> Memphis   </td>
                        <td> Tennessee </td>
                    </tr>

                    <tr>
                        <td> University of Findlay  </td>
                        <td> Findlay   </td>
                        <td> Ohio</td>
                    </tr>

                    <tr>
                        <td> University of Wisconsin Milwaukee     </td>
                        <td> Milwaukee    </td>
                        <td> Wisconsin </td>
                    </tr>

                    <tr>
                        <td> Western New England University </td>
                        <td> Springfield    </td>
                        <td> Massachusetts </td>
                    </tr>


                    <tr>
                        <td> Wichita State University  </td>
                        <td> Wichita    </td>
                        <td> Kansas </td>
                    </tr>


                    <tr>
                        <td> Wright State University   </td>
                        <td> Dayton    </td>
                        <td> Ohio </td>
                    </tr>


                    <tr>
                        <td> University of North Florida </td>
                        <td> Jacksonville    </td>
                        <td> Florida </td>
                    </tr>


                    <tr>
                        <td> New York Film Academy     </td>
                        <td> New York    </td>
                        <td> New York </td>
                    </tr>

                    <tr>
                        <td> Duquesne University </td>
                        <td> Pittsburgh    </td>
                        <td> Pennsylvania </td>
                    </tr>
                </table>
            </div>
        </div>

    </div>
</div>




<div class="gap-bottom-equal edu-about-area about-style-9" style="background:#fffbfb; padding: 60px 10px;">
    <div class="container edublink-animated-shape">
        <div class="row g-5 align-items-center">

            <div class="col-lg-12">
                <div class="section-title section-left sal-animate" data-sal-delay="150" data-sal="slide-up" data-sal-duration="800">

                    <h2 class="title">IVY LEAGUE UNIVERSITIES</h2>
                    <span class="shape-line"><i class="icon-19"></i></span>

                </div>
            </div>

            <div class="col-lg-12">
                <div class="about-content">
                    <div class="section-title section-left sal-animate" data-sal-delay="150" data-sal="slide-up" data-sal-duration="800">

                        <h4>Ivy League Universities in the USA World Ranking</h4>
                    </div>

                </div>

                <table>
                    <caption>Ivy League Universities in the USA World Ranking</caption>
                    <tr>
                        <td><b> UNIVERSITY NAME </b></td>
                        <td><b> LOCATION </b></td>
                        <td><b> STATE </b></td>
                    </tr>

                    <tr>
                        <td> Harvard University </td>
                        <td> Massachusetts </td>
                        <td> 4 </td>
                    </tr>

                    <tr>
                        <td> Yale University </td>
                        <td> Connecticut </td>
                        <td> 16 </td>
                    </tr>

                    <tr>
                        <td> Brown University    </td>
                        <td> Rhode Island    </td>
                        <td> 73 </td>
                    </tr>

                    <tr>
                        <td> Princeton University    </td>
                        <td> New Jersey    </td>
                        <td> 17 </td>
                    </tr>

                    <tr>
                        <td> Columbia University </td>
                        <td> New York </td>
                        <td> 23 </td>
                    </tr>

                    <tr>
                        <td> University of Pennsylvania  </td>
                        <td> Pennsylvania   </td>
                        <td> 12 </td>
                    </tr>

                    <tr>
                        <td> Dartmouth College   </td>
                        <td> New Hampshire     </td>
                        <td> 237</td>
                    </tr>

                    <tr>
                        <td> Cornell University </td>
                        <td> New York    </td>
                        <td> 13 </td>
                    </tr>



                </table>
            </div>


        </div>

    </div>
</div>



<div class="gap-bottom-equal edu-about-area about-style-9" style="background:#f9ead8; padding: 60px 10px;">
    <div class="container edublink-animated-shape">
        <div class="row g-5 align-items-center">

            <div class="col-lg-12">
                <div class="about-content">
                    <div class="section-title section-left sal-animate" data-sal-delay="150" data-sal="slide-up" data-sal-duration="800">

                        <h2 class="title">TEST PREP</h2>
                        <span class="shape-line"><i class="icon-19"></i></span>

                    </div>
                    <h4>English Language Exams Required for US University Admission IELTS/PTE/TOEFL</h4>
                    <p style="text-align:justify;">The International English Language Testing System (IELTS), Test of English as a Foreign Language (TOEFL), and Pearson Test of English (PTE) are all standardized language tests, which are required to be taken to get admission to colleges. These follow different formats, structures, and result bands. These tests are all different in various ways but many colleges ask for any one of the results. So it's up to the student to decide which exam to appear for.</p>
                    <p style="text-align:justify;"><b>Repetition of exams:</b> IELTS can be taken an unlimited number of times. TOEFL can be retaken as many times as wished but cannot be taken more than once in 12 days. Same with PTE, it can be taken as many times as desired. You must wait to receive your scores before you can book your next test.</p>
                    <p><b>Fee:</b> The standard fee for these exams is INR 15,500 for IELTS, INR 15,700 (US $190) for TOEFL, and INR 14,700 for PTE.</p><br>

                    <p><b>Standardized Exams Required for US Admissions</b></p>
                    <p style="text-align:justify;">The following standardized exams are required level-wise if applying as an international student to the USA:</p>
                    <p style="text-align:justify;"><b> GMAT -</b> The Graduate Management Admission Test is used to measure the abilities of the potential MBA aspirant to undertake higher education in the field of business or management. It measures the mathematical, English, and reasoning skills of the student.</p>

                    <p style="text-align:justify;"><b> GRE  -</b> The Graduate Record Examination is another test required to be taken by students applying to graduate schools to pursue MA or MS. Increasingly many business schools are also accepting GRE scores to grant admission for MBA.</p>

                    <p style="text-align:justify;"><b> LSAT   -</b>The Law School Admission Test is a standardized test and is an integral part of the law school admission process. It provides a measure of reading and verbal reasoning skills that law schools can use in assessing applicants.</p>

                    <p style="text-align:justify;"><b> SAT    -</b> The Scholastic Assessment Test measures literacy and writing skills that are needed for academic success in college. This test assesses how well the test takers analyze and solve problems-skills they learned in school that they will need in college. The SAT is typically taken by high school students to get into UG courses.</p>

                    <p style="text-align:justify;">The university you will be applying to will mention which exam results will apply to the course of your choice. But if they give you a choice to go for either of these, then the choice depends on you.</p>




                </div>
            </div>


        </div>

    </div>
</div>


<div class="gap-bottom-equal edu-about-area about-style-9" style="background:#4829ff0f; padding: 60px 10px;">
    <div class="container edublink-animated-shape">
        <div class="row g-5 align-items-center">

            <div class="col-lg-12">
                <div class="about-content">
                    <div class="section-title section-left sal-animate" data-sal-delay="150" data-sal="slide-up" data-sal-duration="800">

                        <h2 class="title">Documents</h2>
                        <span class="shape-line"><i class="icon-19"></i></span>

                    </div>
                    <h4>Documents required: The documents are required for application Process.</h4>
                    <ul class="features-list sal-animate" data-sal-delay="150" data-sal="slide-up" data-sal-duration="800">
                        <li style="text-align:justify">Photocopy of Passport</li>
                        <li style="text-align:justify">Academic Transcripts</li>
                        <li style="text-align:justify">A recent CV</li>
                        <li style="text-align:justify">SOP/Essay</li>
                        <li style="text-align:justify">SAT if Required</li>
                        <li style="text-align:justify">Certificate of Language Proficiency (TOEFL,IELTS or PTE scores)</li>
                        <li style="text-align:justify">Letters of Reference (LOR)</li>
                        <li style="text-align:justify">There may be a requirement of proof of funds from international students getting a scholarship in the USA for understanding the financial background of the applicant.</li>
                    </ul>

                </div>
            </div>
        </div>
        <ul class="shape-group">
            <li class="shape-4 scene sal-animate" data-sal-delay="500" data-sal="fade" data-sal-duration="200" style="transform: translate3d(0px, 0px, 0px) rotate(0.0001deg); transform-style: preserve-3d; backface-visibility: hidden; pointer-events: none;">
                <img data-depth="-2" src="~/assets/images/others/shape-33.png" alt="feature-icon" / style="transform: translate3d(-4.1px, 16px, 0px); transform-style: preserve-3d; backface-visibility: hidden; position: relative; display: block; left: 0px; top: 0px;">
            </li>
        </ul>
    </div>
</div>


<div class="gap-bottom-equal edu-about-area about-style-9" style="background:#ffddfc3d; padding: 60px 10px;">
    <div class="container edublink-animated-shape">
        <div class="row g-5 align-items-center">

            <div class="col-lg-12">
                <div class="about-content">
                    <div class="section-title section-left sal-animate" data-sal-delay="150" data-sal="slide-up" data-sal-duration="800">

                        <h2 class="title">Our Services</h2>
                        <span class="shape-line"><i class="icon-19"></i></span>

                    </div>
                    <h4>Following Services are covered</h4>
                    <ul class="features-list sal-animate" data-sal-delay="150" data-sal="slide-up" data-sal-duration="800">
                        <li style="text-align: justify"> <b>College Shortlisting :</b> Identification of Universities based on applicant profile.</li>
                        <li style="text-align: justify"><b>Editing of Documents : </b>Editors will assist you based on drafts provided by the user.</li>
                        <li style="text-align: justify">Statement of purpose</li>
                        <li style="text-align: justify">Letter of Recommendation</li>
                        <li style="text-align: justify">Student Visa Application</li>
                        <li style="text-align: justify">Admission Essay Writing</li>
                        <li style="text-align: justify">Student Curriculum Vitae</li>
                        <li style="text-align: justify"><b>Applications -</b> Assistance in filling of online applications Forms.</li>
                        <li style="text-align: justify"><b>Visa -</b> Guidelines on application of student visa & Interview Preparation.</li>
                        <li style="text-align: justify"><b>Educational Loan -</b> Help students for education loan process.</li>
                        <li style="text-align: justify"><b>Additional Services -</b>(Pre-departure counseling, accommodation facility, flights booking).</li>
                    </ul>

                </div>
            </div>


        </div>

    </div>
</div>


<div class="gap-bottom-equal edu-about-area about-style-9" style="background:#27dfff30; padding: 60px 10px;">
    <div class="container edublink-animated-shape">
        <div class="row g-5 align-items-center">

            <div class="col-lg-12">
                <div class="about-content">
                    <div class="section-title section-left sal-animate" data-sal-delay="150" data-sal="slide-up" data-sal-duration="800">

                        <h2 class="title">Cost of Living</h2>
                        <span class="shape-line"><i class="icon-19"></i></span>

                    </div>
                    <p style="text-align:justify;">The United States is a dynamic country, covering the breadth of a continent. Many cultural currents exist and coexist within American life. To mingle with the local crowd, you need to keep in mind that the lifestyle of Americans is a lot different than Indians. You need to include more activities in your life if you want to get to know and meet new people. The estimated cost of living in the USA for international students is around $10,000 to $25,000 per year, which averages around $1,000 to $2,000 per month.</p><br>

                    <h4>Living Expenses in the USA for the Different States</h4>
                    <p style="text-align:justify;">The living cost in the USA for Indian students depends on the areas in which they decide to stay. For instance, if students are living in big cities like New York, Boston, or San Francisco, then the cost of living in the USA for students shall be much higher than the sub-urban cities like Seattle, Texas, New Orleans, and others. Let us check the average cost of living in the USA for urban and sub-urban states for international students.</p>

                    <br><br>
                    <table>
                        <tr>
                            <td><b> Big Cities in the USA    </b></td>
                            <td><b> Average monthly expenses in the USA</b></td>

                        </tr>

                        <tr>
                            <td> New York    </td>
                            <td> $3,300</td>

                        </tr>

                        <tr>
                            <td> California </td>
                            <td> $4,000 </td>

                        </tr>

                        <tr>
                            <td>Boston  </td>
                            <td> $3,316  </td>

                        </tr>

                        <tr>
                            <td> San Francisco  </td>
                            <td> $4,000 </td>

                        </tr>

                        <tr>
                            <td> Suburban Cities of USA  </td>
                            <td> Average monthly expenses in the USA </td>

                        </tr>

                        <tr>
                            <td> Atlanta</td>
                            <td>$2,200 </td>
                        </tr>

                        <tr>
                            <td> New Orleans    </td>
                            <td> $2,000 </td>

                        </tr>

                        <tr>
                            <td> Philadelphia    </td>
                            <td> $1,300   </td>

                        </tr>

                        <tr>
                            <td> Seattle </td>
                            <td> $2,500  </td>

                        </tr>

                        <tr>
                            <td> Texas </td>
                            <td> $2,000  </td>

                        </tr>

                        <tr>
                            <td> Illinois </td>
                            <td> $1,470 </td>

                        </tr>

                    </table>
                </div>
            </div>


        </div>

    </div>
</div>


<div class="gap-bottom-equal edu-about-area about-style-9" style="background:#6abcff; padding: 60px 10px;">
    <div class="container edublink-animated-shape">
        <div class="row g-5 align-items-center">
            <div class="col-lg-5">
                <div class="about-image-gallery">
                    <img class="main-img-1" src="~/assets/images/usa/2.png" alt="About Image">
                    <div class="author-box">
                        <img src="~/assets/images/usa/1.png" alt="About Images">
                    </div>

                </div>
            </div>
            <div class="col-lg-7">
                <div class="about-content">
                    <div class="section-title section-left sal-animate" data-sal-delay="150" data-sal="slide-up" data-sal-duration="800">

                        <h2 class="title">Housing Accommodation Costs in USA</h2>
                        <span class="shape-line"><i class="icon-19"></i></span>

                    </div>
                    <table>
                        <tr>
                            <td style="color:#fff;"><b> Housing Accommodations<br> options in USA     </b></td>
                            <td style="color:#fff;"><b> Average monthly /<br> yearly cost </b></td>

                        </tr>

                        <tr>
                            <td style="color:#fff;"> On Campus Stay </td>
                            <td style="color:#fff;">Private colleges: $1,100 yearly<br> Public colleges: $9,800 yearly</td>

                        </tr>

                        <tr>
                            <td style="color:#fff;"> Off Campus Stay     </td>
                            <td style="color:#fff;">
                                Sharing: $450 per month<br>
                                One-bedroom apartment in rural states: $500 per month<br>
                                One-bedroom apartment in urban states: $3,500 per month
                            </td>

                        </tr>



                    </table>
                </div>
            </div>
        </div>

    </div>
</div>


<div class="gap-bottom-equal edu-about-area about-style-9" style="background:#b4cbff; padding: 60px 10px;">
    <div class="container edublink-animated-shape">
        <div class="row g-5 align-items-center">

            <div class="col-lg-6">
                <div class="about-content">
                    <div class="section-title section-left sal-animate" data-sal-delay="150" data-sal="slide-up" data-sal-duration="800">

                        <h2 class="title">Scholarships</h2>
                        <span class="shape-line"><i class="icon-19"></i></span>

                    </div>
                    <p style="text-align:justify;">USA scholarships for Indian students is an integral part of the admission process. Since the rates of tuition for international students across US universities are very high, it becomes necessary for students to apply for financial aid. There are ample scholarships available for students in the USA. Applications are either accepted separately or together with the admission application.</p>
                    <p style="text-align:justify;">Many scholarships are available in top universities of USA for international students for the academic year 2024-2025. These scholarships include both partially and fully funded scholarships and provide monthly stipend along with tuition fees, accommodation charges, health insurance and travel allowance.</p>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="about-image-gallery">
                    <img class="main-img-1" src="~/assets/images/usa/3.png" alt="About Image">
                    <div class="author-box">
                        <img src="~/assets/images/usa/4.png" alt="About Images">
                    </div>

                </div>
            </div>
        </div>

    </div>
</div>


<div class="gap-bottom-equal edu-about-area about-style-9" style="background:#ffd7db; padding: 60px 10px;">
    <div class="container edublink-animated-shape">
        <div class="row g-5 align-items-center">
            <div class="col-lg-6">
                <div class="about-image-gallery">
                    <img class="main-img-1" src="~/assets/images/usa/5.png" alt="About Image">
                    <div class="author-box">
                        <img src="~/assets/images/usa/6.png" alt="About Images">
                    </div>

                </div>
            </div>
            <div class="col-lg-6">
                <div class="about-content">
                    <div class="section-title section-left sal-animate" data-sal-delay="150" data-sal="slide-up" data-sal-duration="800">

                        <h2 class="title">
                            Jobs/Internships/Companies
                        </h2>
                        <span class="shape-line"><i class="icon-19"></i></span>

                    </div>
                    <p style="text-align:justify;"><b>Part time Jobs-</b> While attending colleges or universities in the USA, international students can find a variety of part-time jobs. In the USA, part-time jobs for students often pay between $9 and $17 per hour. Basically, there are two types of part-time jobs that a student can opt for. The first is Campus Jobs and the other is Off-campus Jobs.</p>

                    <p style="text-align:justify;">Campus Jobs is within the campus, the students are able to manage it simultaneously with academics. Off-campus part-time jobs can only be taken up if your Program me credits/ university allow you to. On campus you will get an opportunity to work as Department assistant, Teacher Assistant, Library Assistant, Campus Tech Support, Campus Ambassador and so on.</p>

                    <p style="text-align:justify;">Off campus Student entitled to work as a Call Centers, Store associates, Language Translator. Students are allowed to work 20 hours per week on-campus, 40 hours per week during vacations.</p>

                </div>
            </div>
        </div>

    </div>
</div>















<section class="">
    <div class="container">

        <div class="row row--45">
            <div class="section-title-flex section-title sal-animate" data-sal-delay="150" data-sal="slide-up" data-sal-duration="800">
                <div class="col-lg-12">
                    <h2 class="title" style="margin-bottom: 40px;text-align: center;margin-top: 40px;"> <span class="color-secondary">   Top Courses </span> </h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="courses">
                <img class="items-center" src="~/assets/images/franchise/icon/Aerospace-Engineering.svg" alt="Aerospace Engineering" />
                <h4>Aerospace Engineering</h4>
            </div>
            <div class="courses">
                <img class="items-center" src="~/assets/images/franchise/icon/Architecture.svg" alt="Architecture" />
                <h4>Architecture</h4>
            </div>
            <div class="courses">
                <img class="items-center" src="~/assets/images/franchise/icon/Artificial-Intelligence.svg" alt="Artificial Intelligence" />
                <h4>Artificial Intelligence</h4>
            </div>
            <div class="courses">
                <img class="items-center" src="~/assets/images/franchise/icon/Accounts-and-Finance.svg" alt="Accounts and Finance" />
                <h4>Accounts and Finance</h4>
            </div>
            <div class="courses">
                <img class="items-center" src="~/assets/images/franchise/icon/Bio-Medical-Engineering.svg" alt="Bio-Medical Engineering" />
                <h4>Bio-Medical Engineering</h4>
            </div>
            <div class="courses">
                <img class="items-center" src="~/assets/images/franchise/icon/Biotechnology.svg" alt="Bio technology" />
                <h4>Bio<br>technology</h4>
            </div>
            <div class="courses">
                <img class="items-center" src="~/assets/images/franchise/icon/Business-Analytics.svg" alt="Business Analytics" />
                <h4>Business<br> Analytics</h4>
            </div>
            <div class="courses">
                <img class="items-center" src="~/assets/images/franchise/icon/Chemical-engineering.svg" alt="Chemical Engineering" />
                <h4>Chemical<br> Engineering</h4>
            </div>
            <div class="courses">
                <img class="items-center" src="~/assets/images/franchise/icon/Civil-Engineering.svg" alt="Civil Engineering" />
                <h4>Civil<br> Engineering</h4>
            </div>
            <div class="courses">
                <img class="items-center" src="~/assets/images/franchise/icon/Computer-Engineering.svg" alt="Computer Engineering" />
                <h4>Computer Engineering</h4>
            </div>
            <div class="courses">
                <img class="items-center" src="~/assets/images/franchise/icon/Data-Science.svg" alt="Data Science" />
                <h4>Data<br> Science</h4>
            </div>
            <div class="courses">
                <img class="items-center" src="~/assets/images/franchise/icon/Construction-Management.svg" alt="Construction Management" />
                <h4>Construction Management</h4>
            </div>
            <div class="courses">
                <img class="items-center" src="~/assets/images/franchise/icon/Cyber-Security.svg" alt="Cyber Security" />
                <h4>Cyber<br> Security</h4>
            </div>
            <div class="courses">
                <img class="items-center" src="~/assets/images/franchise/icon/Electrical-Engineering.svg" alt="Electrical Engineering" />
                <h4>Electrical Engineering</h4>
            </div>
            <div class="courses">
                <img class="items-center" src="~/assets/images/franchise/icon/MBA.svg" alt="MBA" />
                <h4>MBA</h4>
            </div>
            <div class="courses">
                <img class="items-center" src="~/assets/images/franchise/icon/Mechanical-Engineering.svg" alt="Mechanical Engineering" />
                <h4>Mechanical Engineering</h4>
            </div>

            <div class="courses">
                <img class="items-center" src="~/assets/images/franchise/icon/Robotics.svg" alt="Robotics" />
                <h4>Robotics</h4>
            </div>
            <div class="courses">
                <img class="items-center" src="~/assets/images/franchise/icon/LAW.svg" alt="LAW" />
                <h4>LAW</h4>
            </div>
        </div>
    </div>
</section>


<div class="container edu-section-gap">
    <div class="row row--45">
        <div class="section-title-flex section-title sal-animate" data-sal-delay="150" data-sal="slide-up" data-sal-duration="800">
            <div class="col-lg-12">
                <h2 class="title" style="margin-bottom: 40px;text-align: center;margin-top: 40px;"> <span class="color-secondary">  Student's Experience </span> </h2>
            </div>


        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <iframe width="100%" height="215" src="https://www.youtube.com/embed/F5JmS74zXKw?si=n4aunw7Gft2A9pLE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen style="border-radius:10px;"></iframe>
        </div>
        <div class="col-md-4">
            <iframe width="100%" height="215" src="https://www.youtube.com/embed/rckMqCL5ZIM?si=PDFdR1aFegWcI9z6" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen style="border-radius:10px;"></iframe>
        </div>
        <div class="col-md-4">
            <iframe width="100%" height="215" src="https://www.youtube.com/embed/t-W2-bXhL9c?si=expfWTN8dJW2KCYh" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen style="border-radius:10px;"></iframe>
        </div>
    </div>
</div>

<section class="">

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-12 btn-enquiry">
                <div class="row">
                    <div class="col-sm-10">
                        <div class="contect-sec">
                            <h3 style="margin-top:10px;">Need guidance? Let us help you.</h3>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <a asp-controller="home" asp-action="contact" style="width:100%;">
                            <h4 class="btn-en">
                                contact us
                            </h4>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
