@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "About";
   
}

<div class="edu-breadcrumb-area  bg-image bg-image--54">
    <div class="container">
        <div class="breadcrumb-inner" style="text-align:left;">
            <div class="page-title">
                <h1 class="title" style="color:#fff; padding:40px 0px;">Who We Are</h1>
            </div>
          
        </div>
    </div>
</div>

        <!--=====================================-->
        <!--=       Why Choose Area Start       =-->
        <!--=====================================-->
        <!-- Start Why Choose Area  -->
        <section class="why-choose-area-3 edu-section-gap">
            <div class="container">
                <div class="row row--45">
                    <div class="section-title-flex section-title">
                        <div class="col-lg-12">
                    <h2 class="title">About <span class="color-secondary">  Indo-European </span> </h2>
                            <span class="shape-line"><i class="icon-19"></i></span>

                    <p style="text-align: justify;">
                        <b>Welcome to Indo-European,</b> your premier global education consultancy with over 20 years of excellence in connecting Indian students with prestigious international universities. We are dedicated to guiding students towards their academic goals and fostering strategic partnerships with top institutions worldwide.
                    </p>

                    <img src="/assets/images/banner/about-us.png" alt="about indoeuropean study abroad consultancy" />


                  
<br><br>

                        <h4> <b>Driving Global Education Forward :</b></h4>
                       <p style="text-align:justify"> At Indo-European, we see ourselves as catalysts for international educational excellence. Our collaboration with leading Indian educational institutes allows us to design impactful exchange programs and initiatives that promote global learning and cultural exchange. Our mission is to empower students to excel in diverse educational environments and enhance the global presence of our partner universities.</p>
                        <br><br>
                    <h4> <b>Why Partner with Indo-European?</b></h4>
                    <p style="margin-bottom: 10px;text-align:justify"><b>For universities, we offer :</b></p>
                     <ul class="about-list" style="list-style:disc">
                        <li><p style="margin-bottom: 0; margin-top: 0;text-align:justify"><b>Expert Team:</b> Our team of seasoned professionals provides valuable support and expertise to both students and universities.</p></li>
                        <li><p style="margin-bottom: 0; margin-top: 0;text-align:justify"><b>Extensive Network: </b>Our well-established connections with top global universities and Indian educational bodies offer unique advantages in fostering successful partnerships.</p></li>
                        <li><p style="margin-bottom: 0; margin-top: 0;text-align:justify"><b>Proven Results: </b> Our commitment to delivering outstanding results and our strategic approach make us a top choice for students and an ideal partner for universities.</p></li>
                        <li><p style="margin-bottom: 0; margin-top: 0;text-align:justify"><b>Diverse Talent Pool:</b> We connect universities with a broad spectrum of talent from across India, ensuring a diverse and high-quality applicant pool.</li>
                    </ul>
                    <br>
                        </div>
                    </div>
                </div>

                
            </div>

        </section>
        <!-- End Why Choose Area  -->
