@{
    ViewData["Title"] = "Contact Us";
    ViewData["Description"] = "Get in touch with Indo European for expert guidance on study abroad opportunities. Contact our offices in Delhi and Punjab for personalised guidance.";
}

<div class="edu-breadcrumb-area breadcrumb-style-6">
    <div class="container">
        <div class="breadcrumb-inner">
            <div class="page-title">
                <h1 class="title">Contact Us</h1>
            </div>
            <ul class="edu-breadcrumb">
                <li class="breadcrumb-item"><a asp-controller="home" asp-action="index">Home</a></li>
                <li class="separator"><i class="icon-angle-right"></i></li>

                <li class="separator"><i class="icon-angle-right"></i></li>
                <li class="breadcrumb-item active" aria-current="page">Contact Us</li>
            </ul>
        </div>
    </div>
    <ul class="shape-group">
        <li class="shape-1">
            <span></span>
        </li>

        <li class="shape-3 scene"><img data-depth="-2" src="~/assets/images/about/shape-15.png" alt="shape" loading="lazy"></li>
        <li class="shape-4">
            <span></span>
        </li>
        <li class="shape-5 scene"><img data-depth="2" src="~/assets/images/about/shape-07.png" alt="shape" loading="lazy"></li>
    </ul>
</div>

<!--=====================================-->
<!--=       Contact Me Area Start       =-->
<!--=====================================-->

<section class="consultant-area mt-5 d-none-media media-tab-none">
    <div class="container">
        <div class="row">
            <div class="consultant-box" style="background-image:url(assets/images/pattern/consultant-box-bg.png)">
                <div class="row">
                    <div class="col-xl-5">
                        <div class="consultant-content">
                            <div class="sec-title">
                                <h3>Choose the </h3>
                                <h2>Right Study Destination <br> <span>across the globe</span></h2>
                            </div>
                            <div class="inner-contnt">
                                <div class="row">
                                    <h5>Countries:</h5>
                                    <div class="col-xl-4 col-lg-6 col-md-6">
                                        <div class="single-box">
                                            <ul>
                                                <li><a href="#">Austria</a></li>
                                                <li><a href="#">Cyprus</a></li>
                                                <li><a href="#">Denmark</a></li>
                                                <li><a href="#">France</a></li>
                                                <li><a href="#">Germany</a></li>
                                                <li><a href="#">Holand</a></li>
                                                <li><a href="#">Lithuania</a></li>
                                                <li><a href="#">Italy</a></li>
                                            </ul>
                                        </div>
                                    </div>

                                    <div class="col-xl-4 col-lg-6 col-md-6">
                                        <div class="single-box">
                                            <ul>
                                                <li><a href="#">Ireland</a></li>
                                                <li><a href="#">Latvia</a></li>
                                                <li><a href="#">Norway</a></li>
                                                <li><a href="#">Poland</a></li>
                                                <li><a href="#">Sweden</a></li>
                                                <li><a href="#">Spain</a></li>
                                                <li><a href="#">Ukraine</a></li>
                                                <li><a href="#">Malta</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-xl-4 col-lg-6 col-md-6">
                                        <div class="single-box">
                                            <ul>
                                                <li><a href="#">Switzerland</a></li>
                                                <li><a href="#">Australia </a></li>
                                                <li><a href="#">Canada </a></li>
                                                <li><a href="#">New Zealand </a></li>
                                                <li><a href="#">Singapore</a></li>
                                                <li><a href="#">UK</a></li>
                                                <li><a href="#">USA</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-7">
                        <div class="consultant-map-box text-center">
                            <div class="inner-map">
                                <img src="~/assets/img/map-1.png" alt="Map" loading="lazy">
                            </div>
                            <div class="view-all-country-button-style2 text-center">
                                <p>Challenges are just opportunities in disguise. <a href="#">View all countries</a></p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
<br />

<section class="getin-touch-area" style="background-image: url(~/assets/images/bg1.png);padding: 50px 0px;">
    <div class="container mb-132">
        <div class="row">
            <div class="col-md-8 getin-touch-content mt-2">
                <div class="row bg-light border-r-10">
                    <div id="New-Delhi-HO" class="col-md-12 counrty-form-tittle">
                        <h3 style="color: white; font-weight: 500;">Contact Details</h3>
                    </div>
                    <div class="col-md-6">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3501.90899975554!2d77.0845195150506!3d28.632489340833782!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390d05f1d6579fed%3A0x33f75f44700d6eca!2sIndo%20European-%20Study%20Abroad%20Consultants!5e0!3m2!1sen!2sin!4v1614409451275!5m2!1sen!2sin" width="369" height="400" class="border-r-10" allowfullscreen="" style="width: -webkit-fill-available;" loading="lazy"></iframe>
                    </div>
                    <div class="col-md-6">
                        <div class="inner-content">
                            <ul class="contact-info p-3 border-r-10">
                                <li class="single d-none-media">
                                    <div class="icon">
                                        <img src="~/assets/img/map.png" alt="study-abroad" loading="lazy" />
                                    </div>
                                    <div class="text"><br />
                                        <h5>New delhi (Head Office)</h5>
                                        <p>WZ1, 2nd floor, Ganesh Nagar, Tilak Nagar, Metro Pillar No - 535, Above ICICI Bank, New Delhi-110018</p>
                                    </div>
                                </li>
                                <li class="single">
                                    <div class="icon">
                                        <img src="~/assets/img/telephone.jpg" alt="telephone" loading="lazy"/>
                                    </div>
                                    <div class="text">
                                        <p>Tel</p>
                                        <h5><a href="tel:1140190238">&nbsp;+91-11-40190238</a></h5>
                                    </div>
                                </li>
                                <li class="single">
                                    <div class="icon">
                                        <img src="~/assets/img/phone.png" alt="phone" loading="lazy">
                                    </div>
                                    <div class="text">
                                        <p>Student Desk</p>
                                        <h5><a href="tel:9650133355">&nbsp; +91-9650133355</a></h5>
                                    </div>
                                </li>
                                <li class="single">
                                    <div class="icon">
                                        <img src="~/assets/img/email.png" alt="email" loading="lazy">
                                    </div>
                                    <div class="text">
                                        <p>Send Your Mail At </p>
                                        <h5 style="padding-left: 10px;"><a href="mailto:info@indoeuropean.in"> info@indoeuropean.in</a></h5>
                                    </div>
                                </li>



                            </ul>

                        </div>

                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-2 mt-2">
                <div class="getin-touch-content">
                    <div class="title counrty-form-tittle">
                        <h3 style="color: white; font-weight: 500">Let us help you!</h3>
                    </div>
                    <div class="visa-form-box counrty-form">
                        <form class="rnt-contact-form rwt-dynamic-form" action="#">
                            <h3 class="title" style="padding: 10px 0px;">Get in Touch </h3>
                            <div class="row row--10">
                                <div class="form-group col-lg-12">
                                    <input type="text" name="contact-name" id="txtFName" placeholder="Your Name">
                                </div>
                                <div class="form-group col-lg-12">
                                    <input type="email" name="contact-email" id="txtEmail" placeholder="Your Email">
                                </div>
                                <div class="form-group col-12">
                                    <div class="select-box">
                                        <div class="selected-option">
                                            <div>
                                                <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="img" width="1.34em" height="1em" viewBox="0 0 640 480" data-icon="flag:in-4x3" class="iconify iconify--flag"><path fill="#f93" d="M0 0h640v160H0z"></path><path fill="#fff" d="M0 160h640v160H0z"></path><path fill="#128807" d="M0 320h640v160H0z"></path><g transform="matrix(3.2 0 0 3.2 320 240)"><circle r="20" fill="#008"></circle><circle r="17.5" fill="#fff"></circle><circle r="3.5" fill="#008"></circle><g id="IconifyId19135992cc35340290"><g id="IconifyId19135992cc3534cvbte340291"><g id="IconifyId19135992cc3539278540292"><g id="IconifyId19135992cc35340298" fill="#008"><circle r=".9" transform="rotate(7.5 -8.8 133.5)"></circle><path d="M0 17.5L.6 7L0 2l-.6 5z"></path></g><use width="100%" height="100%" href="#IconifyId19135992cc35340296" transform="rotate(15)"></use></g><use width="100%" height="100%" href="#IconifyId19135992cc35340nmcdywc292" transform="rotate(30)"></use></g><use width="100%" height="100%" href="#IconifyId19135992cc353cvber540291" transform="rotate(60)"></use></g><use width="100%" height="100%" href="#IconifyId19135992cc35340290" transform="rotate(120)"></use><use width="100%" height="100%" href="#IconifyId19135992cc35340290" transform="rotate(-120)"></use></g></svg>
                                            </div>
                                            <input type="tel" name="txtPhone" id="txtPhone" placeholder="+91">
                                        </div>
                                        <div class="options">
                                            <select id="ddlCountryCodeid" name="ddlCountryCode" class="form-control form-list">
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group col-12">
                                    <select name="HighestQualifcation" id="ddlHighestQualifcation">
                                    </select>
                                </div>
@* 
                                <div class="form-group col-12">
                                    <select name="ddlCourseCodeId" id="ddlCourseCodeId" required="">
                                    </select>
                                </div> *@


                                <div class="form-group col-12">
                                    <input type="text" name="txtCity" id="txtCity" placeholder="City" required="">
                                </div>

                               @*  <div class="form-group col-12">
                                    <select name="Programm" required="" id="ddlDestinationCodeid">
                                    </select>
                                </div> *@

                                <div class="form-group col-12">
                                    <select name="PreferredCallBackTime" required="" id="ddlPreferredCallBackTime">
                                    </select>
                                </div>


                                <div class="form-group col-12 text-center">
                                    <input type="button" value="Submit" class="rn-btn edu-btn submit-btn" onclick="formValidation_Contactus();" />
                                    @*                                     <button class="rn-btn edu-btn submit-btn" name="submit" type="submit" onclick="formValidation();">Submit Now <i class="icon-4"></i></button>
 *@                                </div>
                            </div>
                        </form>
                       @*  <form id="visa-form" name="visa_form" class="default-form2" action="#" method="post">
                            <div class="row">
                                <div class="col-xl-12 col-lg-12 mt-2">
                                    <div class="input-box">
                                        <input type="text" name="form_name" value="" placeholder="Your Full Name*" required="">
                                        <div class="icon"><span class="flaticon-user"></span></div>
                                    </div>
                                    <div class="input-box">
                                        <input type="text" name="form_phone" value="" placeholder="Contact No*">
                                        <div class="icon"><span class="flaticon-telephone"></span></div>
                                    </div>
                                    <div class="input-box">
                                        <input type="email" name="form_email" value="" placeholder="Email ID*" required="">
                                        <div class="icon"><span class="flaticon-mail-2"></span></div>
                                    </div>

                                    <div class="input-box">
                                        <input type="text" name="form_name" value="" placeholder="City*" required="">
                                        <div class="icon"><span class="flaticon-map"></span></div>
                                    </div>
                                    <div class="input-box">
                                        <textarea name="form_message" placeholder="Message" required="" aria-required="true" style="height: 50px;"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xl-12">
                                    <div class="button-box text-center">
                                        <button type="button" class="form-btn-one w-100" data-toggle="modal" data-target="#exampleModalCenter">
                                            <span class="txt">Submit Now</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form> *@
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--=====================================-->
<!--=      Contact Form Area Start      =-->
<!--=====================================-->

<br>

<div id="Regional-Offices" class="sec-title text-center mt-4 pb-0">
    <h2>Our<span> Branches</span></h2>
</div>
<br>


<div class="container">
    <div class="row">
        <div class="col-md-6 mt-4 hvr-grow">
            <div class="servies-border">
                <div class="row p-2">
                    <div class="col-sm-6">
                        <div id="New-Delhi" class="branch-hedding">Tilak Nagar Office (Tower-2)</div>
                        
                        <p class="branch-p"> <b>Address :</b> <br /> 18/1 -A, near Metro Station Tilak Nagar, above Sona Bakers, Double Storey, Tehar II, Prem Nagar, New Delhi, 110018.</p>
                        <div class="row">
                            <div class="col-sm-4">
                                <a href="/enquiry" class="enquiry">Enquiry</a>
                            </div>
                            <div class="col-sm-8">
                                <a href="https://maps.app.goo.gl/phjDNSTeS3rrb6Aq8" class="direction" target="blank">Get Direction</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 my_map">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3501.992439590638!2d77.07976331530162!3d28.629988690946337!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390d04bee270eea1%3A0xa4b0610ae05bae2d!2sIndo%20European%20-%20Study%20Abroad%20Consultants!5e0!3m2!1sen!2sin!4v1575618134688!5m2!1sen!2sin" width="255" height="220" frameborder="0" style="border:0;width: -webkit-fill-available;" allowfullscreen=""></iframe>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6 mt-4 hvr-grow">
            <div class="servies-border">
                <div class="row p-2">
                    <div class="col-sm-6">
                        <div class="branch-hedding">Janakpuri Office (Tower-3) </div>
                        
                        <p class="branch-p"><b>Address :</b> <br /> B3/172, Basement, Near, Dharam Marg, below Chaayos Cafe, Block B2, Block B3, Janakpuri, New Delhi, Delhi, 110058​.</p>
                        <div class="row">
                            <div class="col-sm-4">
                                <a href="/enquiry" class="enquiry">Enquiry</a>
                            </div>
                            <div class="col-sm-8">
                                <a href="https://maps.app.goo.gl/Bc6GjLBvH5ayWQxm9" class="direction" target="blank">Get Direction</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 my_map">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d7003.930524775516!2d77.0859825!3d28.6308032!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390d05f44d9a5813%3A0xe53849764118ea9b!2sIndo%20European%20-%20Study%20Abroad%20Consultants%20Tower%20-%203!5e0!3m2!1sen!2sin!4v1705046546410!5m2!1sen!2sin" width="255" height="220" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="row">


        <div class="col-md-6 mt-4 hvr-grow">
            <div class="servies-border">
                <div class="row p-2">
                    <div class="col-sm-6">
                        <div id="Amritsar" class="branch-hedding">Amritsar Office </div>
                        
                        <p class="branch-p">
                            <b>Address :</b> <br />
                            1st Floor, Above Lookwell Bakery, near Khalsa Women College, Nikah Singh Colony, Amritsar, Punjab 143001.
                        </p>
                        <div class="row">
                            <div class="col-sm-4">
                                <a href="/enquiry" class="enquiry">Enquiry</a>
                            </div>
                            <div class="col-sm-8">
                                <a href="https://maps.app.goo.gl/MSefZHD98cPFKq4t7" class="direction" target="blank">Get Direction</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 my_map">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3397.0277184523857!2d74.83685607470144!3d31.633091441565956!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3919653b409017ab%3A0x44478ff66384d8a7!2sIndo%20European%20-%20Study%20Abroad%20Consultants%20in%20Amritsar!5e0!3m2!1sen!2sin!4v1705048106016!5m2!1sen!2sin" width="255" height="220" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6 mt-4 hvr-grow">
            <div class="servies-border">
                <div class="row p-2">
                    <div class="col-sm-6">
                        <div id="Bathinda" class="branch-hedding">Bathinda Office</div>
                       
                        <p class="branch-p"><b>Address :</b> <br />  SCF - 21 First Floor, 100 Feet Road, above Dainik Bhaskar Office, Punjab 151001</p>
                        <div class="row">
                            <div class="col-sm-4">
                                <a href="/enquiry" class="enquiry">Enquiry</a>
                            </div>
                            <div class="col-sm-8">
                                <a href="https://maps.app.goo.gl/a9HYoeXpPc2Wtkua7" class="direction">Get Direction</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 my_map">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3448.274428365731!2d74.95444451426012!3d30.200713999999998!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x391732badc5d964f%3A0x5229f91d6eb02c6e!2sIndo%20European-%20Study%20Abroad%20Consultants!5e0!3m2!1sen!2sin!4v1575615707133!5m2!1sen!2sin" width="255" height="220" frameborder="0" style="border:0;width: -webkit-fill-available;" allowfullscreen=""></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 mt-4 hvr-grow">
            <div class="servies-border">
                <div class="row p-2">
                    <div class="col-sm-6">
                        <div id="Chandigarh" class="branch-hedding">Chandigarh Office </div>
                        
                        <p class="branch-p"> <b>Address :</b> <br /> SCO NO.64-65, 2nd Floor, near Oyster Hotel, Sector 17A, 17A, Sector 17, Chandigarh, 160017.</p>
                        <div class="row">
                            <div class="col-sm-4">
                                <a href="/enquiry" class="enquiry">Enquiry</a>
                            </div>
                            <div class="col-sm-8">
                                <a href="https://maps.app.goo.gl/viYQxsd8oTgMXrqU8" class="direction" target="blank">Get Direction</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 my_map">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3429.1019449796345!2d76.78497651533759!3d30.74363779215758!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390fed0b8b7dd84f%3A0x23d21354b2606c2d!2sIndo%20European-%20Study%20Abroad%20Consultants!5e0!3m2!1sen!2sin!4v1575615815194!5m2!1sen!2sin" width="255" height="220" frameborder="0" style="border:0;width: -webkit-fill-available;" allowfullscreen=""></iframe>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 mt-4 hvr-grow">
            <div class="servies-border">
                <div class="row p-2">
                    <div class="col-sm-6">
                        <div id="Jalandhar" class="branch-hedding"> Jalandhar Office</div>
                       
                        <p class="branch-p"><b>Address :</b> <br /> SCO 11-12, Basement, Axis Bank, Crystal Plaza, ITI College Rd, Choti Baradari Part 1, Choti Baradari, Jalandhar, Punjab 144022.</p>
                        <div class="row">
                            <div class="col-sm-4">
                                <a href="/enquiry" class="enquiry">Enquiry</a>
                            </div>
                            <div class="col-sm-8">
                                <a href="https://maps.app.goo.gl/Wd9QsRqM5umGZWzK6" class="direction" target="blank">Get Direction</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 my_map">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d855.8723549641763!2d75.83265294575634!3d30.90094127339762!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x391a83bc00000045%3A0xa121b869226db986!2sIndo%20European%20-%20Study%20Abroad%20Consultants!5e0!3m2!1sen!2sin!4v1575616315253!5m2!1sen!2sin" width="255" height="220" frameborder="0" style="border:0;width: -webkit-fill-available;" allowfullscreen=""></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 mt-4 hvr-grow">
            <div class="servies-border">
                <div class="row p-2">
                    <div class="col-sm-6">
                        <div id="Ludhiana" class="branch-hedding"> Ludhiana Office</div>
                       
                        <p class="branch-p"><b>Address :</b> <br /> 2nd floor, SCO -27, adjacent to Park Plaza Hotel, near Biryani by Kilo, Feroz Gandhi Market, Jila Kacheri Area, Model Gram, Ludhiana, Punjab 141001</p>
                        <div class="row">
                            <div class="col-sm-4">
                                <a href="/enquiry" class="enquiry">Enquiry</a>
                            </div>
                            <div class="col-sm-8">
                                <a href="https://maps.app.goo.gl/MvWf9MNZbi4LR7dz6" class="direction">Get Direction</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 my_map">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m23!1m12!1m3!1d3423.4802789950295!2d75.82929087466893!3d30.90119687747306!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m8!3e6!4m0!4m5!1s0x391a83bc00000045%3A0xa121b869226db986!2s2nd%20floor%2C%20Indo%20European%20-%20Study%20Abroad%20Consultants%20in%20Ludhiana%2C%20SCO%20-27%2C%20adjacent%20to%20Park%20Plaza%20Hotel%2C%20near%20Biryani%20by%20Kilo%2C%20Feroz%20Gandhi%20Market%2C%20Jila%20Kacheri%20Area%2C%20Model%20Gram%2C%20Ludhiana%2C%20Punjab%20141001!3m2!1d30.900972!2d75.83235359999999!5e0!3m2!1sen!2sin!4v1705045326983!5m2!1sen!2sin" width="255" height="220" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                </div>
            </div>
        </div>
       
    
        
        <div class="col-md-6 mt-4 hvr-grow">
            <div class="servies-border">
                <div class="row p-2">
                    <div class="col-sm-6">
                        <div class="branch-hedding">Patiala Office</div>
                       
                        <p class="branch-p"><b>Address :</b> <br />  SCO#89, Second &amp; Third Floor, New Leela Bhawan Patiala- 147001, Punjab, India.</p>
                        <div class="row">
                            <div class="col-sm-4">
                                <a href="/enquiry" class="enquiry">Enquiry</a>
                            </div>
                            <div class="col-sm-8">
                                <a href="https://maps.app.goo.gl/8JtxLPvSBgDF88QV7" class="direction" target="blank">Get Direction</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 my_map">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3443.552449164572!2d76.38123076533043!3d30.33524561173078!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x391028c10c00006d%3A0xa4daf6061b1ab0fe!2sIndo%20European-%20Study%20Abroad%20Consultants!5e0!3m2!1sen!2sin!4v1575617409953!5m2!1sen!2sin" width="255" height="220" frameborder="0" style="border:0;width: -webkit-fill-available;" allowfullscreen=""></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>




</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="~/assets/js/config.js"></script>
<script src="~/assets/js/landingpage.js"></script>
<script src="/assets/js/main.js"></script>
<script src="/assets/js/jquery.min.js" type="text/javascript"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
