@{
    ViewData["Title"] = "Home Page";
}

<div class="hero-banner hero-style-10" style="background-image:url(/assets/images/banner/bg-banner.png); background-repeat: no-repeat;
    background-size: cover;">
     
    <div class="container">
        <div class="row" >
             <div class="col-lg-7">
                <div class="banner-thumbnail desktop">
                    <div class="thumbnail">
                        <img src="/assets/images/banner/girl.png" alt="Girl Image">
                    </div>
                 
                </div>

               
            </div>


            <div class="col-lg-5">


                <div class="contact-form" style="margin-bottom: 20px;">

                        <form class="rnt-contact-form rwt-dynamic-form" id="contact-form">
                            <h2 class="title" style="padding: 10px 0px; color:#000;">Get in Touch </h2>
                            <div class="row row--10">
                                <div class="form-group col-lg-6">
                                <input type="text" name="contact-name" id="txtFName" placeholder="Your Name">
                                </div>
                                <div class="form-group col-lg-6">
                                <input type="email" name="contact-email" id="txtEmail" placeholder="Your Email">
                                </div>
                                <div class="form-group col-12">
                                    <div class="select-box">
                                        <div class="selected-option">
                                            <div>
                                                <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="img" width="1.34em" height="1em" viewBox="0 0 640 480" data-icon="flag:in-4x3" class="iconify iconify--flag"><path fill="#f93" d="M0 0h640v160H0z"></path><path fill="#fff" d="M0 160h640v160H0z"></path><path fill="#128807" d="M0 320h640v160H0z"></path><g transform="matrix(3.2 0 0 3.2 320 240)"><circle r="20" fill="#008"></circle><circle r="17.5" fill="#fff"></circle><circle r="3.5" fill="#008"></circle><g id="IconifyId19135992cc35340290"><g id="IconifyId19135992cc35340291"><g id="IconifyId19135992cc35340292"><g id="IconifyId19135992cc35340293" fill="#008"><circle r=".9" transform="rotate(7.5 -8.8 133.5)"></circle><path d="M0 17.5L.6 7L0 2l-.6 5z"></path></g><use width="100%" height="100%" href="#IconifyId19135992cc35340293" transform="rotate(15)"></use></g><use width="100%" height="100%" href="#IconifyId19135992cc35340292" transform="rotate(30)"></use></g><use width="100%" height="100%" href="#IconifyId19135992cc35340291" transform="rotate(60)"></use></g><use width="100%" height="100%" href="#IconifyId19135992cc35340290" transform="rotate(120)"></use><use width="100%" height="100%" href="#IconifyId19135992cc35340290" transform="rotate(-120)"></use></g></svg>

                                            </div>
                                        <input type="tel" name="txtPhone" id="txtPhone" placeholder="+91">
                                        </div>
                                        <div class="options">
                                        <select id="ddlCountryCodeid" name="ddlCountryCode" class="form-control form-list">
                                        </select>
                                            
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group col-12">
                                <select name="HighestQualifcation" id="ddlHighestQualifcation">
                                      

                                    </select>
                                </div>

                                <div class="form-group col-12">
                                <select name="ddlCourseCodeId" id="ddlCourseCodeId" required="">
                                     

                                    </select>
                                </div>


                                <div class="form-group col-12">
                                <input type="text" name="txtCity" id="txtCity" placeholder="City" required="">
                                </div>

                                <div class="form-group col-12">
                                <select name="Programm" required="" id="ddlDestinationCodeid">
                                      
                                    </select>
                                </div>

                                <div class="form-group col-12">
                                <select name="PreferredCallBackTime" required="" id="ddlPreferredCallBackTime">
                                      

                                    </select>
                                </div>


                                <div class="form-group col-12 text-center">
                                 <input type="button" value="Submit" class="rn-btn edu-btn submit-btn" onclick="formValidation();" />
                                @* <button class="rn-btn edu-btn submit-btn" name="submit" type="submit" onclick="formValidation();">Submit Now <i class="icon-4"></i></button> *@
                               </div>
                            </div>
                        </form>
                   
                </div>
            </div>


            <div class="col-lg-7">
                <div class="banner-thumbnail mobile">
                    <div class="thumbnail">
                        <img src="/assets/images/banner/girl.png" alt="Girl Image">
                    </div>

                </div>


            </div>
           
        </div>
    </div>
   
</div>

<!-- Start Categories Area  -->
<div class="features-area-2">
    <div class="container">
        <div class="features-grid-wrap">
            <div class="features-box features-style-2 edublink-svg-animate">
                <div class="icon">
                    <img class="svgInject" src="/assets/images/animated-svg-icons/countries.png" alt="animated icon">
                </div>
                <div class="content">
                    <h5 class="title"><span>+ 41</span> Countries</h5>
                </div>
            </div>
            <div class="features-box features-style-2 edublink-svg-animate">
                <div class="icon">
                    <img class="svgInject" src="/assets/images/animated-svg-icons/university.png" alt="animated icon">
                </div>
                <div class="content">
                    <h5 class="title"><span>+ 126</span>Universities</h5>
                </div>
            </div>
            <div class="features-box features-style-2 edublink-svg-animate">
                <div class="icon certificate">
                    <img class="svgInject" src="/assets/images/animated-svg-icons/courses.png" alt="animated icon">
                </div>
                <div class="content">
                    <h5 class="title"><span>+18k</span>Courses</h5>
                </div>
            </div>
            <div class="features-box features-style-2">
                <div class="icon">
                    <img class="svgInject" src="/assets/images/animated-svg-icons/user.png" alt="animated icon">
                </div>
                <div class="content">
                    <h5 class="title"><span>+510k</span>Student Assisted</h5>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Categories Area  -->
<!--=====================================-->
<!--=       Categories Area Start      =-->
<!--=====================================-->
<!-- Start Categories Area  -->
<div class="edu-categorie-area categorie-area-2 edu-section-gap">
    <div class="container">
        <div class="section-title section-center">
            <h2 class="title">Choose Among Top Study Destinations</h2>
            <span class="shape-line"><i class="icon-19"></i></span>

        </div>
    </div>

    <div class="container  mt-5">
        <div class="row">
            <ul class="flag-row">
                <li>
                    <a href="/Destinations/europe">
                        <img src="/assets/images/flag/europe.png" class="flag">
                        <h5 class="title-flag"> Europe</h5>
                    </a>
                </li>
                <li>
                    <a href="/Destinations/uk">
                        <img src="/assets/images/flag/uk.png" class="flag">
                        <h5 class="title-flag"> UK</h5>
                    </a>
                </li>
                <li>
                    <a href="/Destinations/canada">
                        <img src="/assets/images/flag/canada.png" class="flag">
                        <h5 class="title-flag"> Canada</h5>
                    </a>
                </li>


                <li>
                    <a href="/Destinations/usa">
                        <img src="/assets/images/flag/usa.png" class="flag">
                        <h5 class="title-flag"> USA</h5>
                    </a>
                </li>

                <li>
                    <a href="/Destinations/new_zealand">
                        <img src="/assets/images/flag/newzealand.png" class="flag">
                        <h5 class="title-flag"> New Zealand</h5>
                    </a>

                </li>
                <li>
                    <a href="/Destinations/australia">
                        <img src="/assets/images/flag/australia.png" class="flag">
                        <h5 class="title-flag"> Australia</h5>
                    </a>
                    </a>
                </li>


        </div>
    </div>




</div>
<!-- End Categories Area  -->
<!--=====================================-->
<!--=       About Us Area Start      	=-->
<!--=====================================-->



<section class="why-choose-area-2 edu-section-gap" style="margin-bottom:60px;">
    <div class="container edublink-animated-shape">
        <div class="section-title section-center sal-animate gap">
            <span class="pre-title">Why choose Indo European</span>
            <h2 class="title">What <span class="color-secondary">We Offer</span> </h2>
            <span class="shape-line"><i class="icon-19"></i></span>
        </div>
        <div class="row g-5">
            <div class="col-lg-3 sal-animate">
                <div class="why-choose-box features-box color-primary-style">
                    <div class="icon">
                        <img src="/assets/images/icons/1.png">
                    </div>
                    <div class="content">
                        <h4 class="title">Career Counseling</h4>
                        <p>In order to provide exceptional services to students, we provide full-fledged information about.</p>
                    </div>
                    <div class="read-more">
                        <a href="/student/our_services"> <p><i class="fa fa-arrow-right"></i> Read More</p></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 sal-animate">
                <div class="why-choose-box features-box color-secondary-style">
                    <div class="icon">
                        <img src="/assets/images/icons/2.png">
                    </div>
                    <div class="content">
                        <h4 class="title">Country Selection</h4>
                        <p>Today, students are aspiring for grasping global opportunities and therefore they want to establish. </p>
                    </div>
                    <div class="read-more">
                        <a href="/student/our_services"> <p><i class="fa fa-arrow-right"></i> Read More</p></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 sal-animate">
                <div class="why-choose-box features-box color-extra08-style">
                    <div class="icon">
                        <img src="/assets/images/icons/3.png">
                    </div>
                    <div class="content">
                        <h4 class="title">University Selection</h4>
                        <p>After selecting the country, the next and major step is to select the University for pursuing higher. </p>
                    </div>
                    <div class="read-more">
                        <a href="/student/our_services"> <p><i class="fa fa-arrow-right"></i> Read More</p></a>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 sal-animate">
                <div class="why-choose-box features-box color-extra08-style">
                    <div class="icon">
                        <img src="/assets/images/icons/4.png">
                    </div>
                    <div class="content">
                        <h4 class="title">Course Selection</h4>
                        <p>This is one of the crucial stepsin the entire process of study abroad as it will determine the field of education.</p>
                    </div>
                    <div class="read-more">
                        <a href="/student/our_services"> <p><i class="fa fa-arrow-right"></i> Read More</p></a>
                    </div>
                </div>
            </div>
        </div>

        <br>
        <div class="row g-5">
            <div class="col-lg-3 sal-animate">
                <div class="why-choose-box features-box color-primary-style">
                    <div class="icon">
                        <img src="/assets/images/icons/5.png">
                    </div>
                    <div class="content">
                        <h4 class="title">Student Visa</h4>
                        <p>Student Visa Processing and Visa file preparation keeps high importance in the entire process.</p>
                    </div>
                    <div class="read-more">
                        <a href="/student/our_services"> <p><i class="fa fa-arrow-right"></i> Read More</p></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 sal-animate">
                <div class="why-choose-box features-box color-secondary-style">
                    <div class="icon">
                        <img src="/assets/images/icons/6.png">
                    </div>
                    <div class="content">
                        <h4 class="title">Accommodation</h4>
                        <p>Most of the students are totally unaware about the living expenses and accommodation part.  </p>
                    </div>
                    <div class="read-more">
                        <a href="/student/our_services"> <p><i class="fa fa-arrow-right"></i> Read More</p></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 sal-animate">
                <div class="why-choose-box features-box color-extra08-style">
                    <div class="icon">
                        <img src="/assets/images/icons/7.png">
                    </div>
                    <div class="content">
                        <h4 class="title">Education Loans</h4>
                        <p>Along with other services, we also have financial agents that provide complete guidance on education.</p>
                    </div>
                    <div class="read-more">
                        <a href="/student/our_services"> <p><i class="fa fa-arrow-right"></i> Read More</p></a>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 sal-animate">
                <div class="why-choose-box features-box color-extra08-style">
                    <div class="icon">
                        <img src="/assets/images/icons/8.png">
                    </div>
                    <div class="content">
                        <h4 class="title">Admission Formalities</h4>
                        <p>Being your career consultant, we are responsible to undergo all the admission and visa formalities.</p>
                    </div>
                    <div class="read-more">
                        <a href="/student/our_services"> <p><i class="fa fa-arrow-right"></i> Read More</p></a>
                    </div>
                </div>
            </div>



        </div>
        <ul class="shape-group">
            <li class="shape-5 sal-animate">
                <span></span>
            </li>
        </ul>
    </div>
    <ul class="shape-group">
        <li class="shape-1 scene sal-animate" style="transform: translate3d(0px, 0px, 0px) rotate(0.0001deg); transform-style: preserve-3d; backface-visibility: hidden; pointer-events: none;">
            <span data-depth="1" style="transform: translate3d(-6.7px, -12px, 0px); transform-style: preserve-3d; backface-visibility: hidden; position: relative; display: block; left: 0px; top: 0px;"></span>
        </li>
        <li class="shape-2 scene sal-animate" style="transform: translate3d(0px, 0px, 0px) rotate(0.0001deg); transform-style: preserve-3d; backface-visibility: hidden; pointer-events: none;">
            <img data-depth="-2" src="/assets/images/about/shape-13.png" alt="shape" style="transform: translate3d(5.2px, 9.4px, 0px); transform-style: preserve-3d; backface-visibility: hidden; position: relative; display: block; left: 0px; top: 0px;">
        </li>
        <li class="shape-3 scene sal-animate" style="transform: translate3d(0px, 0px, 0px) rotate(0.0001deg); transform-style: preserve-3d; backface-visibility: hidden; pointer-events: none;">
            <span data-depth="-1" style="transform: translate3d(6.7px, 12px, 0px); transform-style: preserve-3d; backface-visibility: hidden; position: relative; display: block; left: 0px; top: 0px;"></span>
        </li>
        <li class="shape-4 scene sal-animate" style="transform: translate3d(0px, 0px, 0px) rotate(0.0001deg); transform-style: preserve-3d; backface-visibility: hidden; pointer-events: none;">
            <img data-depth="2" src="/assets/images/about/shape-40.png" alt="shape" style="transform: translate3d(-3.5px, -7px, 0px); transform-style: preserve-3d; backface-visibility: hidden; position: relative; display: block; left: 0px; top: 0px;">
        </li>
    </ul>
</section>

<!--modal-->
<!--end-->
<!--=====================================-->
<!--=       Course Area Start      		=-->
<!--=====================================-->

<div class="modern-schooling-cta-wrapper edu-cta-banner-area-6 bg-image">
    <div class="container">
        <div class="edu-cta-banner">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <div class="thumbnail">
                        <img src="/assets/images/services/form.png" alt="girl image">
                    </div>
                    <ul class="shape-group">
                        <li class="shape-01 scene sal-animate" style="transform: translate3d(0px, 0px, 0px) rotate(0.0001deg); transform-style: preserve-3d; backface-visibility: hidden; pointer-events: none;">
                            <img data-depth="2.5" src="/assets/images/cta/shape-43.png" alt="shape" style="transform: translate3d(4.8px, -8px, 0px); transform-style: preserve-3d; backface-visibility: hidden; position: relative; display: block; left: 0px; top: 0px;">
                        </li>
                        <li class="shape-02 sal-animate">
                            <img src="/assets/images/cta/shape-42.png" alt="shape">
                        </li>
                        <li class="shape-03 scene sal-animate" style="transform: translate3d(0px, 0px, 0px) rotate(0.0001deg); transform-style: preserve-3d; backface-visibility: hidden; pointer-events: none;">
                            <img data-depth="-2" src="/assets/images/cta/shape-40.png" alt="shape" style="transform: translate3d(-5.7px, 9.4px, 0px); transform-style: preserve-3d; backface-visibility: hidden; position: relative; display: block; left: 0px; top: 0px;">
                        </li>
                        <li class="shape-04 scene sal-animate" style="transform: translate3d(0px, 0px, 0px) rotate(0.0001deg); transform-style: preserve-3d; backface-visibility: hidden; pointer-events: none;">
                            <img data-depth="2" src="/assets/images/cta/shape-38.png" alt="shape" style="transform: translate3d(4.4px, -8.2px, 0px); transform-style: preserve-3d; backface-visibility: hidden; position: relative; display: block; left: 0px; top: 0px;">
                        </li>
                    </ul>
                </div>
                <div class="col-lg-6">

                    <div class="contact-form" style="margin-top:50px; margin-bottom: 20px;">
                        <form class="rnt-contact-form rwt-dynamic-form" id="contact-form1">
                            <h3 class="title" style="padding: 10px 0px; color:#000;">Get in Touch </h3>
                            <div class="row row--10">
                                <div class="form-group col-lg-6">
                                    <input type="text" name="contact-name" id="txtFName_1" placeholder="Your Name">
                                </div>
                                <div class="form-group col-lg-6">
                                    <input type="email" name="contact-email" id="txtEmail_1" placeholder="Your Email">
                                </div>
                                <div class="form-group col-12">
                                    <div class="select-box">
                                        <div class="selected-option">
                                            <div>
                                                <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="img" width="1.34em" height="1em" viewBox="0 0 640 480" data-icon="flag:in-4x3" class="iconify iconify--flag"><path fill="#f93" d="M0 0h640v160H0z"></path><path fill="#fff" d="M0 160h640v160H0z"></path><path fill="#128807" d="M0 320h640v160H0z"></path><g transform="matrix(3.2 0 0 3.2 320 240)"><circle r="20" fill="#008"></circle><circle r="17.5" fill="#fff"></circle><circle r="3.5" fill="#008"></circle><g id="IconifyId19135992cc35340290"><g id="IconifyId19135992cc35340291"><g id="IconifyId19135992cc35340292"><g id="IconifyId19135992cc35340293" fill="#008"><circle r=".9" transform="rotate(7.5 -8.8 133.5)"></circle><path d="M0 17.5L.6 7L0 2l-.6 5z"></path></g><use width="100%" height="100%" href="#IconifyId19135992cc35340293" transform="rotate(15)"></use></g><use width="100%" height="100%" href="#IconifyId19135992cc35340292" transform="rotate(30)"></use></g><use width="100%" height="100%" href="#IconifyId19135992cc35340291" transform="rotate(60)"></use></g><use width="100%" height="100%" href="#IconifyId19135992cc35340290" transform="rotate(120)"></use><use width="100%" height="100%" href="#IconifyId19135992cc35340290" transform="rotate(-120)"></use></g></svg>

                                            </div>
                                            <input type="tel" name="txtPhone" id="txtPhone_1" placeholder="+91">
                                        </div>
                                        <div class="options">
                                            <select id="ddlCountryCodeid_1" name="ddlCountryCode_1" class="form-control form-list">
                                            </select>

                                        </div>
                                    </div>
                                </div>
                                <div class="form-group col-12">
                                    <select name="HighestQualifcation" id="ddlHighestQualifcation_1">
                                    </select>
                                </div>

                                <div class="form-group col-12">
                                    <select name="ddlCourseCodeId" id="ddlCourseCodeId_1" required="">
                                    </select>
                                </div>


                                <div class="form-group col-12">
                                    <input type="text" name="txtCity" id="txtCity_1" placeholder="City" required="">
                                </div>

                                <div class="form-group col-12">
                                    <select name="Programm" required="" id="ddlDestinationCodeid_1">
                                    </select>
                                </div>

                                <div class="form-group col-12">
                                    <select name="PreferredCallBackTime" required="" id="ddlPreferredCallBackTime_1">
                                    </select>
                                </div>


                                <div class="form-group col-12 text-center">
                                    <input type="button" value="Submit" class="rn-btn edu-btn submit-btn" onclick="btnclick();" />
@*                                     <button class="rn-btn edu-btn submit-btn" name="submit" type="submit" onclick="btnclick();">Submit Now <i class="icon-4"></i></button>
 *@                                </div>
                            </div>
                        </form>

@*                         <form class="rnt-contact-form rwt-dynamic-form" id="contact-form" method="POST" action="#">
                            <h3 class="title" style="padding: 10px 0px;">Get in Touch With Our Experts</h3>
                            <div class="row row--10">
                                <div class="form-group col-lg-6">
                                    <input type="text" name="contact-name" id="contact-name" placeholder="Your Name">
                                </div>
                                <div class="form-group col-lg-6">
                                    <input type="email" name="contact-email" id="contact-email" placeholder="Your Email">
                                </div>
                                <div class="form-group col-12">
                                    <div class="select-box">
                                        <div class="selected-option">
                                            <div>
                                                <span class="iconify" data-icon="flag:in-4x3"></span>

                                            </div>
                                            <input type="tel" name="tel" placeholder="+91">
                                        </div>
                                        <div class="options">
                                            <input type="text" class="search-box" placeholder="Search Country Name">
                                            <ol>
                                            </ol>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group col-12">
                                    <select name="Qualification" id="Qualification">
                                        <option value="Pursuing 12th">Highest Qualification</option>
                                        <option value="Intermediate">Intermediate</option>
                                        <option value="Bachelors">Bachelors</option>
                                        <option value="Masters">Masters</option>
                                        <option value="PHD">PHD</option>
                                        <option value="Diploma">Diploma </option>

                                    </select>
                                </div>

                                <div class="form-group col-12">
                                    <select name="Programm" id="contact-name" required="">
                                        <option value="Program Interested">Program Interested</option>
                                        <option value="Bachelors">Bachelors</option>
                                        <option value="Masters">Masters</option>
                                        <option value="Diploma">Diploma </option>
                                        <option value="PHD">PHD</option>

                                        <option value="PG Diploma">PG Diploma</option>

                                    </select>
                                </div>


                                <div class="form-group col-12">
                                    <input type="text" name="contact-name" id="" placeholder="City">
                                </div>

                                <div class="form-group col-12">
                                    <select name="Programm" required="">
                                        <option value="Choose Country">Choose Country</option>
                                        <option value="Canada">Canada</option>
                                        <option value="United Kingdom">United Kingdom </option>
                                        <option value="New Zealand">New Zealand</option>
                                        <option value="Australia">Australia</option>
                                        <option value="Ireland">Ireland</option>
                                        <option value="United States">United States </option>
                                        <option value="Europe">Europe</option>
                                        <option value="austria">Austria</option>
                                        <option value="armenia">Armenia</option>
                                        <option value="bulgaria">Bulgaria</option>
                                        <option value="cyprus">Cyprus</option>
                                        <option value="czech-republic">Czech Republic</option>
                                        <option value="denmark">Denmark</option>
                                        <option value="estonia">Estonia</option>
                                        <option value="france">France</option>
                                        <option value="germany">Germany</option>
                                        <option value="greece">Greece</option>
                                        <option value="georgia">Georgia</option>
                                        <option value="hungary">Hungary</option>
                                        <option value="switzerland">Switzerland</option>
                                        <option value="italy">Italy</option>
                                        <option value="ireland">Ireland</option>
                                        <option value="latvia">Latvia</option>
                                        <option value="lithuania">Lithuania</option>
                                        <option value="macedonia">Macedonia</option>
                                        <option value="malta">Malta</option>
                                        <option value="moldova">Moldova</option>
                                        <option value="ukraine">Ukraine</option>
                                        <option value="northern-cyprus">Northern Cyprus</option>
                                        <option value="norway">Norway</option>
                                        <option value="poland">Poland</option>
                                        <option value="romania">Romania</option>
                                        <option value="sweden">Sweden</option>
                                        <option value="spain">Spain</option>
                                    </select>
                                </div>

                                <div class="form-group col-12">
                                    <select name="Programm" required="">
                                        <option value="Best Time to Call">Best Time to Call</option>
                                        <option value="09am - 10am">09am - 10am</option>
                                        <option value="10am - 11am">10am - 11am</option>
                                        <option value="11am - 12pm">11am - 12pm</option>
                                        <option value="12pm - 01pm">12pm - 01pm </option>
                                        <option value="01pm - 02pm">01pm - 02pm</option>
                                        <option value="02pm - 03pm">02pm - 03pm</option>
                                        <option value="03pm - 04pm">03pm - 04pm</option>
                                        <option value="04pm - 05pm">04pm - 05pm </option>
                                        <option value="05pm - 06pm">05pm - 06pm</option>
                                        <option value="06pm - 07pm">06pm - 07pm</option>

                                    </select>
                                </div>


                                <div class="form-group col-12 text-center">
                                    <button class="rn-btn edu-btn submit-btn" name="submit" type="submit">Submit Now <i class="icon-4"></i></button>
                                </div>
                            </div>
                        </form>
 *@                    </div>
                </div>
            </div>
            <ul class="shape-group">
                <li class="shape-05 scene sal-animate" style="transform: translate3d(0px, 0px, 0px) rotate(0.0001deg); transform-style: preserve-3d; backface-visibility: hidden; pointer-events: none;">
                    <img data-depth="1.5" src="/assets/images/cta/shape-39.png" alt="shape" style="transform: translate3d(4.7px, -7.8px, 0px); transform-style: preserve-3d; backface-visibility: hidden; position: relative; display: block; left: 0px; top: 0px;">
                </li>

            </ul>
        </div>
    </div>
</div>






<div class="about-style-1" style="background: linear-gradient(95deg, #ffffff 0%, #f7f7f7 100%); padding-top:80px;">
    <div class="container">
        <div class="row g-5 align-items-center">

            <div class="col-lg-12">
                <div class="about-content">
                    <div class="section-title section-center align-items-center">
                        <span class="pre-title">About Indo European Study Abroad Consultant</span>
                        <h2 class="title" style="font-size: 30px; ">Right Advice Leads to Right Career  <span class="color-secondary">Our Experience Speaks</span></h2>
                        <span class="shape-line"><i class="icon-19"></i></span>
                        <p style="text-align: center;">
                            <b> Welcome to Indo-European,</b> your premier global education consultancy with over 20 years of excellence in connecting Indian students with prestigious international universities. We are dedicated to guiding students towards their academic goals and fostering strategic partnerships with top institutions worldwide. <br>
                            <b> A Legacy of Excellence </b>
                            For two decades, Indo-European has been a trusted leader in global education consultancy. Our extensive network and robust partnerships with top-ranking universities and educational institutions reflect our unwavering commitment to quality and success. We have built a reputation for delivering exceptional outcomes for students while gaining the respect and trust of our international partners.
                        </p>
                    </div>
                    <ul style="text-align: center; list-style:none;">
                        <li><a href="/home/about"><i class="fa fa-check "></i> Read More </a></li>

                    </ul>


                </div>
            </div>
        </div>

    </div>
    <img src="/assets/images/svg-icons/download.png">
</div>




<div class="edu-brand-area brand-area-1" style="background: linear-gradient(90deg, rgb(181 170 239) 0%, rgb(229 217 217) 45%, rgb(243 170 108) 100%);
    padding: 80px 0px 80px;">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="brand-section-heading">
                    <div class="section-title section-center sal-animate">
                        <span class="pre-title" style="color: #000;">Top Universities</span>
                        <h2 class="title">Our Partner Universities</h2>
                        <span class="shape-line"><i class="icon-19"></i></span>
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="features-area-9">
                    <div class="features-wrapper">
                        <div class="feature-wrap">
                            <div class="features-track">
                                <img class="features-icon" src="/assets/images/logos/1.png" alt="">

                                <img class="features-icon" src="/assets/images/logos/2.png" alt="">

                                <img class="features-icon" src="/assets/images/logos/3.png" alt="">

                                <img class="features-icon" src="/assets/images/logos/4.png" alt="">

                                <img class="features-icon" src="/assets/images/logos/5.png" alt="">

                                <img class="features-icon" src="/assets/images/logos/6.png" alt="">

                                <img class="features-icon" src="/assets/images/logos/7.png" alt="">

                            </div>

                            <div class="features-track">
                                <img class="features-icon" src="/assets/images/logos/8.png" alt="">

                                <img class="features-icon" src="/assets/images/logos/10.png" alt="">

                                <img class="features-icon" src="/assets/images/logos/11.png" alt="">

                                <img class="features-icon" src="/assets/images/logos/12.png" alt="">

                                <img class="features-icon" src="/assets/images/logos/13.png" alt="">

                                <img class="features-icon" src="/assets/images/logos/14.png" alt="">

                                <img class="features-icon" src="/assets/images/logos/15.png" alt="">

                            </div>

                            <div class="features-track">
                                <img class="features-icon" src="/assets/images/logos/1.png" alt="">

                                <img class="features-icon" src="/assets/images/logos/2.png" alt="">

                                <img class="features-icon" src="/assets/images/logos/3.png" alt="">

                                <img class="features-icon" src="/assets/images/logos/4.png" alt="">

                                <img class="features-icon" src="/assets/images/logos/5.png" alt="">

                                <img class="features-icon" src="/assets/images/logos/6.png" alt="">

                                <img class="features-icon" src="/assets/images/logos/7.png" alt="">

                            </div>

                            <div class="features-track">
                                <img class="features-icon" src="/assets/images/logos/8.png" alt="">

                                <img class="features-icon" src="/assets/images/logos/10.png" alt="">

                                <img class="features-icon" src="/assets/images/logos/11.png" alt="">

                                <img class="features-icon" src="/assets/images/logos/12.png" alt="">

                                <img class="features-icon" src="/assets/images/logos/13.png" alt="">

                                <img class="features-icon" src="/assets/images/logos/14.png" alt="">

                                <img class="features-icon" src="/assets/images/logos/15.png" alt="">

                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-12">
                <div class="features-area-9">
                    <div class="features-wrapper">
                        <div class="feature-wrap">
                            <div class="features-track">
                                <img class="features-icon" src="/assets/images/logos/16.png" alt="">

                                <img class="features-icon" src="/assets/images/logos/17.png" alt="">

                                <img class="features-icon" src="/assets/images/logos/18.png" alt="">

                                <img class="features-icon" src="/assets/images/logos/19.png" alt="">

                                <img class="features-icon" src="/assets/images/logos/20.png" alt="">

                                <img class="features-icon" src="/assets/images/logos/21.png" alt="">

                                <img class="features-icon" src="/assets/images/logos/22.png" alt="">

                            </div>

                            <div class="features-track">
                                <img class="features-icon" src="/assets/images/logos/23.png" alt="">

                                <img class="features-icon" src="/assets/images/logos/24.png" alt="">

                                <img class="features-icon" src="/assets/images/logos/25.png" alt="">

                                <img class="features-icon" src="/assets/images/logos/26.png" alt="">

                                <img class="features-icon" src="/assets/images/logos/27.png" alt="">

                                <img class="features-icon" src="/assets/images/logos/28.png" alt="">

                                <img class="features-icon" src="/assets/images/logos/29.png" alt="">

                            </div>


                            <div class="features-track">
                                <img class="features-icon" src="/assets/images/logos/16.png" alt="">

                                <img class="features-icon" src="/assets/images/logos/17.png" alt="">

                                <img class="features-icon" src="/assets/images/logos/18.png" alt="">

                                <img class="features-icon" src="/assets/images/logos/19.png" alt="">

                                <img class="features-icon" src="/assets/images/logos/20.png" alt="">

                                <img class="features-icon" src="/assets/images/logos/21.png" alt="">

                                <img class="features-icon" src="/assets/images/logos/22.png" alt="">

                            </div>


                            <div class="features-track">
                                <img class="features-icon" src="/assets/images/logos/23.png" alt="">

                                <img class="features-icon" src="/assets/images/logos/24.png" alt="">

                                <img class="features-icon" src="/assets/images/logos/25.png" alt="">

                                <img class="features-icon" src="/assets/images/logos/26.png" alt="">

                                <img class="features-icon" src="/assets/images/logos/27.png" alt="">

                                <img class="features-icon" src="/assets/images/logos/28.png" alt="">

                                <img class="features-icon" src="/assets/images/logos/29.png" alt="">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--=====================================-->
<!--=       CounterUp Area Start      	=-->







<div class="edu-blog-area blog-area-3  sales-coach-blog  edu-section-gap">
    <div class="container">
        <ul class="blog-section-title">
            <li>
                <div class="section-title section-left sal-animate">

                    <span class="pre-title">Latest Articles</span>
                    <h2 class="title">Get News with Indo European</h2>
                    <span class="shape-line"><i class="icon-19"></i></span>
                </div>
            </li>
            <li>
                <div class="blog-view-all sal-animate">
                    <a href="#" class="edu-btn">More Article <i class="icon-4"></i></a>
                </div>
            </li>
        </ul>
        <div class="row g-5">
            <!-- Start Blog Grid  -->
            <div class="col-lg-6 col-12 sal-animate">
                <div class="edu-blog blog-style-2 blog-style-10 first-large-blog">
                    <div class="inner">
                        <div class="thumbnail">
                            <a href="#">
                                <img src="/assets/images/blogs/1.jpg" alt="Blog Images">
                            </a>

                        </div>
                        <div class="content">

                            <h3 class="title blogh"><a href="#l">Study in UK, Canada, USA,  Australia & New Zealand </a></h3>
                            <ul class="blog-meta">
                                <li><i class="icon-27"></i>Sat, 29<sup>th</sup>June'24 </li>
                                <li><i class="icon-23"></i>11am to 5pm </li>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Blog Grid  -->
            <div class="col-lg-3 sal-animate">
                <div class="edu-blog blog-style-2 blog-style-10">
                    <div class="inner">
                        <div class="thumbnail">
                            <a href="#">
                                <img src="/assets/images/blogs/2.jpg" alt="Blog Images">
                            </a>
                        </div>
                        <div class="content">
                            <div class="category-wrap">
                                <a href="#" class="blog-category small-category">Study Abroad</a>
                            </div>
                            <h5 class="title"><a href="#">Top 7 Reasons to Study in Europe in 2024?</a></h5>
                            <ul class="blog-meta">
                                <li><i class="icon-27"></i>29 June, 2024</li>
                                <br>
                                <li><i class="icon-23 "></i>Study in Europe Day</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 sal-animate">
                <div class="edu-blog blog-style-2 blog-style-10">
                    <div class="inner">
                        <div class="thumbnail">
                            <a href="#">
                                <img src="/assets/images/blogs/3.jpg" alt="Blog Images">
                            </a>
                        </div>
                        <div class="content">
                            <div class="category-wrap">
                                <a href="#" class="blog-category small-category">Study Abroad</a>
                            </div>
                            <h5 class="title"><a href="#">Why Indian Students are choosing Ukraine for studying abroad?</a></h5>
                            <ul class="blog-meta">
                                <li><i class="icon-27"></i>29 June, 2024</li>
                                <li><i class="icon-23 "></i>Study in Europe Day</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
</script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="~/assets/js/config.js"></script>
<script src="~/assets/js/landingpage.js"></script>
<script src="/assets/js/main.js"></script>
<script src="/assets/js/jquery.min.js" type="text/javascript"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
