@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
    <div id="main-wrapper" class="main-wrapper">

   <div class="hero-banner hero-style-10">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6">
                        <div class="banner-content">
                            <h1 class="title text-white">Global Learning <span class="color-secondary text-white"></span> <br>Explore Opportunities and Experiences</h1>
                             <p class="text-white">Explore university rankings to identify reputable institutions.
                            </p><br>
                            <div class="banner-btn">
                                <p class="edu-btn">Find courses <i class="icon-4"></i></p>
                            </div>
                            <ul class="shape-group">
                                <li class="shape-1">
                                    <span></span>
                                </li>
                                <li class="shape-2 scene" style="transform: translate3d(0px, 0px, 0px) rotate(0.0001deg); transform-style: preserve-3d; backface-visibility: hidden; pointer-events: none;">
                                    <span data-depth="2.5" style="transform: translate3d(13.2px, -24.6px, 0px); transform-style: preserve-3d; backface-visibility: hidden; position: relative; display: block; left: 0px; top: 0px;"></span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="banner-thumbnail">
                            <div class="thumbnail">
                                <img src="assets/images/banner/flag-boy.webp" alt="flag-boy">
                            </div>
                             <div class="instructor-info">
                                <div class="inner">
                                    <div class="media">
                                        <div class="thumb">
                                            <img src="assets/images/banner/author-1.png" alt="Images">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Start Categories Area  -->
        <div class="features-area-2">
            <div class="container">
                <div class="features-grid-wrap">
                    <div class="features-box features-style-2">
                        <div class="icon">
                            <img class="svgInject" src="assets/images/animated-svg-icons/online-class.svg" alt="animated icon">
                        </div>
                        <div class="content">
                            <h5 class="title"><span>+ 41</span> Countries</h5>
                        </div>
                    </div>
                    <div class="features-box features-style-2">
                        <div class="icon">
                            <img class="svgInject" src="assets/images/animated-svg-icons/instructor.svg" alt="animated icon">
                        </div>
                        <div class="content">
                            <h5 class="title"><span>+ 126</span>Universities</h5>
                        </div>
                    </div>
                    <div class="features-box features-style-2">
                        <div class="icon certificate">
                            <img class="svgInject" src="assets/images/animated-svg-icons/certificate.svg" alt="animated icon">
                        </div>
                        <div class="content">
                            <h5 class="title"><span>+18k</span>Courses</h5>
                        </div>
                    </div>
                    <div class="features-box features-style-2">
                        <div class="icon">
                            <img class="svgInject" src="assets/images/animated-svg-icons/user.svg" alt="animated icon">
                        </div>
                        <div class="content">
                            <h5 class="title"><span>+510k</span>Student Assisted</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Categories Area  -->
        <!--=====================================-->
        <!--=       Categories Area Start      =-->
        <!--=====================================-->
       



        <!-- Start Categories Area  -->
        <div class="edu-categorie-area categorie-area-2 edu-section-gap">
            <div class="container">
                <div class="section-title section-center">
                    <h2 class="title">Choose Among Top Study Destinations</h2>
                    <span class="shape-line"><i class="icon-19"></i></span>
                </div>
            </div>

             <div class="container  mt-5">
					<div class="row">
						 <div class="col-lg-2 destination">
						   	<div> 
								<img src="assets/images/flag/europe.png" alt="europe-flag">
							 	<h5> Europe</h5>
							  </div>
						</div>
						
						<div class="col-lg-2 destination">
						   <a href="#"> 
							   <img src="assets/images/flag/uk.png" alt="uk-flag">
								<h5> UK</h5>
							</a>
						</div>
						  <div class="col-lg-2 destination">
							<div>
								<img src="assets/images/flag/canada.png" alt="canada-flag">
								<h5> Canada</h5>
							 </div>
						</div>
						 

						<div class="col-lg-2 destination">
							<div>
								<img src="assets/images/flag/usa.png" alt="usa-flag">
								<h5> USA</h5>
							</div>
						</div>
						<div class="col-lg-2 destination">
							 <div>
								<img src="assets/images/flag/newzealand.png" alt="new-zealand-flag">
								<h5> New Zealand</h5>
							</div>
						</div>
						   <div class="col-lg-2 destination">
							<div>
								<img src="assets/images/flag/australia.png" alt="australian-flag">
							 	<h5> Australia</h5>
							</div>
						</div>
						</div>
                 </div>
			 </div>
        <!-- End Categories Area  -->

        <!--=====================================-->
        <!--=       About Us Area Start      	=-->
        <!--=====================================-->
        <div class="about-style-1" style="background: linear-gradient(95deg, #ffffff 0%, #f7f7f7 100%);">
            <div class="container">
                <div class="row g-5 align-items-center">
                   
                    <div class="col-lg-12">
                        <div class="about-content">
                            <div class="section-title section-center align-items-center">
                                <span class="pre-title">About Indo European Study Abroad Consultant</span>
                                <h2 class="title" style="font-size: 30px; ">Right Advice leads to Right Career  <span class="color-secondary">Our Experience Speaks</span></h2>
                                <span class="shape-line"><i class="icon-19"></i></span>
                                <p style="text-align: center;">As premier Overseas Education Consultants in India, our esteemed partnerships with top ranked global universities position us as leaders in guiding aspiring students towards their international academic dreams. With a steadfast commitment to customer satisfaction, we prioritize fulfilling individual aspirations with tailored solutions and unwavering support.</p>
                            </div>
                            <ul style="text-align: center; list-style:none;">
                                <li><a href="about.aspx"><i class="fa fa-check "></i> Read More </a></li>
                            </ul>
                        </div>
                    </div>
                </div>
              
            </div>
            <img src="assets/images/svg-icons/download.png" alt="download-icon">
        </div>



        <!--=====================================-->
        <!--=       Course Area Start      		=-->
        <!--=====================================-->

        <div class="modern-schooling-cta-wrapper edu-cta-banner-area-6 bg-image">
            <div class="container">
                <div class="edu-cta-banner">
                    <div class="row justify-content-center">
                        <div class="col-lg-6">
                            <div class="thumbnail">
                                <img src="assets/images/services/form.png" alt="girl image">
                            </div>
                           
                        </div>
                        <div class="col-lg-6">

                           <div class="contact-form">
                           
                            <form class="rnt-contact-form rwt-dynamic-form" id="contact-form" method="POST" action="#">
                                 <h3 class="title" style="padding: 10px 0px;">Get in Touch With Our Expert</h3>
                                <div class="row row--10">
                                    <div class="form-group col-lg-6">
                                        <asp:TextBox ID="txtName" runat="server" name="contact-name" placeholder="Your Name*"></asp:TextBox>
                                    </div>
                                    <div class="form-group col-lg-6">
                                        <asp:TextBox ID="txtEmail" runat="server" name="contact-email" placeholder="Your Email*"></asp:TextBox>
                                    </div>
                                    <div class="form-group col-12">
                                        <div class="select-box">
                                            <div class="selected-option">
                                                <asp:DropDownList id="ddlCountryCode" class="iconify" name="CountryCode" runat="server" style="width:300px;">
													<asp:ListItem value="67">India (91)</asp:ListItem>   
													<asp:ListItem value="1">Afghanistan (93)</asp:ListItem>
													<asp:ListItem value="2">Albania (355)</asp:ListItem>
													<asp:ListItem value="3">Algeria (213)</asp:ListItem>
													<asp:ListItem value="4">American Samoa (684)</asp:ListItem>
													<asp:ListItem value="5">Angola (244)</asp:ListItem>
													<asp:ListItem value="6">Argentina (54)</asp:ListItem>
													<asp:ListItem value="7">Armenia (374)</asp:ListItem>
													<asp:ListItem value="8">Aruba (297)</asp:ListItem>
													<asp:ListItem value="9">Australia (61)</asp:ListItem>
													<asp:ListItem value="10">Austria (43)</asp:ListItem>
													<asp:ListItem value="11">Azerbaijan (994)</asp:ListItem>
													<asp:ListItem value="12">Bahrain (973)</asp:ListItem>
													<asp:ListItem value="13">Bangladesh (880)</asp:ListItem>
													<asp:ListItem value="14">Belarus (375)</asp:ListItem>
													<asp:ListItem value="15">Belgium (32)</asp:ListItem>
													<asp:ListItem value="16">Belize (501)</asp:ListItem>
													<asp:ListItem value="17">Bermuda (441)</asp:ListItem>
													<asp:ListItem value="18">Bhutan (975)</asp:ListItem>
													<asp:ListItem value="19">Bolivia (591)</asp:ListItem>
													<asp:ListItem value="20">Bosnia and Herzegovina (387)</asp:ListItem>
													<asp:ListItem value="21">Botswana (267)</asp:ListItem>
													<asp:ListItem value="22">Brazil (55)</asp:ListItem>
													<asp:ListItem value="23">Bulgaria (359)</asp:ListItem>
													<asp:ListItem value="24">Burkina Faso (226)</asp:ListItem>
													<asp:ListItem value="25">Burundi (257)</asp:ListItem>
													<asp:ListItem value="26">Cambodia (855)</asp:ListItem>
													<asp:ListItem value="27">Cameroon (237)</asp:ListItem>
													<asp:ListItem value="28">Canada (1)</asp:ListItem>
													<asp:ListItem value="29">China (86)</asp:ListItem>
													<asp:ListItem value="30">Colombia (57)</asp:ListItem>
													<asp:ListItem value="31">congo (242)</asp:ListItem>
													<asp:ListItem value="32">Congo Republic (243)</asp:ListItem>
													<asp:ListItem value="33">Cook Islands (682)</asp:ListItem>
													<asp:ListItem value="34">Costa Rica (506)</asp:ListItem>
													<asp:ListItem value="35">Croatia (385)</asp:ListItem>
													<asp:ListItem value="36">Cuba (53)</asp:ListItem>
													<asp:ListItem value="37">Cyprus (357)</asp:ListItem>
													<asp:ListItem value="38">Denmark (45)</asp:ListItem>
													<asp:ListItem value="39">Djibouti (253)</asp:ListItem>
													<asp:ListItem value="40">Dominican Republic (809)</asp:ListItem>
													<asp:ListItem value="41">Ecuador (593)</asp:ListItem>
													<asp:ListItem value="42">Egypt (20)</asp:ListItem>
													<asp:ListItem value="43">El Salvador (503)</asp:ListItem>
													<asp:ListItem value="44">Eritrea (291)</asp:ListItem>
													<asp:ListItem value="45">Ethiopia (251)</asp:ListItem>
													<asp:ListItem value="46">Falkland Islands (500)</asp:ListItem>
													<asp:ListItem value="47">Faroe Islands (298)</asp:ListItem>
													<asp:ListItem value="48">Finland (358)</asp:ListItem>
													<asp:ListItem value="49">France (33)</asp:ListItem>
													<asp:ListItem value="50">French Polynesia (689)</asp:ListItem>
													<asp:ListItem value="51">Gambia (220)</asp:ListItem>
													<asp:ListItem value="52">Georgia (995)</asp:ListItem>
													<asp:ListItem value="53">Germany (49)</asp:ListItem>
													<asp:ListItem value="54">Ghana (233)</asp:ListItem>
													<asp:ListItem value="55">Gibraltar (350)</asp:ListItem>
													<asp:ListItem value="56">Greece (30)</asp:ListItem>
													<asp:ListItem value="57">Greenland (299)</asp:ListItem>
													<asp:ListItem value="58">Guadeloupe (590)</asp:ListItem>
													<asp:ListItem value="59">Guam (671)</asp:ListItem>
													<asp:ListItem value="60">Guatemala (502)</asp:ListItem>
													<asp:ListItem value="61">Guyana (592)</asp:ListItem>
													<asp:ListItem value="62">Haiti (509)</asp:ListItem>
													<asp:ListItem value="63">Honduras (504)</asp:ListItem>
													<asp:ListItem value="64">Hong Kong (852)</asp:ListItem>
													<asp:ListItem value="65">Hungary (36)</asp:ListItem>
													<asp:ListItem value="66">Iceland (354)</asp:ListItem>

													<asp:ListItem value="68">Indonesia (62)</asp:ListItem>
													<asp:ListItem value="69">Iran (98)</asp:ListItem>
													<asp:ListItem value="70">Iraq (964)</asp:ListItem>
													<asp:ListItem value="71">Ireland (353)</asp:ListItem>
													<asp:ListItem value="72">Israel (972)</asp:ListItem>
													<asp:ListItem value="73">Italy (39)</asp:ListItem>
													<asp:ListItem value="74">Ivory Coast (225)</asp:ListItem>
													<asp:ListItem value="75">Japan (81)</asp:ListItem>
													<asp:ListItem value="76">Jordan (962)</asp:ListItem>
													<asp:ListItem value="77">Kenya (254)</asp:ListItem>
													<asp:ListItem value="78">Kiribati (686)</asp:ListItem>
													<asp:ListItem value="79">Kuwait (965)</asp:ListItem>
													<asp:ListItem value="80">KYRGYZ REPUBLIC (996)</asp:ListItem>
													<asp:ListItem value="81">Laos (856)</asp:ListItem>
													<asp:ListItem value="82">Latvia (371)</asp:ListItem>
													<asp:ListItem value="83">Lebanon (961)</asp:ListItem>
													<asp:ListItem value="84">Lesotho (266)</asp:ListItem>
													<asp:ListItem value="85">Liberia (231)</asp:ListItem>
													<asp:ListItem value="86">Libya (218)</asp:ListItem>
													<asp:ListItem value="87">Lithuania (370)</asp:ListItem>
													<asp:ListItem value="88">Luxembourg (352)</asp:ListItem>
													<asp:ListItem value="89">Macau (853)</asp:ListItem>
													<asp:ListItem value="90">Madagascar (261)</asp:ListItem>
													<asp:ListItem value="91">Malawi (265)</asp:ListItem>
													<asp:ListItem value="92">Malaysia (60)</asp:ListItem>
													<asp:ListItem value="93">Maldives (960)</asp:ListItem>
													<asp:ListItem value="94">Malta (356)</asp:ListItem>
													<asp:ListItem value="95">Marshall Islands (692)</asp:ListItem>
													<asp:ListItem value="96">Mauritania (222)</asp:ListItem>
													<asp:ListItem value="97">Mauritius (230)</asp:ListItem>
													<asp:ListItem value="98">Mexico (52)</asp:ListItem>
													<asp:ListItem value="99">Moldova (373)</asp:ListItem>
													<asp:ListItem value="100">Monaco (377)</asp:ListItem>
													<asp:ListItem value="101">Mongolia (976)</asp:ListItem>
													<asp:ListItem value="102">Morocco (212)</asp:ListItem>
													<asp:ListItem value="103">Mozambique (258)</asp:ListItem>
													<asp:ListItem value="104">Nauru (674)</asp:ListItem>
													<asp:ListItem value="105">Nepal (977)</asp:ListItem>
													<asp:ListItem value="106">Netherlands (31)</asp:ListItem>
													<asp:ListItem value="107">New Caledonia (687)</asp:ListItem>
													<asp:ListItem value="108">New Zealand (64)</asp:ListItem>
													<asp:ListItem value="109">Nicaragua (505)</asp:ListItem>
													<asp:ListItem value="110">Nigeria (234)</asp:ListItem>
													<asp:ListItem value="111">Norway (47)</asp:ListItem>
													<asp:ListItem value="112">Oman (968)</asp:ListItem>
													<asp:ListItem value="113">Pakistan (92)</asp:ListItem>
													<asp:ListItem value="114">Palau (680)</asp:ListItem>
													<asp:ListItem value="115">Panama (507)</asp:ListItem>
													<asp:ListItem value="116">Papua New Guinea (675)</asp:ListItem>
													<asp:ListItem value="117">Paraguay (595)</asp:ListItem>
													<asp:ListItem value="118">Peru (51)</asp:ListItem>
													<asp:ListItem value="119">Philippines (63)</asp:ListItem>
													<asp:ListItem value="120">Poland (48)</asp:ListItem>
													<asp:ListItem value="167">Portugal (351)</asp:ListItem>
													<asp:ListItem value="121">Puerto Rico (1)</asp:ListItem>
													<asp:ListItem value="122">Qatar (974)</asp:ListItem>
													<asp:ListItem value="123">Romania (40)</asp:ListItem>
													<asp:ListItem value="124">Russian Federation (7)</asp:ListItem>
													<asp:ListItem value="125">Rwanda (250)</asp:ListItem>
													<asp:ListItem value="126">San Marino (295)</asp:ListItem>
													<asp:ListItem value="127">Sao Tome and Principe (239)</asp:ListItem>
													<asp:ListItem value="128">Saudi Arabia (966)</asp:ListItem>
													<asp:ListItem value="129">Senegal (221)</asp:ListItem>
													<asp:ListItem value="130">Seychelles (248)</asp:ListItem>
													<asp:ListItem value="131">Sierra Leone (232)</asp:ListItem>
													<asp:ListItem value="132">Singapore (65)</asp:ListItem>
													<asp:ListItem value="133">Slovakia (42)</asp:ListItem>
													<asp:ListItem value="134">South Africa (27)</asp:ListItem>
													<asp:ListItem value="135">Spain (34)</asp:ListItem>
													<asp:ListItem value="136">Sri Lanka (94)</asp:ListItem>
													<asp:ListItem value="137">St. Helena (290)</asp:ListItem>
													<asp:ListItem value="138">St. Helena (290)</asp:ListItem>
													<asp:ListItem value="139">Sudan (249)</asp:ListItem>
													<asp:ListItem value="140">Suriname (597)</asp:ListItem>
													<asp:ListItem value="141">Sweden (46)</asp:ListItem>
													<asp:ListItem value="166">Switzerland (41)</asp:ListItem>
													<asp:ListItem value="142">Syria (963)</asp:ListItem>
													<asp:ListItem value="143">Taiwan (886)</asp:ListItem>
													<asp:ListItem value="144">Tanzania (255)</asp:ListItem>
													<asp:ListItem value="145">Thailand (66)</asp:ListItem>
													<asp:ListItem value="146">Togo (228)</asp:ListItem>
													<asp:ListItem value="147">Tokelau (690)</asp:ListItem>
													<asp:ListItem value="148">Tonga (676)</asp:ListItem>
													<asp:ListItem value="149">Trinidad and Tobago (1868)</asp:ListItem>
													<asp:ListItem value="150">Tunisia (216)</asp:ListItem>
													<asp:ListItem value="151">Turkey (90)</asp:ListItem>
													<asp:ListItem value="152">Turkmenistan (993)</asp:ListItem>
													<asp:ListItem value="153">Tuvalu (688)</asp:ListItem>
													<asp:ListItem value="154">Uganda (256)</asp:ListItem>
													<asp:ListItem value="155">Ukraine (380)</asp:ListItem>
													<asp:ListItem value="156">United Arab Emirates (971)</asp:ListItem>
													<asp:ListItem value="157">United Kingdom (44)</asp:ListItem>
													<asp:ListItem value="158">United States (1)</asp:ListItem>
													<asp:ListItem value="159">Uruguay (598)</asp:ListItem>
													<asp:ListItem value="160">Vanuatu (678)</asp:ListItem>
													<asp:ListItem value="161">Venezuela (58)</asp:ListItem>
													<asp:ListItem value="162">Yemen (967)</asp:ListItem>
													<asp:ListItem value="163">Zaire (243)</asp:ListItem>
													<asp:ListItem value="164">Zambia (260)</asp:ListItem>
													<asp:ListItem value="165">Zimbabwe (263)</asp:ListItem>
												</asp:DropDownList>
                                             
                                                
                                                <asp:TextBox ID="txtPhone" runat="server"  placeholder="Phone*"></asp:TextBox>                                               
                                          
                                           </div>
											  </div>
                                    </div>
                                    <div class="form-group col-12">
                                      
                                        <asp:DropDownList id="ddlqualification" class="iconify" name="Qualification" runat="server">
                                         <asp:ListItem value="0">Highest Qualification</asp:ListItem>
                                         <asp:ListItem value="131">Intermediate (12th)</asp:ListItem>
		                                 <asp:ListItem value="155">Bachelors Pursuing</asp:ListItem>
		                                 <asp:ListItem value="129">Bachelors</asp:ListItem>
		                                 <asp:ListItem value="57">Masters</asp:ListItem>
		                                 <asp:ListItem value="158">Diploma</asp:ListItem>
                                         <asp:ListItem value="160">PG Diploma</asp:ListItem>
                                       </asp:DropDownList>
                                   
                                    </div>

                                    <div class="form-group col-12">
                                        <asp:DropDownList id="ddlprogram" name="Programm" runat="server">
                                         <asp:ListItem value="0">Program Interested</asp:ListItem>
		                                 <asp:ListItem value="57">Masters</asp:ListItem>
		                                 <asp:ListItem value="155">Bachelors Pursuing</asp:ListItem>
		                                 <asp:ListItem value="164">IELTS</asp:ListItem>
		                                 <asp:ListItem value="161">Professional Courses</asp:ListItem>
                                         <asp:ListItem value="162">Technical Courses</asp:ListItem>
                                         <asp:ListItem value="163">Vocational Courses</asp:ListItem>
		                                 <asp:ListItem value="168">Pathway Program</asp:ListItem>
		                                 <asp:ListItem value="169">Language program</asp:ListItem>
		                                 <asp:ListItem value="7">Foundation</asp:ListItem>
		                                 <asp:ListItem value="171">Top up</asp:ListItem>
		                                  <asp:ListItem value="158">Diploma</asp:ListItem>
		                                  <asp:ListItem value="129">Bachelors</asp:ListItem>
		                                  <asp:ListItem value="167">VGTU Bachelor</asp:ListItem>
		                                  <asp:ListItem value="160">PG Diploma</asp:ListItem>
		                                   <asp:ListItem value="159">Doctoral or PHD</asp:ListItem>
		                                   <asp:ListItem value="165">Tourist Visa</asp:ListItem>
		                                   <asp:ListItem value="152">Other</asp:ListItem>
                                       </asp:DropDownList>                           
                                    </div>


                                    <div class="form-group col-12">                  
                                        <asp:TextBox ID="txtCity" runat="server" placeholder="City*"></asp:TextBox>
                                    </div>

                                    <div class="form-group col-12">
                                        <asp:DropDownList id="ddlcountry" name="Country" runat="server">
                                         <asp:ListItem value="0">Choose Country</asp:ListItem>
		                                 <asp:ListItem value="1">Afghanistan</asp:ListItem>
		<asp:ListItem value="297">Ajerbaijan</asp:ListItem>
		<asp:ListItem value="11">Australia</asp:ListItem>
		<asp:ListItem value="12">Austria</asp:ListItem>
		<asp:ListItem value="15">Bahrain</asp:ListItem>
		<asp:ListItem value="16">Bangladesh</asp:ListItem>
		<asp:ListItem value="17">Belarus</asp:ListItem>
		<asp:ListItem value="18">Belgium</asp:ListItem>
		<asp:ListItem value="27">Bulgaria</asp:ListItem>
		<asp:ListItem value="32">Canada</asp:ListItem>
		<asp:ListItem value="47">Cyprus</asp:ListItem>
		<asp:ListItem value="48">Czech Republic</asp:ListItem>
		<asp:ListItem value="49">Denmark</asp:ListItem>
		<asp:ListItem value="223">Dubai</asp:ListItem>
		<asp:ListItem value="58">Estonia</asp:ListItem>
		<asp:ListItem value="234">Europe</asp:ListItem>
		<asp:ListItem value="62">Finland</asp:ListItem>
		<asp:ListItem value="63">France</asp:ListItem>
		<asp:ListItem value="69">Georgia</asp:ListItem>
		<asp:ListItem value="70">Germany</asp:ListItem>
		<asp:ListItem value="73">Greece</asp:ListItem>
		<asp:ListItem value="294">Hong Kong</asp:ListItem>
		<asp:ListItem value="84">Hungary</asp:ListItem>
		<asp:ListItem value="85">Iceland</asp:ListItem>
		<asp:ListItem value="86">India</asp:ListItem>
		<asp:ListItem value="90">Ireland</asp:ListItem>
		<asp:ListItem value="92">Italy</asp:ListItem>
		<asp:ListItem value="96">Jordan</asp:ListItem>
		<asp:ListItem value="102">Kuwait</asp:ListItem>
		<asp:ListItem value="105">Latvia</asp:ListItem>
		<asp:ListItem value="106">Lebanon</asp:ListItem>
		<asp:ListItem value="111">Lithuania</asp:ListItem>
		<asp:ListItem value="112">Luxembourg</asp:ListItem>
		<asp:ListItem value="291">Malta</asp:ListItem>
		<asp:ListItem value="295">Mexico</asp:ListItem>
		<asp:ListItem value="138">Nepal</asp:ListItem>
		<asp:ListItem value="224">Netherlands</asp:ListItem>
		<asp:ListItem value="288">New Zealand</asp:ListItem>
		<asp:ListItem value="230">Northern Cyprus</asp:ListItem>
		<asp:ListItem value="148">Norway</asp:ListItem>
		<asp:ListItem value="267">Not Applicable</asp:ListItem>
		<asp:ListItem value="149">Oman</asp:ListItem>
		<asp:ListItem value="268">Other</asp:ListItem>
		<asp:ListItem value="150">Pakistan</asp:ListItem>
		<asp:ListItem value="296">Paris</asp:ListItem>
		<asp:ListItem value="158">Poland</asp:ListItem>
		<asp:ListItem value="159">Portugal</asp:ListItem>
		<asp:ListItem value="163">Romania</asp:ListItem>
		<asp:ListItem value="164">Russia</asp:ListItem>
		<asp:ListItem value="177">Singapore</asp:ListItem>
		<asp:ListItem value="289">Slovakia</asp:ListItem>
		<asp:ListItem value="290">Slovenia</asp:ListItem>
		<asp:ListItem value="183">South Africa</asp:ListItem>
		<asp:ListItem value="184">Spain</asp:ListItem>
		<asp:ListItem value="185">Sri Lanka</asp:ListItem>
		<asp:ListItem value="190">Sweden</asp:ListItem>
		<asp:ListItem value="191">Switzerland</asp:ListItem>
		<asp:ListItem value="265">Turkey</asp:ListItem>
		<asp:ListItem value="287">UK</asp:ListItem>
		<asp:ListItem value="206">Ukraine</asp:ListItem>
		<asp:ListItem value="207">United Arab Emirates</asp:ListItem>
		<asp:ListItem value="228">USA</asp:ListItem>

                                       </asp:DropDownList>
                                                                  
                                    </div>

                                      <div class="form-group col-12">
                                       <asp:DropDownList id="ddltimetocall" name="TimeToCall" runat="server">
                                         <asp:ListItem value="0">Best Time to Call</asp:ListItem>
		                                 
		<asp:ListItem value="1">10 AM - 11 AM</asp:ListItem>
		<asp:ListItem value="2">12 PM - 01 PM</asp:ListItem>
		<asp:ListItem value="3">04 PM - 05 PM</asp:ListItem>
		<asp:ListItem value="5">11 AM - 12 PM</asp:ListItem>
		<asp:ListItem value="7">01 PM - 02 PM</asp:ListItem>
		<asp:ListItem value="8">02 PM - 03 PM</asp:ListItem>
		<asp:ListItem value="9">03 PM - 04 PM</asp:ListItem>
		<asp:ListItem value="11">05 PM - 06 PM</asp:ListItem>
		<asp:ListItem value="12">09 AM - 10 AM</asp:ListItem>
		<asp:ListItem value="13">06 PM - 07 PM</asp:ListItem>
                                       </asp:DropDownList>                      
                                     </div>


                                    <div class="form-group col-12 text-center">
                                        <asp:Button runat="server" class="rn-btn edu-btn submit-btn" Text="Submit" ID="btnApply_1" OnClientClick = "Create_Lead();" OnClick="btnSubmit_Click_1" ValidationGroup="qryform"></asp:Button>
                                        
                                    </div>
                                    <div style="display: none;">
                                                        <asp:RequiredFieldValidator ID="RequiredFieldValidator1" runat="server"
                                                            ErrorMessage="Enter Name" ControlToValidate="txtName" Display="None"
                                                            ValidationGroup="qryform" SetFocusOnError="true"></asp:RequiredFieldValidator>
                                                        <asp:RequiredFieldValidator ID="RequiredFieldValidator2" runat="server"
                                                            ErrorMessage="Enter Email Address" ControlToValidate="txtEmail"
                                                            Display="None" ValidationGroup="qryform" SetFocusOnError="true"></asp:RequiredFieldValidator>
                                                        <asp:RegularExpressionValidator ID="RegularExpressionValidator1" runat="server"
                                                            ErrorMessage="Invalid Email Address" ControlToValidate="txtEmail"
                                                            Display="None" ValidationGroup="qryform" SetFocusOnError="true"
                                                            ValidationExpression="\w+([-+.']\w+)\w+([-.]\w+)*\.\w+([-.]\w+)*"></asp:RegularExpressionValidator>
                                                        <asp:RequiredFieldValidator ID="RequiredFieldValidator3" runat="server"
                                                            ErrorMessage="Enter Mobile Number" ControlToValidate="txtPhone"
                                                            Display="None" ValidationGroup="qryform" SetFocusOnError="true"></asp:RequiredFieldValidator>
                                                        
                                                        <asp:RequiredFieldValidator ID="RequiredFieldValidator4" runat="server"
                                                            ErrorMessage="Enter Current City" ControlToValidate="txtCity" Display="None"
                                                            ValidationGroup="qryform" SetFocusOnError="true"></asp:RequiredFieldValidator>
                                                        <asp:ValidationSummary ID="ValidationSummary1" runat="server" ShowMessageBox="true"
                                                            ValidationGroup="qryform" ShowSummary="False" />
                                                    </div>
                                </div>
                            </form>
                        </div>
                        </div>
                    </div>
                 
                </div>
            </div>
        </div>









        


        <section class="why-choose-area-2 edu-section-gap">
            <div class="container edublink-animated-shape">
                <div class="section-title section-center sal-animate gap">
                    <span class="pre-title">Why choose Indo European</span>
                    <h2 class="title">What <span class="color-secondary">We Offer</span> </h2>
                    <span class="shape-line"><i class="icon-19"></i></span>
                </div>
                <div class="row g-5">
                    <div class="col-lg-3">
                        <div class="why-choose-box features-box color-primary-style">
                            <div class="icon">
                                <img src="assets/images/icons/1.png">
                            </div>
                            <div class="content">
                                <h4 class="title">Career Counseling</h4>
                                <p>In order to provide exceptional services to students, we provide full-fledged information.</p>
                            </div>
                            <div class="read-more">
                             <a href="career-counselling.aspx"> <p><i class="fa fa-arrow-right"></i> Read More</p></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="why-choose-box features-box color-secondary-style">
                            <div class="icon">
                                <img src="assets/images/icons/2.png" alt="icon">
                            </div>
                            <div class="content">
                                <h4 class="title">Country Selection</h4>
                                <p>Today, students are aspiring for grasping global opportunities and therefore they want to establish. </p>
                            </div>
                            <div class="read-more">
                             <a href="country-selection.aspx"> <p><i class="fa fa-arrow-right"></i> Read More</p></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 sal-animate" data-sal-delay="150" data-sal="slide-up" data-sal-duration="800">
                        <div class="why-choose-box features-box color-extra08-style">
                            <div class="icon">
                               <img src="assets/images/icons/3.png" alt="icon">
                            </div>
                            <div class="content">
                                <h4 class="title">University Selection</h4>
                                <p>After selecting the country, the next and major step is to select the University for pursuing higher.</p>
                            </div>
                            <div class="read-more">
                             <a href="university-selection.aspx"> <p><i class="fa fa-arrow-right"></i> Read More</p></a>
                            </div>
                        </div>
                    </div>

                     <div class="col-lg-3 sal-animate" data-sal-delay="150" data-sal="slide-up" data-sal-duration="800">
                        <div class="why-choose-box features-box color-extra08-style">
                            <div class="icon">
                                <img src="assets/images/icons/4.png" alt="icon">
                            </div>
                            <div class="content">
                                <h4 class="title">Course Selection</h4>
                                <p>This is one of the crucial stepsin the entire process of study abroad as it will determine the field of education.</p>
                            </div>
                            <div class="read-more">
                             <a href="course-selection.aspx"> <p><i class="fa fa-arrow-right"></i> Read More</p></a>
                            </div>
                        </div>
                    </div>
                </div>

                <br>
                <div class="row g-5">
                    <div class="col-lg-3 sal-animate">
                        <div class="why-choose-box features-box color-primary-style">
                            <div class="icon">
                                <img src="assets/images/icons/5.png" alt="icon">
                            </div>
                            <div class="content">
                                <h4 class="title">Student Visa</h4>
                                <p>Student Visa Processing and Visa file preparation keeps high importance in the entire process of studying abroad.</p>
                            </div>
                            <div class="read-more">
                             <a href="student-visa.aspx"> <p><i class="fa fa-arrow-right"></i> Read More</p></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 sal-animate">
                        <div class="why-choose-box features-box color-secondary-style">
                            <div class="icon">
                                <img src="assets/images/icons/6.png" alt="icon">
                            </div>
                            <div class="content">
                                <h4 class="title">Accommodation</h4>
                                <p>Most of the students are totally unaware about the living expenses and accommodation part. So, we help. </p>
                            </div>
                            <div class="read-more">
                             <a href="accomodation.aspx"> <p><i class="fa fa-arrow-right"></i> Read More</p></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 sal-animate">
                        <div class="why-choose-box features-box color-extra08-style">
                            <div class="icon">
                               <img src="assets/images/icons/7.png" alt="icon">
                            </div>
                            <div class="content">
                                <h4 class="title">Education Loans</h4>
                                <p>Along with other services, we also have financial agents that provide complete guidance on education.</p>
                            </div>
                            <div class="read-more">
                             <a href="education-loan.aspx"> <p><i class="fa fa-arrow-right"></i> Read More</p></a>
                            </div>
                        </div>
                    </div>

                     <div class="col-lg-3 sal-animate">
                        <div class="why-choose-box features-box color-extra08-style">
                            <div class="icon">
                                <img src="assets/images/icons/8.png" alt="icon">
                            </div>
                            <div class="content">
                                <h4 class="title">Admission Formalities</h4>
                                <p>Being your career consultant, we are responsible to undergo all the admission and visa formalities.</p>
                            </div>
                            <div class="read-more">
                             <a href="admission-formalities.aspx"> <p><i class="fa fa-arrow-right"></i> Read More</p></a>
                            </div>
                        </div>
                    </div>


                    
                </div>
                <ul class="shape-group">
                    <li class="shape-5">
                        <span></span>
                    </li>
                </ul>
            </div>
           
        </section>


        

        


        

        <div class="edu-brand-area brand-area-1" style="background: linear-gradient(90deg, rgb(181 170 239) 0%, rgb(229 217 217) 45%, rgb(243 170 108) 100%);
    padding: 80px 0px 80px;">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="brand-section-heading">
                            <div class="section-title section-center">
                                <span class="pre-title" style="color: #000;">Top Universities</span>
                                <h2 class="title">Our Partner Universities</h2>
                               <span class="shape-line"><i class="icon-19"></i></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12">
                         <div class="features-area-9">
                                <div class="features-wrapper">
                                    <div class="feature-wrap">
                                        <div class="features-track">
                                            <img class="features-icon" src="assets/images/logos/1.png" alt="">
                                          
                                            <img class="features-icon" src="assets/images/logos/2.png" alt="">
                                          
                                            <img class="features-icon" src="assets/images/logos/3.png" alt="">
                                          
                                            <img class="features-icon" src="assets/images/logos/4.png" alt="">
                                            
                                            <img class="features-icon" src="assets/images/logos/5.png" alt="">
                                           
                                            <img class="features-icon" src="assets/images/logos/6.png" alt="">
                                            
                                            <img class="features-icon" src="assets/images/logos/7.png" alt="">
                                            
                                        </div>

                                         <div class="features-track">
                                            <img class="features-icon" src="assets/images/logos/8.png" alt="">
                                          
                                            <img class="features-icon" src="assets/images/logos/10.png" alt="">
                                          
                                            <img class="features-icon" src="assets/images/logos/11.png" alt="">
                                          
                                            <img class="features-icon" src="assets/images/logos/12.png" alt="">
                                            
                                            <img class="features-icon" src="assets/images/logos/13.png" alt="">
                                           
                                            <img class="features-icon" src="assets/images/logos/14.png" alt="">
                                            
                                            <img class="features-icon" src="assets/images/logos/15.png" alt="">
                                            
                                        </div>

                                        <div class="features-track">
                                            <img class="features-icon" src="assets/images/logos/1.png" alt="">
                                          
                                            <img class="features-icon" src="assets/images/logos/2.png" alt="">
                                          
                                            <img class="features-icon" src="assets/images/logos/3.png" alt="">
                                          
                                            <img class="features-icon" src="assets/images/logos/4.png" alt="">
                                            
                                            <img class="features-icon" src="assets/images/logos/5.png" alt="">
                                           
                                            <img class="features-icon" src="assets/images/logos/6.png" alt="">
                                            
                                            <img class="features-icon" src="assets/images/logos/7.png" alt="">
                                            
                                        </div>

                                         <div class="features-track">
                                            <img class="features-icon" src="assets/images/logos/8.png" alt="">
                                          
                                            <img class="features-icon" src="assets/images/logos/10.png" alt="">
                                          
                                            <img class="features-icon" src="assets/images/logos/11.png" alt="">
                                          
                                            <img class="features-icon" src="assets/images/logos/12.png" alt="">
                                            
                                            <img class="features-icon" src="assets/images/logos/13.png" alt="">
                                           
                                            <img class="features-icon" src="assets/images/logos/14.png" alt="">
                                            
                                            <img class="features-icon" src="assets/images/logos/15.png" alt="">
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </div>

                    <div class="col-lg-12">
                         <div class="features-area-9">
                                <div class="features-wrapper">
                                    <div class="feature-wrap">
                                        <div class="features-track">
                                            <img class="features-icon" src="assets/images/logos/16.png" alt="">
                                          
                                            <img class="features-icon" src="assets/images/logos/17.png" alt="">
                                          
                                            <img class="features-icon" src="assets/images/logos/18.png" alt="">
                                          
                                            <img class="features-icon" src="assets/images/logos/19.png" alt="">
                                            
                                            <img class="features-icon" src="assets/images/logos/20.png" alt="">
                                           
                                            <img class="features-icon" src="assets/images/logos/21.png" alt="">
                                            
                                            <img class="features-icon" src="assets/images/logos/22.png" alt="">
                                            
                                        </div>

                                         <div class="features-track">
                                            <img class="features-icon" src="assets/images/logos/23.png" alt="">
                                          
                                            <img class="features-icon" src="assets/images/logos/24.png" alt="">
                                          
                                            <img class="features-icon" src="assets/images/logos/25.png" alt="">
                                          
                                            <img class="features-icon" src="assets/images/logos/26.png" alt="">
                                            
                                            <img class="features-icon" src="assets/images/logos/27.png" alt="">
                                           
                                            <img class="features-icon" src="assets/images/logos/28.png" alt="">
                                            
                                            <img class="features-icon" src="assets/images/logos/29.png" alt="">
                                            
                                        </div>


                                         <div class="features-track">
                                            <img class="features-icon" src="assets/images/logos/16.png" alt="">
                                          
                                            <img class="features-icon" src="assets/images/logos/17.png" alt="">
                                          
                                            <img class="features-icon" src="assets/images/logos/18.png" alt="">
                                          
                                            <img class="features-icon" src="assets/images/logos/19.png" alt="">
                                            
                                            <img class="features-icon" src="assets/images/logos/20.png" alt="">
                                           
                                            <img class="features-icon" src="assets/images/logos/21.png" alt="">
                                            
                                            <img class="features-icon" src="assets/images/logos/22.png" alt="">
                                            
                                        </div>


                                          <div class="features-track">
                                            <img class="features-icon" src="assets/images/logos/23.png" alt="">
                                          
                                            <img class="features-icon" src="assets/images/logos/24.png" alt="">
                                          
                                            <img class="features-icon" src="assets/images/logos/25.png" alt="">
                                          
                                            <img class="features-icon" src="assets/images/logos/26.png" alt="">
                                            
                                            <img class="features-icon" src="assets/images/logos/27.png" alt="">
                                           
                                            <img class="features-icon" src="assets/images/logos/28.png" alt="">
                                            
                                            <img class="features-icon" src="assets/images/logos/29.png" alt="">
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
        </div>
        <!--=====================================-->
        <!--=       CounterUp Area Start      	=-->
        <div class="edu-blog-area blog-area-3  sales-coach-blog ">
            <div class="container">
                <ul class="blog-section-title">
                    <li>
                        <div class="section-title section-left sal-animate" data-sal-delay="150" data-sal="slide-up" data-sal-duration="800">
                            <span class="pre-title">Latest Articles</span>
                            <h2 class="title">Get News with Indo European</h2>
                            <span class="shape-line"><i class="icon-19"></i></span>
                        </div>
                    </li>
                    <li>
                        <div class="blog-view-all sal-animate" data-sal-delay="150" data-sal="slide-up" data-sal-duration="1200">
                            <a asp-controller="home" asp-action="index" class="edu-btn">More Article <i class="icon-4"></i></a>
                        </div>
                    </li>
                </ul>
                <div class="row g-5">
                    <!-- Start Blog Grid  -->
                    <div class="col-lg-6 col-12 sal-animate" data-sal-delay="50" data-sal="slide-up" data-sal-duration="800">
                        <div class="edu-blog blog-style-2 blog-style-10 first-large-blog">
                            <div class="inner">
                                <div class="thumbnail">
                                    <a asp-controller="home" asp-action="index">
                                        <img src="assets/images/blogs/1.jpg" alt="Blog Images">
                                    </a>
                                </div>
                                <div class="content">
                                      
                                        <h3 class="title blogh"><a asp-controller="home" asp-action="index">Study in UK, Canada, USA,  Australia & New Zealand </a></h3>
                                        <ul class="blog-meta">
                                            <li><i class="icon-27"></i>Sat, 20<sup>th</sup>Jan'24 </li>
											<li><i class="icon-23"></i>11am to 5pm </li>
                                            
                                        </ul>
                                    </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Blog Grid  -->
                    <div class="col-lg-3 sal-animate" data-sal-delay="100" data-sal="slide-up" data-sal-duration="800">
                        <div class="edu-blog blog-style-2 blog-style-10">
                            <div class="inner">
                                <div class="thumbnail">
                                    <a href="#">
                                       <img src="assets/images/blogs/2.jpg" alt="Blog Images">
                                    </a>
                                </div>
                                <div class="content">
                                    <div class="category-wrap">
                                        <a asp-controller="home" asp-action="index" class="blog-category small-category">Study Abroad</a>
                                    </div>
                                    <h5 class="title"><a href="#">Top 7 Reasons to Study in Europe in 2024?</a></h5>
                                    <ul class="blog-meta">
                                        <li><i class="icon-27"></i>25 Feb, 2023</li><br>
                                       <li><i class="icon-23 "></i>Study in Europe Day</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 sal-animate" data-sal-delay="100" data-sal="slide-up" data-sal-duration="800">
                        <div class="edu-blog blog-style-2 blog-style-10">
                            <div class="inner">
                                <div class="thumbnail">
                                    <a asp-controller="home" asp-action="index">
                                       <img src="assets/images/blogs/3.jpg" alt="Blog Images">
                                    </a>
                                </div>
                                <div class="content">
                                    <div class="category-wrap">
                                        <a asp-controller="home" asp-action="index" class="blog-category small-category">Study Abroad</a>
                                    </div>
                                    <h5 class="title"><a asp-controller="home" asp-action="index">Why Indian Students are choosing Ukraine for studying abroad?</a></h5>
                                    <ul class="blog-meta">
                                        <li><i class="icon-27"></i>27 Feb, 2023</li>
                                        <li><i class="icon-23 "></i>Study in Europe Day</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><br><br>
       
  <!--=====================================-->
		
		
		
		
	
		
		


    </div>
<!--Start Save Lead on CRM -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript">
    function Create_Lead() {
        //debugger
        //alert('Hello');
        var Fname = $("#txtName").val();
        var Lname = '';
        var CountryCodeid = $("#ddlCountryCode option:selected").val();
        var PhoneNo = $("#txtPhone").val();
        var WhatsappNo = '';
        var Emailid = $("#txtEmail").val();
        var EnquirySourceCategoryID = '2';
        var EnquirySourceID = '85';
        var EnqStageid = '8';
        var branchid = '21';
        var Country1 = $("#ddlCountry option:selected").val();
        var Levelid = $("#ddlprogram option:selected").val();
        var Intakeid = '';
        var Address1Citytext = '10';
        var Isstatusid = '1';
        var EnqDate = '';
        var Dob = '';
        var PrefferedCallBackTime = $("#ddltimetocall option:selected").val();
        var HighestQualifcation = $("#ddlqualification option:selected").val();
        $.ajax({
            url: 'https://crm.indoeuropean.in/WebService/Lead.asmx/OnlineLead?Fname=' + Fname + '&Lname=' + Lname + '&CountryCodeid=' + CountryCodeid + '&PhoneNo=' + PhoneNo + '&WhatsappNo=' + WhatsappNo + '&Emailid=' + Emailid + '&EnquirySourceCategoryID=' + EnquirySourceCategoryID + '&EnquirySourceID=' + EnquirySourceID + '&EnqStageid=' + EnqStageid + '&branchid=' + branchid + '&Country1=' + Country1 + '&Levelid=' + Levelid + '&Intakeid=' + Intakeid + '&Address1Citytext=' + Address1Citytext + '&Isstatusid=' + Isstatusid + '&EnqDate=' + EnqDate + '&Dob=' + Dob + '&PrefferedCallBackTime=' + PrefferedCallBackTime + '&HighestQualifcation=' + HighestQualifcation + '  ',
            //url: "https://crm.indoeuropean.in/WebService/Lead.asmx/OnlineLead?Fname=Avneesh&Lname=Test&CountryCodeid=67&PhoneNo=9878456732&WhatsappNo=&Emailid=rohan.tgt@gmail.com&EnquirySourceCategoryID=3&EnquirySourceID=47&EnqStageid=1&branchid=21&Country1=105&Levelid=132&Intakeid=&Address1Citytext=Delhi&Isstatusid=1&EnqDate=&Dob=&PrefferedCallBackTime=2&HighestQualifcation=",
            type: 'GET',
            dataType: 'json', // added data type
            success: function () {
                //alert("Query Submitted Successfully!");
            },
            error: function () {
                //alert("Query Submitted Failed!");
            }
        });
    }
</script>
<!-- End Save Lead on CRM -->
   
