@{
    ViewData["Title"] = "Terms and Conditions";
}

<div style="padding: 140px 100px;">
<h1 style="text-align: center;"><strong>1. Terms and Conditions</strong></h1>

<div style="padding:5px">
    <p>
        Please read these terms carefully before using the online payment facility. Using the online payment facility on this website indicates that you accept these terms. If you do not accept these terms, do not use this facility.
    </p>
    <p>
        The following terms and conditions shall apply to you as a client with access to the online payment system provided by Indo European Educational Services Pvt. Ltd., a company registered under the Registrar of Companies with registration number CIN-U80904DL2008PTC184987, having its registered office at Indo European Educational Services Pvt. Ltd., WZ1, 2nd floor, Ganesh Nagar, Tilak Nagar, Metro Pillar No - 535, Above ICICI Bank, New Delhi-110018.
    </p>

    <p>
        <b>i) Company's Obligations:</b>
    </p>
    <p>
        We may update these terms from time to time, and any changes will be effective immediately upon being set out here. Please ensure you are aware of the current terms.
    </p>
    <p>
        The description of online fee payment services is specific to your needs when you log in with your unique password. All fees quoted are in Indian Rupees. Indo European Educational Services Pvt. Ltd. reserves the right to change the fees at any time. Refer to the service confirmation against the fee before processing the payment.
    </p>

    <p>
        <b>ii) Liability:</b>
    </p>
    <p>
        Your payment will normally reach M/s. Indo European Educational Services Pvt. Ltd. within three working days.
    </p>
    <p>
        We cannot accept liability for a payment not reaching the correct Indo European Educational Services Pvt. Ltd. account due to incorrect account numbers or personal details. We also cannot accept liability if a payment is declined by the credit/debit card supplier.
    </p>

    <p>
        If the card supplier declines payment, M/s. Indo European Educational Services Pvt. Ltd. is under no obligation to notify you. You should check with your bank/credit/debit card supplier to confirm payment has been deducted from your account
    </p>

    <p>
        In no event will M/s. Indo European Educational Services Pvt. Ltd. be liable for damages arising out of the use or inability to use this site or linked sites.
    </p>

    <p>
        <b>iii) Confidentiality:</b>
    </p>
    <p>
        The company will maintain the confidentiality of each transaction and will not disclose commercially sensitive information, except as necessary for the services.
    </p>

    <p>
        <b>iv) Legislation:</b>
    </p>
    <p>
        These terms and conditions shall be governed in all respects as per RBI regulations.
    </p>


    <p>
        <b>v) Arbitration:</b>
    </p>
    <p>
        Disputes shall first be amicably settled by mutual dialogue. If unresolved, disputes shall be referred to arbitration. The arbitration proceedings shall be conducted by a single arbitrator appointed by Indo-European Pvt. Ltd. Directors. The arbitration shall take place in Delhi.
        <br />
        Exclusive jurisdiction: Any dispute shall be subject to the jurisdiction of the courts in the National Capital Territory (NCT) of Delhi.
    </p>

    <p>
        <b>vi) Contact::</b>
    </p>

    <p>For any questions regarding this policy, contact us at:</p>
    <ul>
        <li>Phone: +917042421152</li>
        <li>
            Email: info@indoeuropean.in
        </li>
    </ul>

</div>

<hr />
<h1 style="text-align: center;"><strong>2. Privacy Policy</strong></h1>

<div style="padding:5px">
    <p>
        <b>i) Our Principles:</b>
    </p>

    <p>
        1.	We protect user privacy through secure technologies.
    </p>
    <p>    2.	Marketing emails will only be sent by Indo European; we do not share emails with third parties without permission. </p>
    <p>   3.	We collect and use personal details only for legitimate business purposes. </p>
    <p>   4.	We are transparent about what information we collect and how it is used. </p>
    <p>
        5.	Personal data is used for its intended purpose and securely disposed of when no longer needed.
    </p>

    <p>
        <b>ii) How We Use Your Information:</b>
    </p>

    <p>
        We collect personal information to improve services, process applications, and manage student recruitment. Information collected includes name, contact details, business details, and payment information.
        <br />
        Sensitive information (e.g., academic/work history, passport details) is collected when necessary for application processes. By providing this information, you consent to its use as outlined in this policy.
    </p>

    <p>
        <b>iii) Data Protection:</b>
    </p>

    <p>
        We implement physical, electronic, and procedural safeguards to protect personal information. Users may request access to their information for a fee of Rs. 500/- by emailing info@indoeuropean.in.
    </p>

    <p>
        <b>iv) Third-Party Transfers:</b>
    </p>
    <p>
        Personal data is only shared with third parties under secure agreements that ensure protection and compliance with Indo European?s instructions.
    </p>

    <p>
        <b>v) Content Ownership:</b>
    </p>
    <p>
        Indo European retains ownership of photos/videos created by employees and students for testimonials, promotions, or general content. Indo European reserves the right to use, modify, or publish this content.
    </p>

    <p>
        <b>vi) Updates & Contact:</b>
    </p>
    <p>For policy updates or removal of personal information, contact:</p>
    <ul>
        <li>Indo European Educational Services Pvt. Ltd., WZ1, 2nd floor, Ganesh Nagar, Tilak Nagar, Metro Pillar No - 535, Above ICICI Bank, New Delhi-110018</li>
        <li>
            Email: info@indoeuropean.in
        </li>
    </ul>

    <p>Privacy Policy last modified: 30th May, 2023.</p>
</div>
<hr />
<h1 style="text-align: center"><strong>3. Refund and Cancellation Policy</strong></h1>
<div style="padding:5px">
    <p>
        <b>i) General Refund Policy:</b>
    </p>

    <p>
        1.	Refund policies are as per the guidelines provided in the welcome mail agreement between the client and company.
    </p>
    <p>  2.	If a client leaves Indo European before completing their course/training, no refund will be provided. </p>
    <p>  3.	Refunds, if applicable, are at the management?s discretion and will be made to the original debit/credit card used for payment. </p>
    <p>
        4.	If payment is mistakenly made, the amount will be refunded within 7 days upon submission of sufficient proof.
    </p>

    <p>
        <b>ii) Arbitration & Jurisdiction:</b>
    </p>

    <p>
        Any disputes will be settled first through mutual discussion. If unresolved, they shall be referred to arbitration in Delhi.
        <br />
        Exclusive jurisdiction: All disputes fall under the jurisdiction of the courts in the NCT of Delhi.
    </p>

    <p>
        <b>iii) Contact:</b>
    </p>
    <p>For questions regarding this policy, contact:</p>
    <ul>
        <li>Phone: +917042421152</li>
        <li>
            Email: info@indoeuropean.in
        </li>
    </ul>

    <p>Privacy Policy last modified: 30th May, 2023.</p>
</div>
<hr />
<h1 style="text-align: center"><strong>4. Shipping Policy</strong></h1>
<div style="padding:5px">
    <p>
        <b>i) General Policy:</b>
    </p>

    <p>
        Indo European provides consulting services for study abroad opportunities; therefore, shipping of physical products is not part of our services.
    </p>

    <p>
        <b>ii)Document and Passport Shipping:</b>
    </p>
    <p>
        Indo European facilitates document shipping (e.g., application forms, admission letters, passports) through trusted courier services to ensure timely and secure delivery.
    </p>
    <p>
        <b>iii) Courier Service Providers:</b>
    </p>
    <p>
        We collaborate with reputed courier services for domestic and international deliveries. The choice of service depends on destination, urgency, and reliability.
    </p>
    <p>
        <b>iv) Shipping Charges:</b>
    </p>
    <p>
        Shipping charges, if applicable, will be communicated to the client before dispatch. Charges vary based on the destination and courier service used.
    </p>

    <p><b>v)Contact:</b></p>
    <p>For questions regarding this policy, contact:</p>

    <ul>
        <li>Phone: +917042421152</li>
        <li>
            Email: info@indoeuropean.in
        </li>
    </ul>
</div>
</div>